﻿@using IMSReportAutomationModel;
@using IMSReportAutomationDAL;
@using IMSReportAutomationCommons.Helpers;
@{
    UserDAL userDAL = new UserDAL(new DBContext());
    UserModuleAccessHelper userModuleAccess = new UserModuleAccessHelper();
    Custom2IPrincipal customUser = User as Custom2IPrincipal;
    bool isUserCanAccess = false;
    if (customUser != null)
    {
        isUserCanAccess = userModuleAccess.isUserAccessModuleByRole("LayoutNavigationRestrictedMenu",int.Parse(customUser.RoleId.ToString()));
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - Indirect Material Supplier Report Automation</title>
    <link rel="icon" type="image/ico" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

   

    @*js Reference*@
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
  
    @*<script src="~/Scripts/plugin/jquery-ui/jquery-ui.js"></script>*@
    <script src="~/Scripts/core/components.js"></script>
    <script src="~/Scripts/core/default.js"></script>
    <script src="~/Scripts/plugin/swiper-master/dist/swiper.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/plugin/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/global/modal.js"></script>
    <script src="~/Scripts/plugin/selectize.js-master/dist/js/standalone/selectize.js"></script>

    @*CSS Reference*@
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="@Url.Content("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugin/swiper-master/dist/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugin/DataTables-1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/en-us.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/stylesheet.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="preloader-container">
        <div class="preloader-icon">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span id="preloader-text"></span>
        </div>
    </div>
    <div id="main-wrapper" style="overflow-x: hidden;" data-emerson-path="@Url.Content("~/")">
        <div class="cm-row">
            <header id="cm-header" class="global-header navbar navbar-fixed-top">
                <nav class="utility-nav">
                    <div class="padded-container">
                        <ul id="utility-nav-sign" class="horizontal-list"></ul>
                    </div>
                 @{ if (customUser != null)
                 { 
                    <div class="nav-sign-out">
                        <a href="@Url.Content("~/logout")" class="btn-2 btn-flat btn-rounded btn-icon-left btn-icon-signout cursor-pointer display-center color-white" style="color:#cecece;font-weight:500;font-size:.8125em">
                           
                         @Html.Action("GetBusinessUnitName", "Employee")   |    <span style="text-transform:capitalize">@customUser.UserName.ToString() |</span>    Logout  <i class="fa fa-sign-out"></i></a>
                    </div>
                } }
                </nav>
                <nav class="main-header">
                    <div class="main-header-content">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand emerson-logo-box">
                                <a href="https://emerson.com/en-us" classbox="" title="" class="emerson-logo__link">
                                    <div class="">
                                        <img class="cm-image emerson-logo__image" src="~/Content/images/emerson-logo-data-404.png" alt="Image of Emerson Logo" title="">
                                    </div>
                                    <span class="cm-visuallyhidden"></span>
                                </a>
                            </div>
                        </div>
                        <ul class="main-nav list-unstyled" id="main-nav">
                            @{ if (customUser != null)
                                {

                                    <li>
                                        <a id="homeUrl" href="@Url.Content("~/Home")" data-url="@Url.Content("~/Home")">Home</a>
                                    </li>
                                    <li>
                                        <a style="cursor:default" href="">Maintenance</a>
                                        <div class="sub-nav commercial-sub-nav collapse">
                                            <div class="mobile-top-link">
                                                <button type="button" class="back btn" aria-label="back"></button>
                                                <a class="" href="">Maintenance</a>
                                            </div>
                                            <div class="products">
                                                <ul class="list-unstyled menuList">
                                                    @{
                                                        if (isUserCanAccess)
                                                        {
                                                            <li><a class="" href="@Url.Content("~/Employee")" data-url="@Url.Content("~/Employee")">User Management</a></li>
                                                        }
                                                    }
                                                    <li><a class="" href="@Url.Content("~/Supplier")" data-url="@Url.Content("~/Supplier")">Supplier Maintenance</a></li>
                                                    @{
                                                        if (isUserCanAccess)
                                                        {
                                                            <li><a class="" href="@Url.Content("~/ScoringParameter")" data-url="@Url.Content("~/ScoringParameter")">Scoring Parameters</a></li>
                                                            <li><a class="" href="@Url.Content("~/Upload/Supplier")" data-url="@Url.Content("~/Upload/Supplier")">Upload Supplier</a></li>
                                                            <li><a class="" href="@Url.Content("~/Upload/SupplierPaymentTerms")" data-url="@Url.Content("~/Upload/SupplierPaymentTerms")">Upload Supplier Terms</a></li>
                                                            <li><a class="" href="@Url.Content("~/Upload/SupplierExpense")" data-url="@Url.Content("~/Upload/SupplierExpense")">Upload Supplier Expense</a></li>
                                                            <li><a class="" href="@Url.Content("~/Upload/SupplierScore")" data-url="@Url.Content("~/Upload/SupplierScore")">Upload Supplier Score</a></li>
                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                  
                                        if (isUserCanAccess)
                                        {
                                            <li>
                                                <a class="" hreft="#" style="cursor:default">Pre-Evaluation</a>
                                                <div class="sub-nav commercial-sub-nav collapse">
                                                    <div class="mobile-top-link">
                                                        <button type="button" class="back btn" aria-label="back"></button>
                                                        <a class="" href="">Stakeholder</a>
                                                    </div>
                                                    <div class="products">
                                                        <ul class="list-unstyled menuList">
                                                            <li><a class="" href="@Url.Content("~/StakeholderSupplierMapping")" data-url="@Url.Content("~/StakeholderSupplierMapping")">Stakeholder and Supplier Mapping</a></li>
                                                            <li><a class="" href="@Url.Content("~/CommunicationLetter")" data-url="@Url.Content("~/CommunicationLetter")">Communication Letter for Stakeholders</a></li>
                                                            <li><a class="" href="@Url.Content("~/SurveyRequest")" data-url="@Url.Content("~/SurveyRequest")">Survey Request</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                        
                                        <li>
                                            <a style="cursor:default">Reports</a>
                                            <div class="sub-nav commercial-sub-nav collapse">
                                                <div class="mobile-top-link">
                                                    <button type="button" class="back btn" aria-label="back"></button>
                                                    <a class="" href="">Reports</a>
                                                </div>
                                                <div class="products">
                                                    <ul class="list-unstyled menuList">
                                                        <li><a class="" href="@Url.Content("~/Supplier/SupplierStatus")" data-url="@Url.Content("~/Supplier/SupplierStatus")">Evaluation Status</a></li>
                                                        <li><a class="" href="@Url.Content("~/Supplier/SupplierStatusReport")" data-url="@Url.Content("~/Supplier/SupplierStatusReport")">Supplier Status</a></li>
                                                        <li><a class="" href="@Url.Content("~/GetWellProgram")" data-url="@Url.Content("~/GetWellProgram")">Get Well Program</a></li>
                                                        <li><a class="" href="@Url.Content("~/SupplierPerformance")" data-url="@Url.Content("~/SupplierPerformance")">Performance Report</a></li>
                                                        <li><a class="" href="@Url.Content("~/ScorePerSupplier")" data-url="@Url.Content("~/ScorePerSupplier")">Scorecards</a></li>
                                                        <li><a class="" href="@Url.Content("~/WorldWideSupplier")" data-url="@Url.Content("~/WorldWideSupplier")">Worldwide Supplier</a></li>
                                                        @if (isUserCanAccess)
                                                        {
                                                            <li><a class="" href="@Url.Content("~/ScorePerSupplier/SendReport")" data-url="@Url.Content("~/ScorePerSupplier/SendReport")">Scorecard Distribution</a></li>
                                                        }
                                                        <li><a class="" href="@Url.Content("~/CommonSupplier")" data-url="@Url.Content("~/CommonSupplier")">Common Supplier</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        }
                            }
                            <li>
                                <a href="#" onclick="contactModal();">Contact Us</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </header>
        </div>


        <main id="main">
            @*-- Lazy Loading --*@
            <div class="" style="visibility:hidden" id="spinner-background">
                <div class="" id="lazyload" data-options="large" role="progressbar" aria-valuetext="Loading…"></div>
                <p class="loading-text">Loading</p>
            </div>


            @RenderBody()


        </main>

        
        
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:transparent;padding:10px 15px 0 0;border:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="color:#000" aria-hidden="true">×</span>
                    </button>
                </div>

                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>*@
                <div class="modal-body" style="padding:5px 15px 15px 15px">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Content/images/Contact-us-banner.jpg" class="img-block" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 container-padding" style="padding: 50px 25px">
                            <h2 style="font-weight:400">Glenda Garzon</h2>
                            <h6 style="margin:0;font-size:1.3125em">Senior Operations Manager</h6>
                            <h6 style="margin:0;">Emerson Commercial & Residential Solutions</h6>
                            <h6 style="margin-top:0;margin-bottom: 15px;white-space:nowrap;">Administrator & Management</h6>
                            <p style="margin-bottom: 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis"><a href="mailto:glenda.garzon@emerson.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> glenda.garzon@emerson.com</a></p>
                            <p style="margin-bottom: 0;" x-ms-format-detection="none"><i class="fa fa-phone" aria-hidden="true"></i> +639178733681</p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Professional Tools</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 container-padding" style="padding: 50px 25px">
                            <h2 style="font-weight:400">Christy Linden</h2>
                            <h6 style="margin:0;font-size:1.3125em">Senior Commodity Manager</h6>
                            <h6 style="margin:0;">Emerson Commercial & Residential Solutions</h6>
                            <h6 style="margin-top:0;margin-bottom: 15px;white-space:nowrap;">Supply Chain/Logistics</h6>
                            <p style="margin-bottom: 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis"><a href="mailto:christy.linden@emerson.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Christy.Linden@emerson.com</a></p>
                            <p style="margin-bottom: 0;" x-ms-format-detection="none"><i class="fa fa-phone" aria-hidden="true"></i> +14403294757</p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Professional Tools</p>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

    <div class="cm-row">
        <div class="global-footer">
            <div class="bottom">
                <div class="padded-container">
                    <div class="row">
                        <div class="col-md-12">
                            <h6><strong style="font-weight:bold;font-size:12px">Emerson. Consider It Solved.™</strong></h6>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="font89 copyright">©@DateTime.Now.Year Emerson Electric Co. All rights reserved.</div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <ul class="sub-nav horizontal-list" role="navigation">
                                <li><a class="" href="http://www.emerson.com/en-us/privacy-notice">Privacy Notice</a></li>
                                <li><a class="" href="http://climate.emerson.com/en-us/sitemap">Sitemap</a></li>
                                <li><a class="" href="http://www.emerson.com/en-us/terms-of-use">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<footer>
        <div class="padded-container">
            <h3 class="font15 margin-btm-25">Emerson. Consider It Solved.™</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6" role="navigation">
                    <div class="font89 e-copyright">©@DateTime.Now.Year Emerson Electric Co. All rights reserved.</div>
                </div>
                <div class="col-xs-12 col-sm-6 margin-top-40">
                    <ul class="sub-nav horizontal-list font89" role="navigation">
                        <li><a class="" href="http://www.emerson.com/en-us/privacy-notice" target="_blank">Privacy Notice</a></li>
                        <li><a class="" href="http://www.emerson.com/en-us/sitemap" target="_blank">Sitemap</a></li>
                        <li><a class="" href="http://www.emerson.com/en-us/terms-of-use" target="_blank">Terms of Use</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>*@
    
    <script type="text/javascript">
        function copy_el(component) {
            var Component = $("#" + component).html();
            $('#copyComponent').html("Copy " + component);
            $('#codeGenerated').val(Component);


            //window.prompt("Copy to clipboard: Ctrl+C, Enter", Component);
        }
    </script>
    <!-- Swiper JS -->
    <!-- Initialize Swiper -->
    <script>
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      centeredSlides: true,
      slidesPerView: 'auto',
      touchRatio: 0.2,
      slideToClickedSlide: true,
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;

    </script>

    <!-- DATA Tables-->
    <script>
        $('#DataTable, #DataTableTypography').DataTable({
            "stripeClasses": []
        });

        function contactModal() {
            $('#exampleModal').modal();
        }
    </script>
    
   @* <script src="~/Scripts/core/copyClipboard-el.js"></script>*@
</body>
</html>
