﻿@{ 
    ViewBag.Title = "Access Required";
}


<div style="margin:250px 0" data-restricted-yn="true">
    <h1 style="text-align:center;background-color:#fff;color:#000">We're Sorry. You are not authorized to view this page or Requirements not meet to access this page.</h1>
</div>