﻿@model  List<IMSReportAutomationModel.UserLogs>
@{
    ViewBag.Title = "User Update Logs";
}
<style>
    .C027-table {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #userLogsTable_length {
        display: none;
    }

    #userLogsTable_filter {
        padding: 0px 30px 10px 0px;
    }

    #userLogsTable_info {
        margin-left: 20px;
    }

    .text-info {
        color: #00aa7e;
    }
</style>
<div class="row">
    <div class="rowheader" id="userLogs">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-user-circle">&nbsp;</i>User Update Logs</h2>
            @*<div class="cta-buttons">
                    <a id="btnAddEmployee" class="btn btn btn-white" href="#">
                        <span class="text-wrapper font5">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Employee
                        </span>
                    </a>
                </div>*@
        </div>
    </div>
</div>
<div id="dataTableUserLogs" data-maincontainer-yn="true" data-page-url="UserLogs">
    <div class="C027-table">
        <div class="padded-container" style="max-width: 100%;">
            <div class="table-container">
                <table id="userLogsTable" class="display" cellspacing="0" style="width:98%;">
                    <thead>

                        <tr style="background-color: #f0f0f0;">
                            <th style="width:15%;">Name</th>
                            <th style="width:15%;">Remarks</th>
                            <th style="width:15%;">Date Logged</th>
                            <th style="width:10%;">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IMSReportAutomationModel.UserLogs userLogs in Model)
                        {
                            <tr>
                                <td style="width:15%;">@userLogs.Employee.FullName</td>
                                <td style="width:15%;">@userLogs.LogRemarks</td>
                                <td style="width:15%;">@userLogs.Created</td>
                                <td style="width:10%;text-transform:capitalize">@userLogs.User.Username</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/page/userLogs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>