﻿@using IMSReportAutomationModel;
@using IMSReportAutomationCommons.Constants;
@model List<GetWellProgram>
@{
    IEnumerable<SelectListItem> fiscalYearList = (IEnumerable<SelectListItem>)ViewData["FiscalYear"];
    IEnumerable<SelectListItem> fiscalQuarterList = (IEnumerable<SelectListItem>)ViewData["FiscalQuarter"];
    User userLoggedIn = (User)ViewData["userLoggedIn"];
    int activeFyid = (int)ViewData["activeFyid"];
    int activeFqid = (int)ViewData["activeFqid"];
    Dictionary<int, string> points = (Dictionary<int, string>)ViewData["Points"];
    ViewBag.Title = "Get Well Program";
}
        <div class="row">
            <div class="rowheader getwellheader">
                @Html.Hidden("roleId", userLoggedIn.RoleID, new { @id = "roleId" })
                @Html.Hidden("activeFyid", activeFyid, new { @id = "activeFyid" })
                @Html.Hidden("activeFqid", activeFqid, new { @id = "activeFqid" })
                @Html.Hidden("gwpCount", Model.Count(), new { @id = "gwpCount" })
                <div class="col-xs-12">
                    <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-file">&nbsp;</i>Get Well Program</h2>
                    <div class="cta-buttons supplierbutton" @*style="display: inline-block; float: right; margin-right:100px"*@>
                        <a id="btnSaveGetWellProgram" class="btn btn-white" href="#" style="display: none;">


                            <span class="text-wrapper font5" id="btnSaveGetWellProgramText">
                                <i class="fa fa-plus" aria-hidden="false"></i>&nbsp;Add/Update in Get Well Program
                            </span>


                        </a>

                        @*<a id="btnClearGetWellProgram" class="btn btn-white" href="#" style="display: none;">
                            <span class="text-wrapper font5">
                                <i class="fa fa-minus" aria-hidden="false"></i>&nbsp;Clear Get Well Program
                            </span>
                        </a>*@

                        <a id="btnDownloadGetWellProgram" class="btn btn-white" href="#">
                            <span class="text-wrapper font5">
                                <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Get Well Program
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="DataTable-Sample" data-maincontainer-yn="true" data-page-url="GetWellProgram">
            <div class="C027-table">
                <div class="padded-container" style="max-width:100%">
                    <div class="table-container">
                        <div>
                            <h5 style="margin:15px">Suppliers to be listed on the chosen period to place in the Get Well Program</h5>
           

                            <table id="getWellTable" class="display" cellspacing="0" style="overflow:auto; width:98%; overflow:auto">
                                <thead>
                                    <tr style="background-color: #f0f0f0;">
                                        <th style="width:1%"></th>
                                        <th style="color: #000;width:15%">Supplier Name</th>
                                        <th style="width:10%">Supplier Region</th>
                                        <th style="width:12%">Supplier Category</th>
                                        <th style="width:15%">Business Unit</th>
                                        @foreach (KeyValuePair<int, string> kvp in points)
                                        {
                            <th style="width:3%" id="thpoint@(kvp.Key)">@kvp.Value</th>}
                                    </tr>
                                </thead>
                                <tbody id="getWellTbody">
                                    @foreach (GetWellProgram gwp in Model)
                                    {
                        <tr>
                            <td>
                                @if (gwp.ExistingGetWellProgramID > 0)
                                {
                                    if (userLoggedIn.RoleID == RoleConstants.Staff)
                                    {
                        <input type="checkbox" id="chkGetWell" data-buid="@gwp.BusinessUnit.BusinessUnitID" data-supplierId="@gwp.SupplierMaster.SupplierID" data-fyid="@gwp.FiscalYear.FYID" data-fqid="@gwp.FiscalQuarter.FQID" data-getwellid="@gwp.ExistingGetWellProgramID" checked disabled /> }
                                            else
                                            {
                        <input type="checkbox" id="chkGetWell" data-buid="@gwp.BusinessUnit.BusinessUnitID" data-supplierId="@gwp.SupplierMaster.SupplierID" data-fyid="@gwp.FiscalYear.FYID" data-fqid="@gwp.FiscalQuarter.FQID" data-getwellid="@gwp.ExistingGetWellProgramID" checked /> }
                                        }
                                        else
                                        {
                                            if (userLoggedIn.RoleID == RoleConstants.Staff)
                                            {
                        <input type="checkbox" id="chkGetWell" data-buid="@gwp.BusinessUnit.BusinessUnitID" data-supplierId="@gwp.SupplierMaster.SupplierID" data-fyid="@gwp.FiscalYear.FYID" data-fqid="@gwp.FiscalQuarter.FQID" disabled /> }
                                            else
                                            {
                        <input type="checkbox" id="chkGetWell" data-buid="@gwp.BusinessUnit.BusinessUnitID" data-supplierId="@gwp.SupplierMaster.SupplierID" data-fyid="@gwp.FiscalYear.FYID" data-fqid="@gwp.FiscalQuarter.FQID" />}
                                        }
                            </td>
                            <td>@gwp.SupplierMaster.SupplierName</td>
                            <td>@gwp.SupplierMaster.SupplierBuyingRegion.RegionDescription</td>
                            <td>@gwp.SupplierMaster.SupplierCategory.CategoryName</td>
                            <td>@gwp.BusinessUnit.BUName</td>
                            <td>@gwp.Point1%</td>
                            <td>@gwp.Point2%</td>
                            <td>@gwp.Point3%</td>
                            <td>@gwp.Point4%</td>
                        </tr>}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <script src="~/scripts/page/getwell.js"></script>
