﻿@{
    ViewBag.Title = "Worldwide Supplier";
}

<div class="row">
    <div class="rowheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-bar-chart">&nbsp;</i>Worldwide Supplier</h2>
            <div class="cta-buttons">
                <a id="btnGenerate" class="btn btn-white" href="#" style="background-color:#fff;margin:0px;height:40px">
                    <span class="text-wrapper font5" style="height:40px">
                        Generate
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div data-page-url="WorldwideSupplier" data-maincontainer-yn="true">
    <div style="margin-top:40px"></div>
    <div style="border-bottom:2px solid #004b8d;width:98%;margin:auto;color:#004b8d"><h2 style="font-weight:400">Number of Suppliers in the Program</h2></div><br />
    <div id="numberofsupplier" data-ss-yn="true"></div>
    <div style="margin:10px 0"></div>
    <div style="border-bottom:2px solid #004b8d;width:98%;margin:auto;color:#004b8d"><h2 style="font-weight:400">Indirect Supplier Performance</h2></div><br />
    <div id="indirectperformance" data-ss-yn="true"></div>
    <div style="margin-bottom:40px"></div>
</div>

<script src="~/Scripts/plugin/html2canvas/rgbcolor.min.js"></script>
<script src="~/Scripts/plugin/html2canvas/canvg.js"></script>
<script src="~/Scripts/plugin/html2canvas/es6-promise.min.js"></script>
<script src="~/Scripts/plugin/html2canvas/es6-promise.auto.js"></script>
@Scripts.Render("~/bundles/html2canvas")
@Scripts.Render("~/bundles/highchart")
<script src="~/Scripts/page/worldwidesupplier.js"></script>