﻿
@{
    ViewBag.Title = "Index";
}

<!-- JUMP NAV -->
<div class="jump-nav">
        <div class="navbar-wrapper">
            <nav class="navbar hidden-xs affix">
                <div class="padded-container">
                <ul id="jump-nav" class="nav navbar-nav">
                    <li style="width:25%" class="active"><a href="#HERO-SECTION"><span>H Components</span></a></li>
                    <li style="width:25%"><a href="#VN-SECTION"><span>VN Components</span></a></li>
                    <li style="width:25%"><a href="#C-SECTION"><span>C Components</span></a></li>
                    <li style="width:25%"><a href="#S-SECTION"><span>S Components</span></a></li>
                    <li style="width:25%"><a href="#E-SECTION"><span>Elements</span></a></li>
                    @*<hr style="width: 25%; visibility: visible; margin-left: 0px; transition-duration: 0.35s;" data-width-percentage="25">*@
                </ul>
                </div>
            </nav>
        </div>
    </div>

<div id="HERO-SECTION" class="component-main-container">

    <!-- H002 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>H002</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('H002')" data-toggle="modal" data-target="#exampleModal">

                <span><span class="text-wrapper">Copy H002</span></span>
            </button>
        </div>
        <div id="H002" class="component-container">
            <div class="H002-hero cm-container--carousel">
                <div class="content-wrapper">
                    <div class="image-container">
                        <img class="cm-image cm-teasable__picture cm-image--responsive" alt="H002_heating&amp;ac" title="H002 Placeholder" src="/content/images/Hero.jpg">
                    </div>
                    <div class="padded-container">
                        <div class="content">
                            <h1>H002 Title</h1>
                            <div class="p1">
                                <p>H002 Description.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- H002 Carousel -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>H002 Carousel</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('H002-hero')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy H002 Carousel</span></span>
            </button>
        </div>
        <div id="H002-hero">
            <div class="H002-hero cm-container--carousel">
                <div id="carousel1-6x0u6jnan002m5cac1w9bb2eb" class="cm-carousel carousel slide">
                    <ol class="carousel-indicators">
                        <li class="active"></li>
                        <li></li>
                    </ol>
                    <div class="cm-carousel-inner carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="image-container">
                                <img class="cm-image cm-teasable__picture cm-image--responsive" src="~/Content/images/Hero.jpg">
                            </div>
                            <div class="padded-container">
                                <div class="content">
                                    <h1>Bettis RGS Q-Series Valve Operating System</h1>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-container">
                                <img class="cm-image cm-teasable__picture cm-image--responsive" src="~/Content/images/Hero.jpg">
                            </div>
                            <div class="padded-container">
                                <div class="content">
                                    <h2>Bettis RGS Q-Series Valve Operating System (VOS)</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel1-6x0u6jnan002m5cac1w9bb2eb" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel1-6x0u6jnan002m5cac1w9bb2eb" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!-- H003 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>H003 - Mini Hero</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('H003')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy H003</span></span>
            </button>
        </div>
        <div id="H003" class="component-container">
            <div class="H003-mini-hero cm-container--superhero">
                <div class="content-wrapper">
                    <div class="image-container">
                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/Hero.jpg" alt="H002_heating&amp;ac" title="H002 Placeholder">
                    </div>
                    <div class="padded-container">
                        <ol class="breadcrumb">
                            <li><a class="" href="#">Breadcrumb Parent Link</a></li>
                            <li>Breadcrumb Current Link</li>
                        </ol> <div class="content">
                            <h1>H003 Title</h1>
                            <div class="p1">
                                <p>H003 Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="VN-SECTION" class="component-main-container">
    <!-- VN001 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>VN001</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('VN001')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy VN001</span></span>
            </button>
        </div>

        <div id="VN001" class="component-container">
            <div class="VN001-category-navigation-tiles clearfix">
                <div class="padded-container">
                    <h2>
                        VN001 Heading
                    </h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="nav-tile">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN.jpg" alt="H002_heating&amp;ac" title="VN001 Placeholder">
                                </div>
                                <div class="title">
                                    <p class="p5">VN001 Title</p>
                                </div>
                                <div class="content">
                                    <div class="p2">
                                        <p>VN001 Description.</p>
                                    </div>
                                    <div class="cta-buttons ">
                                        <a class="btn btn-primary btn-arrow" href="#">
                                            <span>
                                                <span class="text-wrapper">Learn More</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="nav-tile">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN.jpg" alt="H002_heating&amp;ac" title="VN001 Placeholder">
                                </div>
                                <div class="title">
                                    <p class="p5">VN001 Title</p>
                                </div>
                                <div class="content">
                                    <div class="p2">
                                        <p>VN001 Description.</p>
                                    </div>
                                    <div class="cta-buttons">
                                        <a class="btn btn-primary btn-arrow" href="#">
                                            <span>
                                                <span class="text-wrapper">Learn More</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="nav-tile">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN.jpg" alt="H002_heating&amp;ac" title="VN001 Placeholder">
                                </div>
                                <div class="title">
                                    <p class="p5">VN001 Title</p>
                                </div>
                                <div class="content">
                                    <div class="p2">
                                        <p>VN001 Description.</p>
                                    </div>
                                    <div class="cta-buttons">
                                        <a class="btn btn-primary btn-arrow" href="#">
                                            <span>
                                                <span class="text-wrapper">Learn More</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VN002 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>VN002</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('VN002')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy VN002</span></span>
            </button>
        </div>

        <div id="VN002" class="component-container">
            <div class="VN002-action-squares">
                <div class="padded-container">
                    <h2>VN002 Heading</h2>
                    <div class="row">
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="col-xs-12 content">
                                    <div class="title">
                                        <h3>VN002 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN002 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="col-xs-12 content">
                                    <div class="title">
                                        <h3>VN002 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN002 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="col-xs-12 content">
                                    <div class="title">
                                        <h3>VN002 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN002 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VN003 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>VN003</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('VN003')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy VN003</span></span>
            </button>
        </div>

        <div id="VN003" class="component-container">
            <div class="VN003-action-squares">
                <div class="padded-container">
                    <h2>VN003 Heading</h2>
                    <div class="row">
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN003.jpg" alt="VN003" title="VN003 Placeholder">
                                </div>
                                <div class="col-xs-12 content picture-content">
                                    <div class="title">
                                        <h3>VN003 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN003 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN003.jpg" alt="VN003" title="VN003 Placeholder">
                                </div>
                                <div class="col-xs-12 content picture-content">
                                    <div class="title">
                                        <h3>VN003 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN003 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN003.jpg" alt="VN003" title="VN003 Placeholder">
                                </div>
                                <div class="col-xs-12 content picture-content">
                                    <div class="title">
                                        <h3>VN003 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN003 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="action-square col-xs-12 col-sm-6 col-md-3">
                            <a href="#" target="_self">
                                <div class="image-container">
                                    <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/VN003.jpg" alt="VN003" title="VN003 Placeholder">
                                </div>
                                <div class="col-xs-12 content picture-content">
                                    <div class="title">
                                        <h3>VN003 Title</h3>
                                    </div>
                                    <div class="p1">
                                        <p>VN003 Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VN009 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>VN009</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('VN009')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy VN009</span></span>
            </button>
        </div>
        <div id="VN009">
            <div class="VN009-featured-visual-nav clearfix ">
                <div class="padded-container">
                    <h2>VN009</h2>
                    <div class="visual-nav-boxes row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="visual-nav-box">
                                <a href="#" target="_self">
                                    <div class="image-container">
                                        <img class="cm-image cm-image--responsive" src="https://emerson.com//resource/image/176610/portrait_ratio1x1/290/290/a50e3c521e94fba3d46995398a26657/eU/ppl-ref-man-tablet-001.jpg">
                                    </div>
                                    <div class="content">
                                        <h4><span>VN009 Item 1 Title</span></h4>
                                        <div class="p1a">
                                            <p>VN009 Item 1 Descrption</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="visual-nav-box">
                                <a href="#" target="_self">
                                    <div class="image-container">
                                        <img class="cm-image cm-image--responsive" src="https://emerson.com//resource/image/176610/portrait_ratio1x1/290/290/a50e3c521e94fba3d46995398a26657/eU/ppl-ref-man-tablet-001.jpg">
                                    </div>
                                    <div class="content">
                                        <h4><span>VN009 Item 2 Title</span></h4>
                                        <div class="p1a">
                                            <p>VN009 Item 2 Descrption</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="visual-nav-box">
                                <a href="#" target="_self">
                                    <div class="image-container">
                                        <img class="cm-image cm-image--responsive" src="https://emerson.com//resource/image/176610/portrait_ratio1x1/290/290/a50e3c521e94fba3d46995398a26657/eU/ppl-ref-man-tablet-001.jpg">
                                    </div>
                                    <div class="content">
                                        <h4><span>VN009 Item 3 Title</span></h4>
                                        <div class="p1a">
                                            <p>VN009 Item 3 Descrption</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="visual-nav-box">
                                <a href="#" target="_self">
                                    <div class="image-container">
                                        <img class="cm-image cm-image--responsive" src="https://emerson.com//resource/image/176610/portrait_ratio1x1/290/290/a50e3c521e94fba3d46995398a26657/eU/ppl-ref-man-tablet-001.jpg">
                                    </div>
                                    <div class="content">
                                        <h4><span>VN009 Item 4 Title</span></h4>
                                        <div class="p1a">
                                            <p>VN009 Item 4 Descrption</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VN015 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>VN015 Utility Belt</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('VN015')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy VN015</span></span>
            </button>
        </div>

        <div id="VN015" class="component-container">
            <div class="VN015-featured-navigation-banners">
                <div class="padded-container">
                    <div class="featured-navigation-banner">
                        <div class="image-container image-dimmer">
                            <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/Hero.jpg" alt="VN003" title="VN015">
                        </div>
                        <div class="content">
                            <div class="row">
                                <h2>VN015 Title</h2>
                                <div>
                                    <div class="p1">
                                        <p>VN015 Description</p>
                                    </div>
                                    <div class="cta-buttons ">
                                        <a class="btn btn-primary btn-arrow" href="/en-us/about-us/corporate-social-responsibility/supply-chain/materials-compliance?p13n_test=true&amp;p13n_testcontext=0&amp;previewToken=Kpyqjap2quCq6KsPWiqMiw" onclick="executeEventTagDA('Learn More', window.location.href, 'CTA Button', 'http://' + window.location.hostname + '/en-us/about-us/corporate-social-responsibility/supply-chain/materials-compliance?p13n_test=true&amp;p13n_testcontext=0&amp;previewToken=Kpyqjap2quCq6KsPWiqMiw', arrDAEvent, document.domain, 'en_US'); return true;">
                                            <span>
                                                <span class="text-wrapper">Learn More</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VN014 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>VN014</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('VN014')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy VN014</span></span>
            </button>
        </div>

        <div id="VN014" class="component-container">
            <div class="VN014-text-only-navigation-tiles">
                <div class="padded-container">
                    <div class="row">
                        <div class="col-xs-10 col-xs-push-1">
                            <h2>VN014 Heading</h2>
                            <div class="tiles clearfix">
                                <a href="#" class="tile" target="_self">
                                    <span><span class="underline">VN014 Title</span></span>
                                </a>
                                <a href="#" class="tile" target="_self">
                                    <span><span class="underline">VN014 Title</span></span>
                                </a>
                                <a href="#" class="tile" target="_self">
                                    <span><span class="underline">VN014 Title</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="C-SECTION" class="component-main-container">
    <!-- C010 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C010</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C010')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C010</span></span>
            </button>
        </div>
        <div id="C010" class="component-container">
            <div class="C010-big-feature-image-left clearfix">
                <div class="big-feature-inner">
                    <div class="image-container">
                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/C.jpg" alt="H002_heating&amp;ac" title="C010 Placeholder">
                    </div>
                    <div class="content">
                        <h2>C010 Title</h2>
                        <span class="p1">
                            <span>C010 Description</span>
                        </span>
                        <div class="cta-buttons ">
                            <a class="btn btn-primary btn-arrow" href="#">
                                <span>
                                    <span class="text-wrapper">C010 Primary Button</span>
                                </span>
                            </a>
                            <a class="btn btn-secondary btn-arrow" target="_blank" href="#">
                                <span>
                                    <span class="text-wrapper">C010 Secondary Button</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C011 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C011</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C011')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C011</span></span>
            </button>
        </div>
        <div id="C011" class="component-container">
            <div class="C011-big-feature-image-right clearfix">
                <div class="big-feature-inner">
                    <div class="image-container">
                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="/content/images/C.jpg" alt="H002_heating&amp;ac" title="C010 Placeholder">
                    </div>
                    <div class="content">
                        <h2>C011 Title</h2>
                        <span class="p1">
                            <span>C011 Description</span>
                        </span>
                        <div class="cta-buttons ">
                            <a class="btn btn-primary btn-arrow" href="#">
                                <span>
                                    <span class="text-wrapper">C011 Primary Button</span>
                                </span>
                            </a>
                            <a class="btn btn-secondary btn-arrow" target="_blank" href="#">
                                <span>
                                    <span class="text-wrapper">C011 Secondary Button</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- C015 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C015</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C015')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C015</span></span>
            </button>
        </div>
        <div id="C015" class="component-container">
            <div class="C015-utility-belt utility-belt">
                <div class="padded-container">
                    <div class="row">
                        <div class="utility-belt-item col-xs-12 col-sm-4">
                            <a href="#">
                                <div class="emerson-utility__picture-box">
                                    <img class="cm-image emerson-utility__picture" src="~/Content/images/contact-us-data.png" alt="Contact Us" title="Contact Us">
                                </div>
                                <h3>Utility Belt Title</h3>
                                <div>
                                    <p>Utility Belt Description.</p>
                                </div>
                            </a>
                        </div>
                        <div class="utility-belt-item col-xs-12 col-sm-4">
                            <a href="#">
                                <div class="emerson-utility__picture-box">
                                    <img class="cm-image emerson-utility__picture" src="~/Content/images/contact-us-data.png" alt="Contact Us" title="Contact Us">
                                </div>
                                <h3>Utility Belt Title</h3>
                                <div>
                                    <p>Utility Belt Description.</p>
                                </div>
                            </a>
                        </div>
                        <div class="utility-belt-item col-xs-12 col-sm-4">
                            <a href="#">
                                <div class="emerson-utility__picture-box">
                                    <img class="cm-image emerson-utility__picture" src="~/Content/images/contact-us-data.png" alt="Contact Us" title="Contact Us">
                                </div>
                                <h3>Utility Belt Title</h3>
                                <div>
                                    <p>Utility Belt Description.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C016 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C016</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C016')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy c016</span></span>
            </button>
        </div>
        <div id="C016">
            <div class="C016-horizontal-tabs horizontal-tabs">
                <div class="padded-container">
                    <h2>C016 Heading</h2>
                    <nav class="tabs-header clearfix">
                        <ul class="nav navbar-nav">
                            <li><a href="#" data-tab="tabComponent1" class="selected">Tab 1</a></li>
                            <li><a href="#" data-tab="tabComponent2" class="">Tab 2</a></li>
                        </ul>
                    </nav>
                    <div id="tabComponent1" class="tab-content">
                        <div class="C028-30-70-text-image">
                            <div class="padded-container">
                                <!-- Tab Content Goes Here -->
                                <h2>Tab 1 Title</h2>
                                <div class="p1">
                                    <p>Tab 1 Content</p>
                                </div>
                                <!-- End of Tab Content-->
                            </div>
                        </div>
                    </div>
                    <div id="tabComponent2" class="tab-content">
                        <div class="C028-30-70-text-image">
                            <div class="padded-container">
                                <!-- Tab Content Goes Here -->
                                <h2>Tab 2 Title</h2>
                                <div class="p1">
                                    <p>Tab 2 Content</p>
                                </div>
                                <!-- End of Tab Content-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C018 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C018</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C018')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C018</span></span>
            </button>
        </div>
        <div id="C018" class="component-container">
            <div class="C018-full-width-image padded-container clearfix ">
                <div class="visible-md-block visible-lg-block">
                    <a href="#" target="_blank">
                        <div class="image-container">
                            <img class="cm-image" src="/content/images/Hero.jpg" alt="Grind2Energy" title="Grind2Energy">
                        </div>
                    </a>
                </div>
                <div class="visible-sm-block">
                    <a href="#" target="_blank">
                        <div class="image-container">
                            <img class="cm-image" src="/content/images/Hero.jpg" alt="Helix - Sidebar" title="The Helix Innovation Center">
                        </div>
                    </a>
                </div>
                <div class="visible-xs-block">
                    <a href="#" target="_blank">
                        <div class="image-container">
                            <img class="cm-image" src="/content/images/Hero.jpg" alt="Helix Ribbon Cutting" title="Helix Ribbon Cutting">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- C025 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C025</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C025')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C025</span></span>
            </button>
        </div>
        <div id="C025">
            <div class="C025-video-carousel swiper-container gallery-top padded-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide video-container">
                        <iframe src="https://www.youtube.com/embed/OhVVbTsgUR8" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="swiper-slide video-container">
                        <iframe src="https://www.youtube.com/embed/OhVVbTsgUR8" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="swiper-slide video-container">
                        <iframe src="https://www.youtube.com/embed/OhVVbTsgUR8" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="C025-video-carousel swiper-container gallery-thumbs padded-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: url('../Content/images/VN.jpg');">
                        <div class="content-holder">
                            <h3 class="cm-teasable__headline">YouTube video with Embed Url</h3>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background: url('../Content/images/VN.jpg');">
                        <div class="content-holder">
                            <h3 class="cm-teasable__headline">YouTube video with Embed Url</h3>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background: url('../Content/images/VN.jpg');">
                        <div class="content-holder">
                            <h3 class="cm-teasable__headline">YouTube video with Embed Url</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C026 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C026</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C026')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C026</span></span>
            </button>
        </div>
        <div id="C026" class="component-container">
            <div class="C026-case-study-carousel clearfix ">
                <div class="padded-container">
                    <h2>C026 Heading</h2>
                    <div class="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="">
                                    <p class="p3 hidden-xs">C026 Sub Heading</p>
                                    <h3 class="hidden-xs">
                                       C026 Title
                                    </h3>
                                    <div class="image-container">
                                        <img class="cm-image cm-image--responsive" src="/content/images/VN003.jpg">
                                    </div> <div class="content">
                                        <p class="p3 visible-xs-block">Case Study</p>
                                        <h3 class="visible-xs-block">
                                            C026 Mobile Title
                                        </h3>
                                        <div class="p1">
                                            <p>C026 Description</p>
                                        </div>
                                        <div class="cta-buttons ">
                                            <a class="btn btn-tertiary btn-arrow" href="">
                                                <span>
                                                    <span class="text-wrapper">C026 Button</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- C027 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C027 Table</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C027')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C027</span></span>
            </button>
        </div>
        <div id="C027" class="component-container">
            <div class="C027-table">
                <div class="padded-container">
                    <div class="table-container">
                        <h3>C027 Table</h3>
                        <div class="richtext">
                            <table><tbody>
                                <tr>
                                    <td><br></td>
                                    <td><strong>Column 2</strong></td>
                                    <td><strong>Column 3</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Row 1 Column 1</strong></td>
                                    <td>Row 1 Column 2</td>
                                    <td>Row 1 Column 3</td>
                                </tr>
                                <tr>
                                    <td><strong>Row 2 Column 1</strong></td>
                                    <td>Row 2 Column 2</td>
                                    <td>Row 2 Column 3</td>
                                </tr>
                                <tr>
                                    <td><strong>Row 3 Column 1</strong></td>
                                    <td>Row 3 Column 2</td>
                                    <td>Row 3 Column 3</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="align--right"><strong>Text Outside the Table</strong></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C031 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C031</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C031')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C031</span></span>
            </button>
        </div>
        <div id="C031" class="component-container">
            <div class="C031-text-left-cta-right clearfix">
                <div class="padded-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <h2>
                                Portal Registration
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <div class="p1">
                                <p>Use this website to register for access to our online technical product database, and for access to the wholesaler, customer, and contractor portals.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-1">
                            <div class="cta-buttons ">
                                <a class="btn btn-primary btn-arrow" target="_blank" href="https://www.emersonclimatecustomer.com/webapp/wcs/stores/servlet/CTP01_RegUsrCntrCmd" onclick="executeEventTagDA('Register', window.location.href, 'CTA Button', 'https://www.emersonclimatecustomer.com/webapp/wcs/stores/servlet/CTP01_RegUsrCntrCmd', arrDAEvent, coreMetricsCustom.getDomainExt(document.domain), coreMetricsCustom.replaceLocale('en_US')); return true;">
                                    <span>
                                        <span class="text-wrapper">Register</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C033 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C033</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C033')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C033</span></span>
            </button>
        </div>
        <div id="C033">
            <div class="C033-centered-featured-copy">
                <div class="padded-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <h2>C033 Title</h2>
                            <div class="p1">
                                <p>Centered Feature Copy Description. Lorem ipsum dolor sit amet amaritus doblemimus tulongus mgoatasos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C034 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C034</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C034')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C034</span></span>
            </button>
        </div>
        <div id="C034">
            <div class="C034-rich-copy-area padded-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content">
                            <ul>
                                <li>Sample Unordered List within C034</li>
                                <li>Sample Unordered List within C034</li>
                                <li>Sample Unordered List within C034</li>
                            </ul>
                            <p>Sample paragraph within C034</p>
                            <p>Sample paragraph within C034</p>
                            <p>Sample <a href="#">Link</a> within C034</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C035 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C035</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C035')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C035</span></span>
            </button>
        </div>
        <div id="C035" class="component-container">
            <div class="C035-featured-profile padded-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="image-container">
                            <img class="cm-image cm-image--responsive" src="/content/images/C.jpg">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <div class="content">
                            <h2 class="name">C035 - Featured Profile</h2>
                            <p class="p1 title"></p>
                            <div class="quote">
                                <p>Some text goes here about a picture of someone over there.</p>
                                <p>Fill in some more text</p>
                                <p>Just like this so that the text fills the page and looks good and people like this and the regression testers think this awesome page passes their tests.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- C044 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>C044</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('C044')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy C034</span></span>
            </button>
        </div>
        <div id="C044">
            <div class="C044-rich-copy-wide-area padded-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content">
                            <h2>C044 is same as C034 but with copy-wide area.</h2>
                            <ul>
                                <li>Sample Unordered List within C044</li>
                                <li>Sample Unordered List within C044</li>
                                <li>Sample Unordered List within C044</li>
                            </ul>
                            <p>Sample paragraph within C044</p>
                            <p>Sample paragraph within C044</p>
                            <p>Sample <a href="#">Link</a> within C044</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="S-SECTION" class="component-main-container">
    <!-- SE004 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>SE044</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('SE004')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy S044</span></span>
            </button>
        </div>
        <div id="SE044">
            <div class="SE004-search-box-inline inline-search padded-container">
                <h2>Search Field</h2>
                <form id="cm-inline-search-form" class="cm-search cm-inline-search--form" method="post" action="/dynamic/en-us/wcsextendedsearch" role="search" autocomplete="false">
                    <div class="row">
                        <div class="col-xs-7 col-sm-9">
                            <label for="searchterm" class="cm-search__label sr-only"></label>
                            <input class="search_input" id="InlineSimpleSearchForm_SearchTerm" type="search" name="query" value="" placeholder="Input text placeholder" autocomplete="off">
                        </div>
                        <div class="col-xs-5 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-arrow">
                                <span>
                                    <span class="text-wrapper">Search</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="E-SECTION" class="component-main-container">
    <!-- BUTTONS -->
    <div id="Buttons" class="cm-row">
        <div class="title-copy">
            <h2>Buttons</h2>
        </div>
        <div class="padded-container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="cta-buttons">
                        <a class="btn btn-primary btn-arrow" href="#" onclick="copy_el('btn-primary')" data-toggle="modal" data-target="#exampleModal">
                            <span>
                                <span class="text-wrapper">Copy Me </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="cta-buttons">
                        <a class="btn btn-secondary btn-arrow" href="#" onclick="copy_el('btn-secondary')" data-toggle="modal" data-target="#exampleModal">
                            <span>
                                <span class="text-wrapper">Copy Me </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="cta-buttons">
                        <a class="btn btn-tertiary btn-arrow" href="#" onclick="copy_el('btn-tertiary')" data-toggle="modal" data-target="#exampleModal">
                            <span>
                                <span class="text-wrapper">Copy Me </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="cta-buttons">
                        <a class="btn btn-primary btn-download" href="#" onclick="copy_el('btn-download')" data-toggle="modal" data-target="#exampleModal">
                            <span>
                                <span class="text-wrapper">Download Button<span class="arrow"></span></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HIDDEN BUTTONS FOR COPY -->
    <div class="hidden">
        <div id="btn-primary" class="component-container">
            <div class="cta-buttons">
                <a class="btn btn-primary btn-arrow" href="#">
                    <span>
                        <span class="text-wrapper">Copy Me </span>
                    </span>
                </a>
            </div>
        </div>
        <div id="btn-secondary" class="component-container">
            <div class="cta-buttons">
                <a class="btn btn-secondary btn-arrow" href="#">
                    <span>
                        <span class="text-wrapper">Copy Me </span>
                    </span>
                </a>
            </div>
        </div>
        <div id="btn-tertiary" class="component-container">
            <div class="cta-buttons">
                <a class="btn btn-tertiary btn-arrow" href="#">
                    <span>
                        <span class="text-wrapper">Copy Me </span>
                    </span>
                </a>
            </div>
        </div>
        <div id="btn-download" class="component-container">
            <div class="cta-buttons">
                <a class="btn btn-primary btn-download" href="#">
                    <span>
                        <span class="text-wrapper">Download Button<span class="arrow"></span></span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <!-- SELECT -->
    <div id="Select" class="cm-row">
        <div class="title-copy">
            <h2>Select Field</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('Selects')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy Select Field</span></span>
            </button>
        </div>
        <div class="cm-row">
            <div id="Selects" class="padded-container">
                <div class="select-wrapper">
                    <select class="fsrVisible">
                        <option value="">United States of America</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- BreadCrumb -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>Bread Crumb</h2>
            <button class="btn btn-primary btn-arrow" onclick="copy_el('Breadcrumb')" data-toggle="modal" data-target="#exampleModal">
                <span><span class="text-wrapper">Copy Breadcrumb</span></span>
            </button>
        </div>
        <div id="Breadcrumb">
            <div class="cm-row bg-richblack" id="nav-bar-custom">
                <div class="breadcrumb-container padded-container">
                    <ul class="breadcrumb-list">
                        <li class="active cursor-pointer"><a href="#">Home</a></li>
                        <li><a href="#">Inner Page</a></li>
                        <li>Current Page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Component -->
@*<div class="cm-row">
    <div class="title-copy">
        <h2>Component</h2>
        <button class="btn btn-primary btn-arrow" onclick="copy_el('C015')" data-toggle="modal" data-target="#exampleModal">
            <span><span class="text-wrapper">Copy </span></span>
        </button>
    </div>
    <div id="C015">
        
    </div>
</div>*@

<div class="cm-row">
    <div class="title-copy">
        <h2>Data Tables</h2>
        <button class="btn btn-primary btn-arrow" onclick="copy_el('DataTable-Sample')" data-toggle="modal" data-target="#exampleModal">
            <span><span class="text-wrapper">Copy </span></span>
        </button>
    </div>
    <div id="DataTable-Sample">

        <div class="C027-table">
            <div class="padded-container">
                <div class="table-container">
                    <table id="DataTableTypography" class="display" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>$86,000</td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2012/03/29</td>
                                <td>$433,060</td>
                            </tr>
                            <tr>
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008/11/28</td>
                                <td>$162,700</td>
                            </tr>
                            <tr>
                                <td>Brielle Williamson</td>
                                <td>Integration Specialist</td>
                                <td>New York</td>
                                <td>61</td>
                                <td>2012/12/02</td>
                                <td>$372,000</td>
                            </tr>
                            <tr>
                                <td>Herrod Chandler</td>
                                <td>Sales Assistant</td>
                                <td>San Francisco</td>
                                <td>59</td>
                                <td>2012/08/06</td>
                                <td>$137,500</td>
                            </tr>
                            <tr>
                                <td>Rhona Davidson</td>
                                <td>Integration Specialist</td>
                                <td>Tokyo</td>
                                <td>55</td>
                                <td>2010/10/14</td>
                                <td>$327,900</td>
                            </tr>
                            <tr>
                                <td>Colleen Hurst</td>
                                <td>Javascript Developer</td>
                                <td>San Francisco</td>
                                <td>39</td>
                                <td>2009/09/15</td>
                                <td>$205,500</td>
                            </tr>
                            <tr>
                                <td>Sonya Frost</td>
                                <td>Software Engineer</td>
                                <td>Edinburgh</td>
                                <td>23</td>
                                <td>2008/12/13</td>
                                <td>$103,600</td>
                            </tr>

                            <tr>
                                <td>Yuri Berry</td>
                                <td>Chief Marketing Officer (CMO)</td>
                                <td>New York</td>
                                <td>40</td>
                                <td>2009/06/25</td>
                                <td>$675,000</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>






<div class="C012-50-50-x2 clearfix">
    <div class="padded-container">
        <h2>C012</h2>
        <div class="left-column">
            <div class="content">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/OhVVbTsgUR8" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="right-column-inner">
                <div class="content">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/OhVVbTsgUR8" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="C031-text-left-cta-right clearfix">
    <div class="padded-container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <h2>C031 Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="p1">
                    <p>C031 Content</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-1">
                <div class="cta-buttons ">
                    <a class="btn btn-primary btn-arrow" href="#">
                        <span>
                            <span class="text-wrapper"></span>
                        </span>
                    </a>
                    <a class="btn btn-secondary btn-arrow" href="#">
                        <span>
                            <span class="text-wrapper">Learn More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator-bar padded-container"></div>


<div class="cm-row">
    <div class="title-copy">
        <h2>Typography</h2>
    </div>
    <div id="C027">
        <div class="C027-table">
            <div class="padded-container">
                <div class="table-container">
                    <table id="DataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><strong>Look</strong></th>
                                <th><strong>Class</strong></th>
                                <th><strong>Font Size</strong></th>
                                <th><strong>Color</strong></th>
                                <th><strong>Weight</strong></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th><strong>Look</strong></th>
                                <th><strong>Class</strong></th>
                                <th><strong>Font Size</strong></th>
                                <th><strong>Color</strong></th>
                                <th><strong>Weight</strong></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td><p class="font1">Font 1</p></td>
                                <td>.font1</td>
                                <td>27/38px</td>
                                <td>Rich Black</td>
                                <td>Light</td>
                            </tr>
                            <tr>
                                <td><p class="font2">Font 2</p></td>
                                <td>.font2</td>
                                <td>14/26px</td>
                                <td>Rich Black</td>
                                <td>Light</td>
                            </tr>
                            <tr>
                                <td><p class="font3">Font 3</p></td>
                                <td>.font3</td>
                                <td>12/18px</td>
                                <td>Rich Black</td>
                                <td>Light</td>
                            </tr>
                            <tr>
                                <td><p class="font4">Font 4</p></td>
                                <td>.font4</td>
                                <td>16/50px</td>
                                <td>Rich Black</td>
                                <td>Book</td>
                            </tr>
                            <tr>
                                <td><p class="font5">Font 5</p></td>
                                <td>.font5</td>
                                <td>12/18px</td>
                                <td>Green</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td><p class="font6">Font 6</p></td>
                                <td>.font6</td>
                                <td>14/20px</td>
                                <td>Rich Black</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td><p class="font7">Font 7</p></td>
                                <td>.font7</td>
                                <td>14/20px</td>
                                <td>Green</td>
                                <td>Mediun</td>
                            </tr>
                            <tr>
                                <td><p class="font8">Font 8</p></td>
                                <td>.font8</td>
                                <td>14/20px</td>
                                <td>Rich Black</td>
                                <td>Medium Italic</td>
                            </tr>
                            <tr>
                                <td><p class="font9">Font 9</p></td>
                                <td>.font9</td>
                                <td>10px</td>
                                <td>Rich Black</td>
                                <td>Semibold &amp; Letterspacing .08em</td>
                            </tr>
                            <tr>
                                <td><p class="font10">Font 10</p></td>
                                <td>.font10</td>
                                <td>12px</td>
                                <td>Rich Black</td>
                                <td>Semibold &amp; Letterspacing .08em</td>
                            </tr>
                            <tr>
                                <td><p class="font16">Font 16</p></td>
                                <td>.font16</td>
                                <td>12px</td>
                                <td>White</td>
                                <td>Semibold &amp; Letterspacing .08em</td>
                            </tr>
                            <tr>
                                <td><p class="font17">Font 17</p></td>
                                <td>.font17</td>
                                <td>14/18px</td>
                                <td>White</td>
                                <td>Semibold</td>
                            </tr>
                            @*<tr>
                                <td><p class="font">Font</p></td>
                                <td>.font</td>
                                <td>px</td>
                                <td></td>
                                <td></td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>