﻿@using IMSReportAutomationModel
@using IMSReportAutomationCommons.Constants;
@model User
@{ 
    User user = (User)ViewData["Users"];
}

<style>
    /*h4.pull-left.color-white.centered-content, label {
        font-weight: 500;
        font-family: whitney, Arial, sans-serif;
    }*/
   .form-group .form-control {
        background-color: #fff;
        border: 1px solid #D0D0D0;
        /*padding: 7px;*/
        border-radius: 3px;
    }
    button#btnYes.btn.btn-primary.btnModalFooter,
    button#btnNo.btn.btn-primary.btnModalFooter {
        height: 50px;
    }

    #frmEmployee .capitalfirst{
        text-transform:capitalize;
    }
</style>
<form id="frmEmployee" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    @Html.HiddenFor(model => model.UserID, new { @id = "UserId" })
    @Html.HiddenFor(model => model.EmployeeID, new { @id = "UserId" })

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="FirstName">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;First Name
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.TextBoxFor(model => model.Employee.Firstname, new { @id = "Firstname", @class = "form-control capitalfirst", @maxlength = "80", @autocomplete = "off" })
        </div>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="LastName" style="margin-left:8px">
                @*<small style="font-weight: bolder; color: red">*</small>*@&nbsp;Middle Name
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.TextBoxFor(model => model.Employee.Middlename, new { @id = "Middlename", @class = "form-control capitalfirst", @maxlength = "80", @autocomplete = "off"})
        </div>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="LastName">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Last Name
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.TextBoxFor(model => model.Employee.Lastname, new { @id = "Lastname", @class = "form-control capitalfirst", @maxlength = "80", @autocomplete = "off" })
        </div>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="ContactNumber">
                <small style="font-weight: bolder; color: red" >*</small>&nbsp;Contact Number
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.TextBoxFor(model => model.Employee.ContactNumber, new { @id = "ContactNumber", @class = "form-control" , @maxlength = "30", @autocomplete = "off" , @style = "color:#000" })
        </div>
    </div>
    <div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>
    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="EmailAddress">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Username
            </label>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <div class="on-focus clearfix">
                @Html.TextBoxFor(model => model.Username, new { @id = "Username", @class = "form-control", @maxlength = "100", @autocomplete = "off", })
                @*<span data-toggle="tooltip" title="asd">@Html.TextBoxFor(model => model.Username, new { @id = "Username", @class = "form-control", @maxlength = "100", @autocomplete = "off", }) </span>*@
                <div class="tool-tip bottom slideIn">Use Emerson Username</div>
            </div>
        </div>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="EmailAddress">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Email Address
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <div class="on-focus clearfix">
                @Html.TextBoxFor(model => model.Employee.EmailAddress, new { @id = "EmailAddress", @class = "form-control", @maxlength = "200", @autocomplete = "off" })
                <div class="tool-tip bottom slideIn">Use Emerson Email</div>
            </div>
        </div>
    </div>


    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label class="pull-left" for="PositionTitleID">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Position
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.DropDownListFor(model => model.Employee.PositionTitleID, Model.Employee.PositionTitleList, "- Select -", new { @id = "cboPositionTitle", data_val = false, @class = "form-control ddlFontColorBlack", @name = "PositionID" })
        </div>
    </div>
    @{
        if (user.RoleID == RoleConstants.SystemAdministrator || user.RoleID == RoleConstants.Developer || user.RoleID == RoleConstants.BusinessUnitAdministrator)
        {
            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label class="pull-left" for="BusinessUnitID">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.DropDownListFor(model => model.Employee.BusinessUnitID, Model.Employee.BusinessUnitList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "form-control ddlFontColorBlack", @name = "BusinessUnitID" })
                </div>
            </div>
        }
    }
   

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label class="pull-left" for="RoleID">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Role
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.DropDownListFor(model => model.RoleID, Model.RoleList, "- Select -", new { @id = "cboRole", data_val = false, @class = "form-control ddlFontColorBlack", @name = "RoleID" })
        </div>
    </div>

    <div class="row form-group centered-content" id="divUserStatus" style="display:none">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label class="pull-left" for="UserStatus">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;User Status
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.DropDownListFor(model => model.UserStatus, Model.StatusList, "- Select -", new { @id = "cboUserStatus", data_val = false, @class = "form-control ddlFontColorBlack", @name = "UserStatus" })
        </div>
    </div>
    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <ul id="validationMessage" class="margin-zero" style="color: red; background-color: #fff "></ul>
        </div>
    </div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>