﻿@model  List<IMSReportAutomationModel.User>
@{
    ViewBag.Title = "User Management";
}
<style>
        .userID{
            cursor:pointer;
            color:#00aa7e;
        }
        .C027-table {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        #employeeTable_length {
            display: none;
        }
        #employeeTable_filter {
            padding: 0px 30px 10px 0px;
        }
        #employeeTable_info {
            margin-left: 20px;
        }
        .text-info{
            color:#00aa7e;
        }
        .row .rowheader .col-xs-12 .employeebutton {
            margin-right: 0px;
            display: inline-flex;
        }
</style>
<div class="row">
    <div class="rowheader" id="employees">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-user-circle">&nbsp;</i>Employees</h2>
            <div class="cta-buttons employeebutton">
                <a id="btnAddEmployee" class="btn btn btn-white" href="#">
                    <span class="text-wrapper font5">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Employee
                    </span>
                </a>
                <a id="btnShowUserLogs" class="btn btn btn-white" href="@Url.Content("~/UserLogs")" data-url="@Url.Content("~/UserLogs")">
                    <span class="text-wrapper font5">
                        <i class="fa fa-gear" aria-hidden="true"></i>&nbsp;User Logs
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="dataTableEmployee"  data-maincontainer-yn="true" data-page-url="Employee">
    <div class="C027-table">
        <div class="padded-container" style="max-width: 100%;">
            <div class="table-container">
                <table id="employeeTable" class="display" cellspacing="0" style="width:98%;">
                    <thead>

                        <tr style="background-color: #f0f0f0;">
                            <th style="width:3%; color: #000;">ID</th>
                            <th style="width:15%;">Last name</th>
                            <th style="width:15%;">First Name</th>
                            <th style="width:15%;">Middle Name</th>
                            <th style="width:15%;">Contact No.</th>
                            <th style="width:10%;">Username</th>
                            <th style="width:25%;">Role</th>
                            <th style="width:15%;">Business Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IMSReportAutomationModel.User user in Model)
                        {
                        <tr>
                            <td class="userID" style="width:8%"><i class="fa fa-pencil-square-o"></i>@user.UserID</td>
                            <td style="width:15%;">@user.Employee.Lastname</td>
                            <td style="width:15%;">@user.Employee.Firstname</td>
                            <td style="width:15%;">@user.Employee.Middlename</td>
                            <td style="width:15%;">@user.Employee.ContactNumber</td>
                            <td style="width:10%;text-transform:capitalize">@user.Username</td>
                            <td style="width:17%;">@user.Role.RoleName &nbsp; </td>
                            <td style="width:15%;">@user.Employee.BusinessUnit.BUName</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/page/employee.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>