﻿@{
    IEnumerable<SelectListItem> fiscalYearLists = ViewData["fiscalYearLists"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> fiscalQuarterLists = ViewData["fiscalQuarterLists"] as IEnumerable<SelectListItem>;
    ViewBag.Title = "Upload Supplier Score";
}

<style>
    .form-control{
        padding:6px 15px;
    }
    .cta-buttons .btn .text-wrapper{
        height:40px;
    }
    .btn.btn-arrow .text-wrapper:after{
        top:16px;
    }
</style>


<div class="row">
    <div class="rowheader ulheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-upload">&nbsp;</i>Add New Supplier Score</h2>
            <div class="cta-buttons" @*style="display: inline-block; float: right; margin-right:100px"*@>
                <a id="btnDownloadSupplierScoreTemplate" class="btn btn-white" href="#">
                    <span class="text-wrapper font5">
                        <i class="fa fa-plus-download" aria-hidden="true"></i>&nbsp;Download Template
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div style="padding-top:20px"></div>
<div class="row" data-maincontainer-yn="true" data-page-url="Upload">
    <div class="col-md-6 col-sm-7 col-xs-12">
        <div class="col-md-4 col-sm-5 col-xs-12" style="text-align:center">
            <label class="control-label ulexcelsp">Upload Excel File: </label>        
            @Html.DropDownList("fiscalYear", fiscalYearLists, new { @id = "fyid", data_val = false, @class = "form-control ddlFontColorBlack ulselscore", @name = "fyid" })
            @Html.DropDownList("fiscalQuarter", fiscalQuarterLists, new { @id = "fqid", data_val = false, @class = "form-control ddlFontColorBlack ulselscore", @name = "fqid" })             
        </div>
        @*<div class="col-md-4 col-sm-5 col-xs-12">
            @Html.DropDownList("fiscalYear", fiscalYearLists, new { @id = "fyid", data_val = false, @class = "form-control ddlFontColorBlack ulselscore", @name = "fyid" })
            @Html.DropDownList("fiscalQuarter", fiscalQuarterLists, new { @id = "fqid", data_val = false, @class = "form-control ddlFontColorBlack ulselscore", @name = "fqid" })
        </div>*@
        <div class="col-md-8 col-sm-7 col-xs-12 uploadscore">
            <div class="mozfile"><input type="file" id="supplierScoreFile" class="form-control" style="color:#000;height:40px;margin-bottom:6px;" /></div>
            <div class="cta-buttons cta-buttons-sm">
                <a id="uploadSupplierScoreFile" class="btn btn-primary btn-arrow" target="_blank" style="height:40px">
                    <span>
                        <span class="text-wrapper"><span class="fa fa-upload"></span> Upload</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-5 col-xs-12">
        <ul id="ulErrorsSupplierScore"></ul>
    </div>
</div>



@*<div id="DataTable-Sample">
        <div class="C027-table">
            <div class="padded-container" style="max-width:100%">
                <div class="table-container">
                    <div class="form-horizontal modal-fields" id="">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Upload Excel File: </label>
                            </div>
                            <div class="col-md-8">
                                <input type="file" id="supplierMasterFile" class="form-control" />
                            </div>
                        </div>
                        <div class="space-xs"></div>
                        <div class="space-xs"></div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-lg-8">
                                <div class="cta-buttons cta-buttons-sm">
                                    <a id="uploadSupplierMasterFile" class="btn btn-primary btn-arrow" target="_blank">
                                        <span>
                                            <span class="text-wrapper"><span class="fa fa-upload"></span> Import</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <ul id="ulErrors">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<br />

<script src="~/Scripts/page/upload.js"></script>