﻿@using IMSReportAutomationModel
@using IMSReportAutomationCommons.Constants
@model IMSReportAutomationModel.ReportModel.ScoreSupplierRM
@using IMSReportAutomationCommons.Helpers;
@{

    ViewBag.Title = "Scorecards";
    string url = (string) ViewData["ScoreFile"];
    List<FiscalYear> fys = (List<FiscalYear>)ViewData["FiscalYears"];
    List<SupplierMaster> suppliers = (List<SupplierMaster>)ViewData["Suppliers"];
    Custom2IPrincipal customUser = User as Custom2IPrincipal;
    UserModuleAccessHelper userModuleAccess = new UserModuleAccessHelper();
    bool isUserCanAccess = false;
    if (customUser != null)
    {
        isUserCanAccess = userModuleAccess.isUserAccessModuleByRole("GenerateButtonforSupplier",int.Parse(customUser.RoleId.ToString()));
    }
    //ViewData["Suppliers"] = suppliers;
}

@*<embed src="" type="application/pdf" width="100%" height="600px" >*@
@*<iframe id="iFrame" src="" type="application/pdf"></iframe>'*@

<div class="row">
    <div class="rowheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-file">&nbsp;</i>Score Per Supplier</h2>
            <div class="cta-buttons">
                @{
                    if (isUserCanAccess)
                    {
                        <a id="btnSendReport" class="btn btn-white" href= "@Url.Content("~/ScorePerSupplier/SendReport")">
                            <span class="text-wrapper font5">
                                <i class="" aria-hidden="true"></i>&nbsp;Send Report
                            </span>
                        </a>
                    }
                }
                @*<a id="btnSendReport" class="btn btn-white" href="/ScorePerSupplier/SendReport">
                    <span class="text-wrapper font5">
                        <i class="" aria-hidden="true"></i>&nbsp;Send Report
                    </span>
                </a>*@
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin:30px" data-maincontainer-yn="true" data-task-cd="view" data-page-url="ScorePerSupplier">
    <div class="col-md-2 col-sm-2 col-xs-4">
        <div class="select-wrapper" style="width: 100%">
            <select id="selectYear">
                @foreach (FiscalYear fy in fys)
                {
                    string selectedTx = (int)ViewData["ActiveFYID"] == fy.FYID ? "selected" : "";
                    <option value="@fy.FYID" @selectedTx>@fy.FYDescription</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="select-wrapper" style="width: 100%">
            <select id="selectSupplier" style="white-space:normal;max-width:80%">
                @foreach (SupplierMaster sm in suppliers)
                {
                    string regionnm = sm.SupplierBuyingRegion != null ? sm.SupplierBuyingRegion.RegionDescription : "";
                    <option value="@sm.SupplierID">@sm.SupplierName (@regionnm)</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:center">
        <button class="btn btn-primary" type="button" id="btnGenerate">Generate</button>
    </div>
</div>
<div id="embedContainer" style="text-align:center">
    <embed id="embedPDF" src="@url" width="100%" height="600px" style="overflow: auto;width:93%" allowfullscreen webkitallowfullscreen></embed>
    @*<embed id="embedPDF" src="data:application/pdf;base64,@url" width="100%" height="600px" style="overflow: hidden" allowfullscreen webkitallowfullscreen></embed>*@
</div>

<script src="~/Scripts/page/scorepersupplier.js"></script>
