﻿@using IMSReportAutomationModel
@model List<SupplierMaster>
@{
    ViewBag.Title = "Scorecard Distribution";
    List<FiscalYear> fiscalyears = (List<FiscalYear>)ViewData["FiscalYears"];
}

<style>
    .SE004-search-box-inline {
        padding: 0px !important;
        margin: -10px -80px;
    }
    .select-wrapper {
        background-color: white;
        border: 1px solid #b9c3e0;
    }

    .well {
        border-top: none;
        box-shadow: inset 0 0 0 rgba(0,0,0,0.05);
    }

    .failed {
        background-color: #f9b1b1;
    }
    .modal .modal-dialog .modal-footer i {
        display:none;
    }
    li.inactive {
        display: none;
    }
</style>

<div class="row">
    <div class="rowheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-file">&nbsp;</i>Scorecard Distribution</h2>
            <div class="cta-buttons" @*style="display: inline-block; float: right; margin-right:100px"*@>
                <a id="btnDownloadScoreDistributionTemplate" class="btn btn-white" href="#">
                    <span class="text-wrapper font5">
                        <i class="fa fa-plus-download" aria-hidden="true"></i>&nbsp;Download Template
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cm-row scdistributionflex" data-maincontainer-yn="true" data-task-cd="sendreport" data-page-url="ScorePerSupplier">
    <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="well" style="max-height: 500px;overflow: auto;height:500px;margin-top:17px">
            <ul id="ulSelectedSuppliers" class="list-group " style="cursor:pointer" data-supplierlist-yn="true">
              
            </ul>
        </div>
    </div>
    <div class="col-md-7 col-sm-8 col-xs-12">
        <div class="row" style="margin-top:17px; background-color:#dee6ea;margin-bottom:0;margin-right:0px;margin-left:0px">
            <div class="form-group row" style="margin:20px 0 6px 10px">
                <div class="col-md-5 col-sm-5">

                    <p class="font6">
                        Select Supplier to be excluded from the distribution
                    </p>

                    @*<div class="select-wrapper" style="width: 100%">
                        <select id="selectYear">
                            <option value="">FY18</option>
                        </select>
                    </div>*@

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="SE004-search-box-inline inline-search scsoredistribution">
                        <label for="searchterm" class="cm-search__label sr-only"></label>
                        <input class="selectize-input ui-autocomplete-input" id="txtSearchSupplier" type="text" name="query" value="" autocomplete="off" placeholder="Search Supplier" style="width:100%;background-color:#fff;height:50px">
                    </div>

                    <div class="select-wrapper" style="width: 100%">
                        <select id="selectYear">
                            @foreach (FiscalYear fy in fiscalyears.OrderByDescending(a => a.FYID))
                            {
                                <option value="@fy.FYID">@fy.FYDescription</option>
                            }
                        </select>
                    </div>

                    @*<div class="select-wrapper" style="width: 100%">
            <select id="selectSupplier">
                <option value="">Supplier1</option>
            </select>
        </div>*@
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="cta-buttons">
                        <a id="btnSendReport" class="btn btn-primary" href="#" style="height:50px;display:table">
                            <span class="text-wrapper font5">
                                <i class="fa fa-send"></i>&nbsp;Send
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row" style="margin:20px 0 6px 10px">

                <div class="col-md-5 col-sm-3 col-xs-6">
                    <br />
                    <div class="mozfile"><input type="file" id="scoreDistributionFile" class="form-control" style="color:#000;height:50px;margin-bottom:6px;" /></div>

                </div>
                <div class="col-md-4 col-sm-3 col-xs-6">
                    <br />
                    <div class="cta-buttons cta-buttons-sm">
                        <a id="uploadScoreDistributionFile" class="btn btn-primary btn-arrow" target="_blank" style="height:50px">
                            <span>
                                <span class="text-wrapper"><span class="fa fa-upload"></span> Upload</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul id="ulErrorsScoreDistribution"></ul>
                </div>
            </div>

        </div>
        <div class="well" style="max-height: 425px;overflow: auto; height: 425px; border-top:none">
            <ul class="list-group checked-list-box" id="ulSendSuppliers" style="cursor:pointer">
                @foreach (SupplierMaster sm in Model)
                {
                    <li class="list-group-item" data-primary-id="@sm.SupplierID" data-value="@sm.SupplierName">@sm.SupplierName</li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/page/scorepersupplier.js"></script>