﻿@using IMSReportAutomationModel
@using IMSReportAutomationModel.ViewModel
@model List<CommonSuppliersVM>
@{
    ViewBag.Title = "Common Supplier";
    List<BusinessUnit> businessUnits = (List<BusinessUnit>)ViewData["BusinessUnits"];
    int columnCtr = 1;
}

<style>
    .C027-table {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #main .C027-table table{
        margin-top:0px;
    }
    .table-container .dataTables_length{
        display:inherit;
    }
    table.dataTable.display tbody tr:first-child td, table tbody{
        text-align:center;
        /*font-size:20px;*/
        vertical-align:middle;
    }
    .dataTables_wrapper table tbody tr td{
        /*padding:15px;
        font-size:20px;*/
        text-align:center;
        vertical-align:middle;
    }
</style>


<div class="row">
    <div class="rowheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-file-text">&nbsp;</i>Common Supplier</h2>
            <div class="cta-buttons">
                <a id="btnGenerate" class="btn btn-white" href="#" style="background-color:#fff;margin:0px;height:40px">
                    <span class="text-wrapper font5" style="height:40px">
                        Generate
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="C027-table" data-page-url="CommonSupplier" data-maincontainer-yn="true">
    <div class="padded-container" style="max-width:98%">
        <div class="table-container">
            <div id="DataTableTypography_wrapper" class="dataTables_wrapper">
                <table id="tblCommonSuppplier" class="display" cellspacing="0" style="width:100%;">
                    <thead style="background-color: #004b8d; color: #fff;">
                        <tr role="row">
                            <th>Supplier Name</th>
                            @foreach (BusinessUnit bu in businessUnits)
                            {
                                <th @*data-bu-id="@bu.BusinessUnitID"*@ data-ptermsbu-id="@bu.BusinessUnitID">@bu.BUName</th>
                                @*<th data-ptermsbu-id="@bu.BusinessUnitID">Payment Terms</th>*@
                                columnCtr++;
                            }
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/plugin/html2canvas/rgbcolor.min.js"></script>
<script src="~/Scripts/plugin/html2canvas/canvg.js"></script>
<script src="~/Scripts/plugin/html2canvas/es6-promise.min.js"></script>
<script src="~/Scripts/plugin/html2canvas/es6-promise.auto.js"></script>
@Scripts.Render("~/bundles/html2canvas")
<script src="~/Scripts/page/commonsupplier.js"></script>