﻿@{
    IMSReportAutomationModel.Custom2IPrincipal customUser = User as IMSReportAutomationModel.Custom2IPrincipal;
}

<link href="~/Content/css/CustomStyle.css" rel="stylesheet" type="text/css" />
@*<style>
    #cm-header .main-header #main-nav{
        margin-left:230px;
    }
    #cm-header .main-header #main-nav li{
        float:right;
    }
</style>*@


<div id="pageContent"></div>
<div id="registerContent" style="display:none;">
    
</div>
<script src="~/Scripts/page/login.js"></script>

<script>
	var landingPageURL = "@Url.Content("~/")";
	var loginURL = "@Url.Content("~/Login/SignIn")";
	var isPageBeingRefreshed = false;

	$(window).on('beforeunload', function () {
		isPageBeingRefreshed = true;
	});

	$(document).on("click", "a#register", function (e) {
	    e.preventDefault();
	    ShowLoading();
	    $.ajax({
	        url: "/Login/Register",
	        type: "GET",
	        success: function (data) {
	            $("#pageContent").hide();
	            $("#registerContent").html(data).show();
	            HideLoading();
	        }
	    })
	});

	loadSignIn();

	function loadSignIn() {
		$.ajax({
			url: loginURL,
			success: function (data) {
			    document.title = "Sign In - Indirect Materials Supplier";
				$('#pageContent').html(data);
			},
			error: function () {
				if (!isPageBeingRefreshed) {
					initReusableModal("Error! ", 'Failed to get partial.', false, false, undefined, undefined, undefined);
				}
			}
		});
	}

</script>