﻿@model IMSReportAutomationModel.User


<div class="container">
    <form id="frmEmployee" class="card card-container" ondrag="return false;" ondragstart="return false;">
        <h6 style="margin-bottom:20px;font-weight:900;text-align:center">Register with Emerson email and complete the fields below.</h6>
        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="FirstName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;First Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <span id="firstnameError"></span>
                @Html.TextBoxFor(model => model.Employee.Firstname, new { @id = "Firstname", @class = "form-control", @maxlength = "", @autocomplete = "off", @style = "text-transform:capitalize" })
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="LastName" style="margin-left:8px">
                    @*<small style="font-weight: bolder; color: red">*</small>*@&nbsp;Middle Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <span id="middlenameError"></span>
                @Html.TextBoxFor(model => model.Employee.Middlename, new { @id = "Middlename", @class = "form-control", @maxlength = "", @autocomplete = "off", @style = "text-transform:capitalize" })
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="LastName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Last Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <span id="lastnameError"></span>
                @Html.TextBoxFor(model => model.Employee.Lastname, new { @id = "Lastname", @class = "form-control", @maxlength = "", @autocomplete = "off", @style = "text-transform:capitalize" })
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="Username">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Username
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <div class="on-focus clearfix">
                    <span id="usernameError"></span>
                    @Html.TextBoxFor(model => model.Username, new { @id = "Username", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                    <div class="tool-tip bottom slideIn">Use Emerson Username</div>
                </div>
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="EmailAddress">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Email Address
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <div class="on-focus clearfix">
                    <span id="emailaddressError"></span>
                    @Html.TextBoxFor(model => model.Employee.EmailAddress, new { @id = "EmailAddress", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                    <div class="tool-tip bottom slideIn">Use Emerson Email</div>
                </div>
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="LastName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Contact Number
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <span id="contactnumberError"></span>
                @Html.TextBoxFor(model => model.Employee.ContactNumber, new { @id = "ContactNumber", @class = "form-control", @maxlength = 30, @autocomplete = "off" })
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label class="pull-left" for="BusinessUnitID">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <span id="businessunitError"></span>
                @Html.DropDownListFor(model => model.Employee.BusinessUnitID, Model.Employee.BusinessUnitList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "form-control ddlFontColorBlack", @name = "BusinessUnitID", @style = "height:40px" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 col-sm-4"></div>
            <div class="col-xs-6 col-sm-4 col-md-5">
                <button id="btnRegister" class="form-control btn btn-primary @*fa fa-floppy-o*@"><span style="color:white">&nbsp;Register</span></button>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4">
                <button id="btnCancel" class="form-control btn btn-primary "><span style="color:white">&nbsp;Cancel</span></button>
            </div>
        </div>
        <span id="successMessage"></span>
        <div class="row form-group centered-content">
            <div id="validationContainer1">
                <ul id="errorUL" style="color: red"></ul>
            </div>
        </div>
    </form>
</div>


<script src="~/Scripts/page/register.js"></script>
