﻿@model IMSReportAutomationModel.Login
@{
    ViewBag.Title = "Sign In";
    Layout = "";
    IMSReportAutomationModel.Custom2IPrincipal customUser = User as IMSReportAutomationModel.Custom2IPrincipal;
}

<style>
    #main {
    min-height: calc(100vh - 100px);
    background-image:  url("@Url.Content("~/Content/images/body_bg.jpg")") !important ; //url("/Content/images/body_bg.jpg") !important;
    background-size: cover;
    background-position: center center;
    position: relative;
         }

   .card-container.card {
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 200px;
    padding: 30px;
    border: 1px solid #dedede;
    background: rgba(255,255,255,.5);
}
   .card {
    padding: 10px 15px 20px;
    margin: 0 auto 25px;
    margin-top: 50px;
}
.btn.btn-primary {

    border-radius: 3px;
    width: 100%;
}
label{
    font-size: smaller;
}
.alert-danger{
    padding: 5px !important;
    text-align: center;
}


</style>

<script type="text/javascript">
    var LoginURL =  "@Url.Content("~/Login/Login/")";
</script>

<div class="container">
    <div class="card card-container">

        <h3 style="text-align:center;">Welcome to</h3>
        <h3 style="font-weight: 500; text-align:center;">Indirect Materials Supplier Portal</h3>
        <h6 style="text-align:center;">Please sign in to your <strong>Emerson Account</strong></h6>
       


        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin" }))
            {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()



            <form class="form-signin">
                <div id="validationFail" class="padding-md alert-danger">
                    <span id="validateGeneric" class="display-block text-center color-red"></span>
                    <span id="validateIncomplete" class="display-block text-center color-red">Please Enter Valid Input</span>
                </div>
                <div class="margin-btm-20"></div>
                <label for="Username">Username</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @id = "Username", style = "background-color: #fff; border: 1px solid #D0D0D0; padding: 7px; border-radius: 3px; ", autocomplete = "off" })

                <label for="Password">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password", style = "background-color: #fff; border: 1px solid #D0D0D0; padding: 7px; border-radius: 3px; ", autocomplete = "off" , @value = Model.Password })

                <div id="remember" class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe, new { style = "width: 20px; height: 20px; position: absolute; border-radius: 3px;  border: 1px solid #D0D0D0; opacity: 1;" })
                    <label for="RememberMe" style="font-weight: bold;">&nbsp;Remember Me</label>
                    <div class="padding-lg" style="float:right">
                        <a id="register" href="#" style="font-size:smaller;font-weight:900">Sign Up</a>
                    </div>
                </div>

                @*<div class="form-group text-center" style="float:right">
                    <div class="padding-lg">
                        <a id="register" href="#" style="font-size:smaller;"><strong>Register Emerson Account Here</strong></a>
                    </div>
                </div>*@
                <div class="form-group" style="text-align:center">
                    <button type="button" name="btnLogin" id="btnLogin" class="btn btn-primary btn-arrow full-width">Sign In</button>
                </div>
                @*<div class="form-group text-center">
                    <div class="padding-lg">
                        <a id="register" href="#" style="font-size:smaller;"><strong>Register Emerson Account Here</strong></a>
                    </div>
                </div>*@


            </form>


        }
</div>
</div>

<script src="~/Scripts/page/login.js">
   

</script>
