﻿@model List<IMSReportAutomationModel.SupplierScore>
@{
    ViewBag.Title = "Supplier Score";
    IMSReportAutomationModel.User user = (IMSReportAutomationModel.User)ViewData["Users"];
    IMSReportAutomationModel.SupplierMaster supplierMaster = (IMSReportAutomationModel.SupplierMaster)ViewData["supplier"];
    IMSReportAutomationModel.SupplierPaymentTerms supplierPaymentTerm = (IMSReportAutomationModel.SupplierPaymentTerms)ViewData["SupplierPaymentTerm"];
    List<IMSReportAutomationModel.ScoringParameter> scoringParamList = (List<IMSReportAutomationModel.ScoringParameter>)ViewData["ScoringParam"];
    List<IMSReportAutomationModel.ScoringParameterDetail> scoringParamDetails = (List<IMSReportAutomationModel.ScoringParameterDetail>)ViewData["ScoringParamDetail"];
    List<IMSReportAutomationModel.StakeholderSupplierMapping> stakeholderSupplierData = (List<IMSReportAutomationModel.StakeholderSupplierMapping>)ViewData["StakeholderSupplierData"];
    IMSReportAutomationModel.SupplierExpense supplierExpense = (IMSReportAutomationModel.SupplierExpense)ViewData["SupplierExpense"];
    int paymentTermValue = 0;
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - Indirect Material Supplier Report Automation</title>
    <link rel="icon" type="image/ico" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">



    @*js Reference*@
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Scripts/plugin/jquery-ui/jquery-ui.js"></script>*@
    <script src="~/Scripts/core/components.js"></script>
    <script src="~/Scripts/core/default.js"></script>
    <script src="~/Scripts/plugin/swiper-master/dist/swiper.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/plugin/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/global/modal.js"></script>
    <script src="~/Scripts/plugin/selectize.js-master/dist/js/standalone/selectize.js"></script>

    @*CSS Reference*@
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugin/swiper-master/dist/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugin/DataTables-1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/en-us.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/stylesheet.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div id="main-wrapper" style="overflow-x: hidden;">
        <style>
            .headerleft {
                width: 100%;
                height: 0;
                border-top: 50px solid #0069a8;
                border-right: 50px solid transparent;
            }

            .headerright {
                width: 100%;
                height: 0;
                border-bottom: 50px solid #dee6ea;
                border-left: 50px solid transparent;
            }

            .pull-left {
                font-size: smaller;
            }

            #supplierScoringParameterTBody tr td {
                font-weight: bold;
                font-size: 12px;
            }

            #scoringForm {
                position: relative;
                margin-top: -30px;
            }

            #supplierScoringParameterTHeader tr th {
                font-size: large;
            }

            .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
                background-color: #f1ebeb;
            }

            .detailFontColor {
                color: #13206b;
                font-weight: bold;
            }

            .tFooterWithoutRemark {
                text-align: right;
            }

            .tFooterHaveRemark {
                text-align: center;
            }

            .referenceText {
                color: #2d3836;
                font-weight: bold;
                text-align: center;
            }

            .qText {
                color: white;
                font-weight: bold;
                text-align: center;
            }

            .activeQText {
                color: black;
                font-weight: bold;
                text-align: center;
            }

            .referenceBackground {
                background-color: #e2d4d4;
            }

            .q1Background {
                background: #004b8d;
            }

            .q2Background {
                background-color: #7b9baa;
            }

            .q3Background {
                background-color: #64B1BB;
            }

            .q4Background {
                background-color: #006998;
            }

            .inputScoreWeight {
                width: 80%;
            }

            .inputScore {
                width: 100%;
            }

            #updateScore {
                cursor: pointer;
            }

            #saveUpdateScore {
                cursor: pointer;
            }
        </style>
        <div id="dataTableSupplierScore">
            <div>

                @{
                    foreach (var stakeholderSupplier in stakeholderSupplierData)
                    {
                        if (stakeholderSupplier.FiscalYear.FYStatusID == 1 && stakeholderSupplier.FiscalYear.FYStatusID == 1)
                        {
                            <label id="lblFiscalQuarterID" hidden>@stakeholderSupplier.FQuarterID</label>
                            <label id="lblFiscalYearID" hidden>@stakeholderSupplier.FYID</label>
                            <label id="lblBusinessUnitID" hidden>@stakeholderSupplier.Employee.BusinessUnitID</label>
                            <label id="lblstakeholderSupplierID" hidden>@stakeholderSupplier.StakeholderSupplierID</label>

                        }
                    }
                }
                <div id="form-header" style="width:100%;cursor:default">
                    <div id="groupStakeholder-header" style="width:55%;float:left;height:1px;">
                        <div class="headerleft" style="color:#e1f3f6;font-weight:bold;position:relative;z-index:1">
                            <label id="lblstakeholderID" hidden>@user.EmployeeID</label>
                            <p style="margin-top:-38px;margin-left:10px">Indirect Supplier Scorecard - @user.Employee.FullName [<label id="lblPositioTitle"> @user.Employee.PositionTitle.PositionTitleDescription </label>]</p>
                        </div>
                    </div>
                    <div id="groupSupplierDetail-header" style="float:left;width:25%">
                        <div class="headerright" style="color:#000000;font-weight:bold;width:100%;margin-left:-30px">
                            <p style="position:relative;width:285px">@supplierMaster.SupplierDescription</p>
                        </div>
                    </div>
                    @{
                        bool isAssessed = false;
                        foreach (var stakeholderSupplier in stakeholderSupplierData)
                        {
                            if (stakeholderSupplier.Assessed != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1)
                            {
                                isAssessed = true;
                            }

                        }
                        if (isAssessed)
                        {
                            <button id="btnSubmit" type="button" class="btn btn-primary" style="margin:auto;width:18%;height:50px" disabled>Submit Email</button>
                        }
                        else
                        {
                            <button id="btnSubmit" type="button" class="btn btn-primary" style="margin:auto;width:18%;height:50px">Submit Email</button>
                        }

                    }

                </div>

                <div class="row" style="float:left">

                    <div class="col-xs-4">
                        <div class="thumbnail" style="background-color:#e1f3f6; width:100%;margin-bottom:0px;z-index:0;position:relative;cursor:default;padding:50px 0">
                            <div class="container" style="width:100%">
                                <label id="lblsupplierID" hidden>@supplierMaster.SupplierID</label>
                                <div class="row  " id="siteName">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="SiteName">
                                            Site Name:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @supplierMaster.SupplierBuyingLocation.LocationDescription
                                    </div>
                                </div>
                                <div class="row  " id="SupplierName">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="SupplierName">
                                            Supplier Name:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @supplierMaster.SupplierName
                                    </div>
                                </div>
                                <div class="row centered-content" id="SupplierID">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="SupplierID">
                                            Supplier ID#:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @supplierMaster.SupplierID
                                    </div>
                                </div>
                                <div class="row centered-content" id="paymentTerm">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="PaymentTerm">
                                            Payment Term:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @*@(supplierPaymentTerm != null ? @supplierPaymentTerm.PaymentTerms.PTerms : "";)*@
                                    </div>

                                </div>
                                <div class="row centered-content" id="category">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="Category">
                                            Category:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @supplierMaster.SupplierCategory.CategoryName
                                    </div>
                                </div>

                                <div class="row centered-content" id="spend">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="Spend">
                                            Spend:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @*$@supplierExpense.SalesVolume.ToString("N0")*@
                                    </div>
                                </div>
                                <div class="row centered-content" id="date">
                                    <div class="col-xs-4">
                                        <label class="pull-left" for="Date">
                                            Date:
                                        </label>
                                    </div>
                                    <div class="col-xs-8">
                                        @DateTime.Now.Date.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8" style="margin-left:-12px;cursor:default">
                        <h4 class="detailFontColor"> <span><i class="fa fa-gear" style="color:#0094ff"></i></span>SCORING PARAMETERS </h4>
                        <div id="scoringParameterForm">
                            <table id="scoringParameterTable" class="table-striped display" cellspacing="0" style="width:100%;">
                                <thead id="supplierScoringParameterTHeader">
                                    <tr>
                                        @foreach (var scoringParameter in scoringParamList)
                                        {
                                            <th class="q1Background qText" style="width:20%">@scoringParameter.ParamDisplayName</th>
                                            <th class="q1Background qText" style="width:5%">Score</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="supplierScoringParameterTBody">
                                    @for (int count = 5; count >= 1; count--)
                                    {
                                        <tr>
                                            @foreach (var scoringParameter in scoringParamList)
                                            {
                                                var noDataCount = 0;
                                                foreach (var scoringParamDetail in scoringParamDetails)
                                                {
                                                    if (scoringParameter.ScoringParameterID == scoringParamDetail.ScoringParameterID && scoringParamDetail.SPDMultiplier == count)
                                                    {
                                                        <td style='padding-left:4px'>@scoringParamDetail.SPDDescription</td>
                                                        <td style='text-align:center'>@scoringParamDetail.SPDMultiplier</td>
                                                    }
                                                    else
                                                    {
                                                        noDataCount++;
                                                    }
                                                }
                                                if (noDataCount == scoringParamDetails.Count())
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br />

                <div id="scoringForm">
                    <table id="scoringTable" class="display" cellspacing="0" style="width:100%;">
                        <thead id="supplierScoringTHeader">
                            @for (int countHeaderRow = 0; countHeaderRow < 2; countHeaderRow++)
                            {
                                <tr>
                                    @if (countHeaderRow == 0)
                                    {
                                        int countHeader1 = 1;
                                        for (int countHeaderColumn = 0; countHeaderColumn < 6; countHeaderColumn++)
                                        {
                                            if (countHeaderColumn == 0)
                                            {
                                                <th class="referenceBackground referenceText" rowspan="2" style="width:20%">Evaluation Category</th>;
                                            }
                                            else if (countHeaderColumn == 1)
                                            {
                                                <th class="referenceBackground referenceText" rowspan="2" style="width:7%">Weight</th>;
                                            }
                                            else
                                            {
                                                bool isAssesedbyStakeholder = true;
                                                bool isNotAssessed = false;
                                                foreach (var stakeholderSupplier in stakeholderSupplierData)
                                                {
                                                    if (stakeholderSupplier.Assessed != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1 && stakeholderSupplier.FiscalQuarter.FQDescription == ("Q" + countHeader1).ToString())
                                                    {
                                                        <th class="@("q" + countHeader1 + "Background qText")" colspan="2">
                                                            @("Q" + countHeader1 + ' ' + stakeholderSupplier.FiscalYear.FYDescription) &nbsp;
                                                            @{
                                                                if (user.RoleID != 5)
                                                                {
                                                                    <span id="updateScore"><i class="fa fa-edit"></i></span><span id="saveUpdateScore" hidden><i class="fa fa-save"></i></span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="activeQuarter"><i class="fa fa-arrow-down"></i></span>
                                                                }

                                                            }

                                                        </th>
                                                        isAssesedbyStakeholder = false;
                                                    }
                                                    if (stakeholderSupplier.FiscalQuarter.FQDescription == ("Q" + countHeader1).ToString() && stakeholderSupplier.Assessed == null)
                                                    {
                                                        isNotAssessed = true;
                                                    }
                                                }
                                                if (isAssesedbyStakeholder)
                                                {
                                                    <th class="@("q" + countHeader1 + "Background") qText" colspan="2">@("Q" + countHeader1 + " " + stakeholderSupplierData[0].FiscalYear.FYDescription.ToString())</th>

                                                }
                                                if (isNotAssessed)
                                                {
                                                    <th class="referenceBackground referenceText" rowspan="2">REMARKS</th>
                                                }
                                                countHeader1++;
                                            }

                                        }

                                    }
                                    else
                                    {
                                        int countHeader2 = 1;

                                        for (int countHeaderColumn2 = 1; countHeaderColumn2 < 9; countHeaderColumn2++)
                                        {
                                            if (countHeaderColumn2 % 2 == 0)
                                            {
                                                <th class="@("q" + countHeader2 + "Background") qText">Weight Score</th>
                                                countHeader2++;
                                            }
                                            else
                                            {
                                                <th class="@("q" + countHeader2 + "Background") qText">Score</th>
                                            }
                                        }

                                    }

                                </tr>
                            }

                        </thead>
                        <tbody id="supplierScoringTBody">
                            @{
                                int counter = 1;

                                foreach (var scoringParam in scoringParamList)
                                {
                                    <tr>
                                        @{
                                            int count = 1;

                                            int quarterCount = 0;
                                            for (int countDataColumn = 0; countDataColumn < 10; countDataColumn++)
                                            {
                                                if (countDataColumn == 0)
                                                {
                                                    <td style="padding:0 10px"><label id="@("lblscoringParamID"+ counter)" hidden> @scoringParam.ScoringParameterID </label><label id="@("lblScoringParamName"+counter)">@scoringParam.ParamDisplayName</label></td>
                                                }
                                                else if (countDataColumn == 1)
                                                {
                                                    <td class="weightmultipler"><label id="@("multiplier" + counter)">@(scoringParam.Multiplier * 100)</label> % </td>
                                                }
                                                else
                                                {
                                                    bool isNoData = true;
                                                    if (countDataColumn % 2 == 0)
                                                    {
                                                        quarterCount++;
                                                        foreach (var stakeholderSupplier in stakeholderSupplierData)
                                                        {
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + quarterCount && stakeholderSupplier.Assessed == null)
                                                            {
                                                                if (scoringParam.ParamDisplayName == "Payment Term")
                                                                {

                                                                    if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay > 79)
                                                                    {
                                                                        paymentTermValue = 5;
                                                                    }
                                                                    else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay >= 61 && supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 79)
                                                                    {
                                                                        paymentTermValue = 4;
                                                                    }
                                                                    else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay >= 46 && supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 60)
                                                                    {
                                                                        paymentTermValue = 3;
                                                                    }
                                                                    else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay >= 31 && supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 45)
                                                                    {
                                                                        paymentTermValue = 2;
                                                                    }
                                                                    else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 30)
                                                                    {
                                                                        paymentTermValue = 1;
                                                                    }
                                                                    else
                                                                    {
                                                                        paymentTermValue = 0;
                                                                    }
                                                                    <td><input min="1" max="5" type="number" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" class="inputScore" value="@paymentTermValue" disabled /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><input min="1" max="5" type="number" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" class="inputScore" /></td>
                                                                }
                                                                isNoData = false;
                                                            }
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + quarterCount && stakeholderSupplier.Assessed != null)
                                                            {
                                                                foreach (var supplierScore in Model)
                                                                {
                                                                    if (supplierScore.ScoreParameterID == scoringParam.ScoringParameterID && supplierScore.FQID == quarterCount)
                                                                    {
                                                                        <td><input min="1" max="5" type="number" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" value="@supplierScore.Score" class="inputScore" disabled /></td>
                                                                    }
                                                                }

                                                                isNoData = false;
                                                            }
                                                        }
                                                        if (isNoData)
                                                        {
                                                            <td><input type="number" class="inputScoreWeight" disabled /></td>
                                                        }
                                                    }
                                                    else
                                                    {

                                                        foreach (var stakeholderSupplier in stakeholderSupplierData)
                                                        {
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + quarterCount && stakeholderSupplier.Assessed == null)
                                                            {
                                                                if (scoringParam.ParamDisplayName == "Payment Term")
                                                                {
                                                                    <td><input type="text" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputWeightScore" + counter)" class="inputScoreWeight" value="@(paymentTermValue * scoringParam.Multiplier * 2)" disabled /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><input type="text" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputWeightScore" + counter)" class="inputScoreWeight" value="0" disabled /></td>
                                                                }
                                                                <td><input type="text" id="@("remarks" + counter)" class="inputScore" /></td>
                                                                count++;
                                                                isNoData = false;
                                                            }
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + quarterCount && stakeholderSupplier.Assessed != null)
                                                            {
                                                                foreach (var supplierScore in Model)
                                                                {
                                                                    if (supplierScore.ScoreParameterID == scoringParam.ScoringParameterID && supplierScore.FQID == quarterCount)
                                                                    {
                                                                        <td><input type="text" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputWeightScore" + counter )" class="inputScoreWeight" value="@supplierScore.WeightedScore" disabled /><span id="@("remarkInfo" + counter)" data-toggle="tooltip" title="@supplierScore.Remarks"><i class="fa fa-info-circle"></i></span></td>
                                                                    }
                                                                }
                                                                isNoData = false;
                                                            }
                                                        }
                                                        if (isNoData)
                                                        {
                                                            <td><input type="text" class="inputScoreWeight" disabled /></td>
                                                        }
                                                    }

                                                }
                                                count++;
                                            }
                                        }
                                    </tr>
                                    counter++;
                                }
                            }
                        </tbody>
                        <tfoot id="supplierScoringTFoot">
                            <tr>
                                @{
                                    int quarter = 1;
                                    for (int countFooterColumn = 1; countFooterColumn <= 5; countFooterColumn++)
                                    {
                                        if (countFooterColumn == 1)
                                        {
                                            <td colspan="2" class="referenceBackground detailFontColor tFooterWithoutRemark">Total</td>
                                        }
                                        else
                                        {
                                            bool isNotAssessed = true;
                                            foreach (var stakeholderSupplier in stakeholderSupplierData)
                                            {
                                                double totalPerQuarter = 0;
                                                if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + quarter && stakeholderSupplier.Assessed == null)
                                                {
                                                    foreach (var scoringParam in scoringParamList)
                                                    {
                                                        if (scoringParam.ParamDisplayName == "Payment Term")
                                                        {
                                                            totalPerQuarter = (paymentTermValue * scoringParam.Multiplier * 2) * 10;
                                                        }
                                                    }
                                                    <td colspan="3" class="referenceBackground detailFontColor tFooterHaveRemark"><label id="@("lblQuarter" + quarter + "Total")">@totalPerQuarter</label>%</td>
                                                    isNotAssessed = false;
                                                }
                                                if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + quarter && stakeholderSupplier.Assessed != null)
                                                {
                                                    foreach (var supplierScore in Model)
                                                    {
                                                        if (supplierScore.FQID == stakeholderSupplier.FQuarterID && supplierScore.FYID == stakeholderSupplier.FYID)
                                                        {
                                                            totalPerQuarter += supplierScore.WeightedScore;
                                                        }
                                                    }
                                                    <td colspan="2" class="referenceBackground detailFontColor tFooterWithoutRemark"><label id="@("lblQuarter" + quarter + "Total")">@((totalPerQuarter / 10) * 100)</label>%</td>
                                                    isNotAssessed = false;
                                                }
                                            }
                                            if (isNotAssessed)
                                            {
                                                <td colspan="2" class="referenceBackground detailFontColor tFooterWithoutRemark"><label id="@("lblQuarter" + quarter + "Total")">0</label>%</td>
                                            }
                                            quarter++;
                                        }
                                    }
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
            </div>
        </div>

        <div class="modal fade" id="saved" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        Saved..
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="score1-5" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        Please Score 1 - 5
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="scorefillup" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        Please Score 1 - 5 and Fill out the Remarks field!
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="checkscore" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        Please Check the Score of the following Scoring Parameter:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/page/supplierscore.js"></script>
</body>
</html>



