﻿@*@using Highsoft.Web.Mvc.Charts*@
@using IMSReportAutomationModel
@using IMSReportAutomationModel.ReportModel
@using System.Globalization;
@using IMSReportAutomationCommons.Helpers;

@model List<SupplierPerformanceRM>
@{
    ViewBag.Title = "Performance Report";
    //PerformanceSummary performanceSummary = Model.PerformanceSummary;

    Dictionary<FiscalYear, List<FiscalQuarter>> defaultPoints = (Dictionary<FiscalYear, List<FiscalQuarter>>)ViewData["DefaultPoints"];
    //HtmlString msg = new HtmlString((string)ViewData["SupplierScore"]);

    UserModuleAccessHelper userModuleAccess = new UserModuleAccessHelper();
    Custom2IPrincipal customUser = User as Custom2IPrincipal;
    bool isUserCanAccess = false;
    if (customUser != null)
    {
        isUserCanAccess = userModuleAccess.isUserAccessModuleByRole("GenerateButtonforSupplier", int.Parse(customUser.RoleId.ToString()));
    }
}
<script type="text/javascript">
    var downloadPPTURL =  "@Url.Content("~/SupplierPerformance/DownloadPPT?fileinfo=")";
</script>
<style>
    /*.highcharts-yaxis-labels{
        display:none;
    }*/
    .highcharts-legend {
        display: none;
    }
    .C027-table table {
         margin-top: 0; 
    }
    .C027-table tr:first-child td {
        border-bottom-color: transparent; 
        vertical-align: middle;
    }
    .C027-table table tbody .btmborder {
        border-bottom: solid 1px #004B8D;
    }
    tbody tr td, thead tr th {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        font-family: Arial;
        padding: 5px;
    }
    .centered-content .thumbnail {
        height: 320px;
    }
    .supperformanceheaderleft {
        width: 90%;
        height: 0;
        border-top: 40px solid #00aa7e;
        border-right: 40px solid transparent;
    }
    .headerleftblue {
        width: 90%;
        height: 0;
        border-top: 40px solid #004b8d;
        border-right: 40px solid transparent;
    }
    h1 {
        background-color: #004b8d;
        color: #fff;
        text-align: center;
    }
    .scoreheaderleft {
        height: 0;
        border-top: 51px solid #004b8d;
        border-right: 50px solid transparent;
    }
    .scoreheaderright {
        height: 0;
        border-bottom: 50px solid #dee6ea;
        border-left: 50px solid transparent;
    }
    .detailFontColor {
        color: #13206b;
        font-weight: bold;
    }
    .pull-left {
        font-size: smaller;
    }
    .q1Background {
        background: #004b8d;
    }
    .q2Background {
        background-color: #7b9baa;
    }
    .q3Background {
        background-color: #64B1BB;
    }
    .q4Background {
        background-color: #006998;
    }
    #supplierScoringParameterTHeader tr th {
        font-size: 14px;
    }
    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f1ebeb;
    }
    #supplierScoringParameterTBody tr td {
        font-weight: bold;
        font-size: 12px;
    }
    .qText {
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .referenceText {
        color: #2d3836;
        font-weight: bold;
        text-align: center;
    }
    .referenceBackground {
        background-color: #e2d4d4;
    }
    .inputScoreWeight {
        width: 80%;
    }
    .inputScore {
        width: 100%;
    }
    .tFooterWithoutRemark {
        text-align: right;
    }
    .tFooterHaveRemark {
        text-align: center;
    }
    #scoringParameterTable {
        line-height: 16px;
    }
    .panel-group .panel {
        border: none;
    }
    #groupSupplierDetail-header {
        width: 45% !important;
    }
    .headerright p{
        width:100% !important;
    }
    .category-dashboard h2, .supplier-summary h2{
        color: #004b8d;
        font-weight:500;
        margin-left:20px;
    }

    .supplierPerformanceHeader1 {
        background-color: #62BB46;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .supplierPerformanceHeader2 {
        background-color: #004B8D;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .supplierSummary1 tbody tr td {
        width: 25%;
        text-align: left;
        padding: 5px 10px;
    }

    .supplierSummary1 tbody tr:nth-child(1) td {
        padding: 3px;
    }

    .supplierSummary1 tbody tr:nth-child(2) td {
        padding: 11px;
        border-top: solid 1px #62BB46;
        border-bottom: solid 1px #62BB46;
    }

    .supplierSummary1 tbody tr:nth-child(odd) td {
        background-color: #E0F1DA;
    }

    .supplierSummary1 tbody tr:last-child td {
        border-bottom: solid 1px #62BB46;
    }

    .supplierSummary2 tbody tr td {
        text-align: center;
        font-weight: 500;
        padding-top: 5px;
    }

    .supplierSummary3 tbody tr td {
        padding: 2px 10px;
    }

    .supplierSummary3 tbody tr:nth-child(1) td {
        padding: 3px;
    }

    .supplierSummary3 tbody tr:nth-child(2) td {
        border-top: solid 1px #62BB46;
        border-bottom: solid 1px #62BB46;
    }

    .supplierSummary3 tbody tr:nth-child(odd) td {
        background-color: #E0F1DA;
    }

    .supplierSummary3 tbody tr:last-child td {
        border-bottom: solid 1px #62BB46;
    }
</style>


<div class="row">
    <div class="rowheader comsheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-bar-chart">&nbsp;</i>Supplier Performance</h2>
            <div class="cta-buttons" @*style="display: inline-block; float: right; margin-right:100px"*@>
                @if (isUserCanAccess) {
                    <a id="btnGenerate" class="btn btn-white" href="#" style="background-color:#fff;margin:0px;height:40px">
                        <span class="text-wrapper font5" style="height:40px">
                            Generate
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@*<div style="padding:10px"></div>*@

<div class="panel-group font2" id="accordion" role="tablist" aria-multiselectable="true" data-maincontainer-yn="true" data-page-url="SupplierPerformance" data-region-ids="">
    <div class="panel panel-default">
        @foreach (SupplierPerformanceRM sprm in Model)
        {
            PerformanceSummary performanceSummary = sprm.PerformanceSummary;
            int total = performanceSummary.ExceedsCount + performanceSummary.MeetsCount + performanceSummary.BelowCount + performanceSummary.FailCount;
            string locations = "";
            int locationCount = sprm.Locations.Count;
            if (locationCount > 0)
            {
                int locationctr = 1;
                foreach (SupplierBuyingLocation sbl in sprm.Locations)
                {
                    string seperator = locationCount == locationctr ? " & " : ", ";
                    locations += (((locations.Length > 0) ? seperator : "") + sbl.LocationDescription);

                    locationctr++;
                }
            }

            bool isGlobalYn = sprm.RegionID == 0;

            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(sprm.RegionID)" aria-expanded="true" aria-controls="collapse@(sprm.RegionID)">
                <div class="panel-heading" role="tab" id="report@(sprm.RegionID)" style="background-color:#004b8d;color:#fff;font-weight:700"><i class="fa fa-chevron-down">&nbsp;</i>@(!isGlobalYn ? sprm.Region.RegionDescription : "Global")</div>
            </a>
            <div id="collapse@(sprm.RegionID)" class="panel-collapse collapse @(sprm.RegionID > 1 || isGlobalYn ? "" : "in")" role="tabpanel" aria-labelledby="report@(sprm.RegionID)" aria-expanded="true" data-regioncontainer-yn="true" data-region-id="@(sprm.RegionID)">
                <div class="panel-body">
                    <br />
                    <div class="row" id="divSupplierPerformance">
                        <div class="col-md-7" id="divSupplierPerformance@(sprm.RegionID)" data-supplierperformancediv-yn="true">

                        </div>
                        <div class="col-md-5">
                            <h3 class="font4" style="color:#004b8d;font-weight:700;font-size:24px">
                                SUMMARY
                            </h3>
                            <h3 class="font4" style="color:#004b8d;font-weight:700;font-size:24px">Top @total Suppliers</h3>
                            <div class="C027-table spsummarytable">
                                @*<div class="table-container" style="border:solid 1px #868080;border-radius:40px">*@
                                    <table id="supplierTable" class="display" cellspacing="0" style="overflow:auto; width:100%; overflow:auto">
                                        <thead>
                                            <tr style="border-top:solid 1px #004B8D;border-bottom:solid 1px #004B8D">
                                                <th style="width:16.66%">@sprm.PerformanceSummary.FiscalYear.FYDescription @sprm.PerformanceSummary.FiscalQuarter.FQDescription</th>
                                                <th style="width:16.66%">Exceeds</th>
                                                <th style="width:16.66%">Meets</th>
                                                <th style="width:16.66%">Below</th>
                                                <th style="width:16.66%">Fails</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="supplierTbody">
                                            <tr style="background-color:#CCDBE8">
                                                <td style="font-size:18px">Scores Bucket</td>
                                                <td style="font-size:20px;color:#d31245">90-100</td>
                                                <td style="font-size:20px;color:#d31245">80-89</td>
                                                <td style="font-size:20px;color:#d31245">60-79</td>
                                                <td style="font-size:20px;color:#d31245">0-59</td>
                                                <td style="font-size:20px;color:#d31245">TOTAL</td>
                                            </tr>
                                            <tr style="background-color:#FFF">
                                                <td style="font-size:18px">No. of Suppliers</td>
                                                <td style="font-size:22px">@performanceSummary.ExceedsCount</td>
                                                <td style="font-size:22px">@performanceSummary.MeetsCount</td>
                                                <td style="font-size:22px">@performanceSummary.BelowCount</td>
                                                <td style="font-size:22px">@performanceSummary.FailCount</td>
                                                <td style="font-size:22px">@total</td>
                                            </tr>
                                            <tr style="background-color:#CCDBE8">
                                                <td class="btmborder" style="font-size:22px">%</td>
                                                <td class="btmborder" style="font-size:22px">@performanceSummary.ExceedsPercent%</td>
                                                <td class="btmborder" style="font-size:22px">@performanceSummary.MeetsPercent%</td>
                                                <td class="btmborder" style="font-size:22px">@performanceSummary.BelowPercent%</td>
                                                <td class="btmborder" style="font-size:22px">@performanceSummary.FailPercent%</td>
                                                <td class="btmborder" style="font-size:22px">100%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                @*</div>*@
                            </div>
                        </div>
                    </div><br /><br />
                    <div class="row centered-content category-dashboard" id="">
                        <div style="border-bottom:1px solid #000"><h2>Performance by Category Dashboard</h2></div><br />
                    </div>
                    <div class="row centered-content category-dashboard" id="divCategoryDashboard">
                        <div class="col-md-1 col-sm-1">
                            <div class="categoryDashboard" @*style="margin-left:10px"*@>
                                <div class="BannerContainer" @*style="float:right"*@>
                                    <div class="content-container spheader" @*style="background-image: linear-gradient(#fff, #004b8d);width:40px;height:1040px"*@>

                                        <p class="verticaltext font6">PREFERRED SUPPLIERS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11 col-sm-11">
                            @foreach (PerformanceCategoryDashboard pcd in sprm.PerformanceCategoryDashboards)
                            {
                                <div class="col-md-3">
                                    <div class="thumbnail" style="padding:0px;margin-bottom:30px">

                                        <div id="chartContainer_@(sprm.RegionID + "_" + pcd.SupplierCategory.CategoryName.Replace(' ', '_').Replace('/', '_'))" data-categorychart-yn="true">
                                           
                                            </div>
                                        </div>
                                    </div>
                            }
                        </div>
                    </div><br /><br />
                    @if (!isGlobalYn)
                    {
                        int ctr = 0;
                        <div class="row centered-content supplier-summary" id="">
                            <div style="border-bottom:1px solid #000"><h2>Supplier Summary</h2></div><br />
                        </div>
                        <div id="divSupplierSummary">
                            <div class="row" style="margin:5px 45px 20px">
                                <div class="col-md-6 col-sm-6" style="margin-bottom:5px">
                                    @{
                                        string liString = "";
                                        int supplierTotalCount = 0;
                                        int tdCtr = 0;
                                        int tdCount = 0;
                                        foreach (LocationSupplierCount ls in sprm.SupplierSummary.LocationSupplierCounts)
                                        {
                                            tdCtr++;

                                            if (tdCtr == 1)
                                            {
                                                liString += ("<tr>");
                                                liString += ("<td>" + ls.SupplierBuyingLocation.LocationDescription + "</td>");
                                                liString += ("<td style='font-weight:500'>" + ls.Count + "</td>");
                                            }

                                            if (tdCtr == 2)
                                            {
                                                liString += ("<td>" + ls.SupplierBuyingLocation.LocationDescription + "</td>");
                                                liString += ("<td style='font-weight:500'>" + ls.Count + "</td>");
                                                liString += ("</tr>");
                                                tdCtr = 0;
                                            }

                                            tdCount++;

                                            supplierTotalCount += ls.Count;
                                        }

                                        if (tdCount % 2 != 0)
                                        {
                                            liString += ("<td></td>");
                                            liString += ("<td></td>");
                                            liString += ("</tr>");
                                        }

                                        HtmlString liStringHtml = new HtmlString(liString);
                                    }

                                    <table class="supplierSummary1" style="width:100%">
                                        <thead>
                                            <tr style="text-align:left">
                                                <td colspan="4" class="supplierPerformanceHeader1">Supplier Count = @supplierTotalCount</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td colspan="4" style="background-color:#fff;"></td></tr>
                                            <tr><td colspan="4" style="text-align:center;font-size:20px;font-weight:bold">Locations</td></tr>
                                            @liStringHtml
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-bottom:5px">
                                    <table class="supplierSummary2" width="100%">
                                        <thead>
                                            <tr style="text-align:left">
                                                <td class="supplierPerformanceHeader2">Eliminate (next 12 months)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (SupplierSummaryVM sm in sprm.SupplierSummary.Eliminate)
                                            {
                                                <tr>
                                                    <td>@sm.SupplierName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" style="margin:10px 45px 20px">
                                <div class="col-md-6 col-sm-6">
                                    <table class="supplierSummary3" style="width:100%">
                                        <thead>
                                            <tr style="text-align:left">
                                                <td colspan="2" class="supplierPerformanceHeader1">Get Well</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td colspan="2" style="background-color:#fff;"></td></tr>
                                            <tr>
                                                <td style="width:75%;text-align:left;font-size:20px;font-weight:bold">Supplier Name</td>
                                                <td style="width: 25%; text-align: center; font-size: 20px; font-weight: bold">Score</td>
                                            </tr>
                                            @foreach (SupplierSummaryVM gm in sprm.SupplierSummary.GetWell)
                                            {
                                                <tr>
                                                    <td style="text-align:left;font-weight:500">@gm.SupplierName</td>
                                                    <td style="text-align:center;font-weight:500">@gm.CurrentQuarterScore%</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <table class="supplierSummary2" width="100%">
                                        <thead>
                                            <tr style="text-align:left">
                                                <td class="supplierPerformanceHeader2">Eliminated</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (SupplierSummaryVM sm in sprm.SupplierSummary.Eliminated)
                                            {
                                                <tr>
                                                    <td>@sm.SupplierName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><br /><br />
                        <div style="border-bottom:1px solid #000"><h2 style="color:#004b8d;font-weight:500;margin-left:20px">Get Well Program</h2></div>
                        
                            foreach (SupplierSummaryVM ui in sprm.SupplierSummary.GetWell)
                            {
                                string placeholder = "Past 90 Days" + System.Environment.NewLine + "Comment" + System.Environment.NewLine + "Next 90 Days" + System.Environment.NewLine + "Comment";

                                HtmlString getwellui = new HtmlString(ui.GetWellUI);
                                string supplierInfo = ui.SupplierName + " (" + ui.SupplierState + ", " + ui.CategoryName + ")";
                                <div class="getwellscore_@(sprm.RegionID)_@(ctr)" data-getwell-yn="true" data-getwell-id="@(sprm.RegionID)_@(ctr)">
                                    <h4 style="color:#004b8d;font-weight:700;margin:10px 30px">@supplierInfo</h4>
                                    @getwellui
                                    <br />
                                </div>
                                <div class="row" style="margin-top: -45px;margin-bottom: 40px;" data-getwellparent-id="@(sprm.RegionID)_@(ctr)">
                                    <div class="col-sm-10">
                                        <textarea autocomplete="off" placeholder="@placeholder" class="form-control" data-commenttxt-id="@(ui.SupplierID)" cols="20" id="txtComment@(ui.SupplierID)" maxlength="" name="SupplierDescription" rows="2" style="min-height:91px;color:#000;z-index:1;resize:none;display:none;">@(ui.Comment)</textarea>
                                    </div>
                                    <div class="col-sm-2 fa-pull-right cta-buttons" style="display: inline-block; float: right;">
                                        <a id="btnComment@(ui.SupplierID)" data-commentbtn-id="@(ui.SupplierID)" class="btn btn-white" href="#" style="background-color:#fff;margin:0px;height:40px">
                                            <span class="text-wrapper font5" style="height:40px">
                                                Show Comment
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                ctr++;
                            }
                        }
                </div>
            </div><br />
        }
        
        
    </div>
</div>
<script src="~/Scripts/plugin/html2canvas/rgbcolor.min.js"></script>
<script src="~/Scripts/plugin/html2canvas/canvg.js"></script>
<script src="~/Scripts/plugin/html2canvas/es6-promise.min.js"></script>
<script src="~/Scripts/plugin/html2canvas/es6-promise.auto.js"></script>
@Scripts.Render("~/bundles/html2canvas")
@Scripts.Render("~/bundles/highchart")
<script src="~/Scripts/page/supplierperformance.js"></script>



