﻿@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

@{
    ViewBag.Title = "Home";
    List<IMSReportAutomationModel.ScoringParameter> scoringParamList = (List<IMSReportAutomationModel.ScoringParameter>)ViewData["ScoreParam"];
    List<IMSReportAutomationModel.ScoringParameterDetail> scoringParamDetails = (List<IMSReportAutomationModel.ScoringParameterDetail>)ViewData["ScoreParamDetail"];
    List<IMSReportAutomationModel.BusinessUnit> businessUnitList = (List<IMSReportAutomationModel.BusinessUnit>)ViewData["BusinessUnit"];
    List<IMSReportAutomationModel.User> userList = (List<IMSReportAutomationModel.User>)ViewData["User"];
    List<IMSReportAutomationModel.SupplierCategory> supplierCategoryList = (List<IMSReportAutomationModel.SupplierCategory>)ViewData["SupplierCategory"];
}

@*@Scripts.Render("~/bundles/highchart");*@

<style>
    .content {
        background-color: #f0f0f0;
        text-align: center;
        height: 250px;
        margin: 20px auto;
        width: 90%;
        border: solid 1px #2d383f;
    }

    .contentHeader {
        background-color: #00aa7e;
        padding-top: 5px;
        padding-bottom: 1px;
        font-weight: bold;
        color: #fff;
    }

    .panel-heading {
        font-weight: bold;
        border-radius: 0px;
    }

    .panel-default {
        width: 90%;
        margin: 20px auto;
    }

    .table-container tr td {
        font-size: 10pt;
        line-height: 14px;
        font-weight:500;
    }

    .table-container tr th {
        font-size: 12pt;
        font-weight:900;
        line-height: 15px;
    }
</style>


<div class="row">
    <div class="rowheader homeheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-home">&nbsp;</i>Indirect Materials Supplier Homepage</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
        <div class="panel-group font2 accordion"  role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <a role="button" data-toggle="collapse" href="#program" aria-expanded="true">
                    <div class="panel-heading" role="tab" id="programHeader">Overview of the Program</div>
                </a>
                <div id="program" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="programHeader">
                    <div class="panel-body" style="font-weight:500;line-height:20px">
                        The Indirect Supplier Program at Emerson is the first program developed to measure the performance of our Indirect Suppliers. <br /><br />
                        Scoring is based upon Cost Savings, Payment Terms, Service Level and Value-Added Services. <br /><br />
                        The minimum total score to be maintained is at 90%, which will be reviewed by the Stakeholder and the Business Unit’s Indirect point-of-contact. <br /><br />
                        Scoring results will be presented to the Business Unit and to the Supplier on a quarterly basis.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group font2 accordion"  role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <a role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="true">
                    <div class="panel-heading" role="tab" id="headingTwo">Overview of the Supplier Categories</div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        @*<ol style="list-style: none;">*@
                            @{

                                foreach (IMSReportAutomationModel.SupplierCategory suppCategory in supplierCategoryList)
                                {

                                    <li style="list-style:none"><i class="fa fa-th" aria-hidden="true"></i><span style="overflow:hidden;text-overflow:ellipsis;font-weight:500;font-size:16px"> @suppCategory.CategoryName </span></li>
                                }
                            }
                        @*</ol>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group font2 accordion"  role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <a role="button" data-toggle="collapse" href="#contacts" aria-expanded="true">
                    <div class="panel-heading" role="tab" id="headingThree">Contact info for the Indirect Materials POCs</div>
                </a>
                <div id="contacts" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        @{
                            if (userList.Count > 0)
                            {
                                @*<ol style="list-style: none;">*@
                                    foreach (IMSReportAutomationModel.User user in userList)
                                    {
                                    <li @*style="list-style:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap"*@>
                                        <i class="fa fa-user-circle"></i>
                                        <b>@user.Employee.BusinessUnit.BUName  | <i> <a href="@("mailto: " + user.Employee.EmailAddress + "? subject = Indirect Material Supplier Performance Feedback")"> @user.Employee.FullName </a> </i></b>| @user.Employee.ContactNumber
                                    </li>
                                    }
                                @*</ol>*@
                            }
                            else
                            {
                                <p>No Records to display</p> 
                            }

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <div class="container" style="width:90%;margin-bottom:20px">
                    <div class="C027-table" style="padding:0px">
                        <div class="padded-container">
                            <div class="table-container borderless-body">
                                <div class="richtext">
                                    <table style="text-align:center">
                                        <thead>
                                            <tr style="border-bottom:4px solid #ffff00">
                                                <th style="font-size:40px;width:15%;text-align:center"><i class="fa fa-lightbulb-o" style="color:#00aa7e"></i></th>
                                                <th class="font" style="text-align:center">SCORING PARAMETERS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="font9">
                                                <td style="white-space:nowrap">90-100</td>
                                                <td>Exceeds Requirements</td>
                                            </tr>
                                            <tr class="font9">
                                                <td style="white-space:nowrap">80-89</td>
                                                <td>Meets Requirements</td>
                                            </tr>
                                            <tr class="font9">
                                                <td style="white-space:nowrap">60-79</td>
                                                <td>Below Requirements, needs improvement</td>
                                            </tr>
                                            <tr class="font9">
                                                <td style="white-space:nowrap">0-59</td>
                                                <td>Fails to meet Requirements</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        foreach (IMSReportAutomationModel.ScoringParameter scoreParam in scoringParamList)
                        {
                            <div class="C027-table" style="padding:0px">
                                <div class="padded-container">
                                    <div class="table-container borderless-body">
                                        <div class="richtext">
                                            <table style="text-align:center" class="table-striped">
                                                <thead>
                                                    <tr class="parameter@(scoreParam.ScoringParameterID)">
                                                        <th style="width:15%;text-align:center;font-weight:500">Score</th>
                                                        <th style="text-align:center">@scoreParam.ParamDisplayName</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        foreach (IMSReportAutomationModel.ScoringParameterDetail scoreParamDetail in scoringParamDetails)
                                                        {
                                                            if (scoreParamDetail.ScoringParameterID == scoreParam.ScoringParameterID)
                                                            {
                                                                <tr class="font9" >
                                                                    <td>@scoreParamDetail.SPDMultiplier</td>
                                                                    <td>@scoreParamDetail.SPDDescription</td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
              
                </div>
            </div>
            <div class="col-md-6">
                <div id="fYTD" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto;margin-top:10px"  data-maincontainer-yn="true" data-page-url="Home">
                </div>

                <div class="panel-group font2 accordion"  role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <a role="button" data-toggle="collapse"  href="#getwell" aria-expanded="true">
                            <div class="panel-heading" role="tab" id="getWellHeader">Overview of the Get Well Program</div>
                        </a>
                        <div id="getwell" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="getWellHeader">
                            <div class="panel-body" style="font-weight:500;line-height:20px">
                                Selected Suppliers with Score under 80% for 2 consecutive quarters will be put under the "Get Well" Program wherein all Indirect Supplier Performance categories will be reviewed with the Stakeholder from time to time.<br /><br />
                                After 2 Quarters with no improvement, Stakeholder and the Business Unit Indirect point-of-contact will discuss whether the supplier needs replacement or the Business Unit will continue to do business with them. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="~/Scripts/page/home.js"></script>
@Scripts.Render("~/bundles/highchart")
