﻿@using IMSReportAutomationModel;
@model SupplierBUMapping
@{
    IEnumerable<SelectListItem> buList = (IEnumerable<SelectListItem>)ViewData["BusinessUnitList"];
    IEnumerable<SelectListItem> statusList = (IEnumerable<SelectListItem>)ViewData["StatusList"];
}
<style>
    .sorting_1 {
        text-align: start;
    }
</style>
<form id="frmSupplierBUMapping" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    <div style="padding-top:20px"></div>
    @Html.HiddenFor(model => model.SupplierBUID, new { @id = "SupplierBUID" })
    @Html.HiddenFor(model => model.SupplierID, new { @id = "supplierID" })

    <div class="row form-group">
        <div class="col-xs-4 col-sm-3 col-md-2 order-fist">
            <button id="btnCancelSupplierBUMapping" class="form-control btn btn-primary fa fa-chevron-left" style="height:40px; float:right">&nbsp;back</button>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 order-last">
            <button id="btnSaveSupplierBUMapping" class="form-control btn btn-primary fa fa-floppy-o" style="height:40px">&nbsp;Save</button>
        </div>
    </div>
    <div style="padding-top:20px"></div>

    
    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="BusinessUnit">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.BusinessUnitID, buList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "form-control ddlFontColorBlack", @name = "SupplierBUID" })
        </div>
        <span id="SBUMBusinessUnitError" style="color:red;margin-left:10px"></span>
    </div>


    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="Status">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Status
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.StatusID, statusList, "- Select -", new { @id = "cboStatus", data_val = false, @class = "form-control ddlFontColorBlack", @name = "StatusID" })
        </div>
        <span id="SBUMStatusError" style="color:red;margin-left:10px"></span>
    </div>

    <div class="row form-group centered-content">
        <div id="successMessage">
            <p id="successMessage" class="margin-zero text-center color-white"></p>
        </div>
    </div>
    @*<div class="col-xs-6 col-sm-1 col-md-2 col-lg-2 order-first">
            <button id="btnSaveSupplierPaymentTerms" class="form-control btn btn-primary fa fa-floppy-o">&nbsp;Save</button>
        </div>
        <div class="col-xs-6 col-sm-1 col-md-2 col-lg-2 order-last">
            <button id="btnCancelSupplierPaymentTerms" class="form-control btn btn-primary btnModalFooter btnOutlinePrimary fa fa-times">&nbsp;Cancel</button>
        </div>*@
    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <ul id="sbmuerrorUL" style="color: red"></ul>
        </div>
    </div>
</form>