﻿
@model List<IMSReportAutomationModel.SupplierBUMapping>
<style>
    .modal-dialog {
        width: 80%;
    }

    table.dataTable tbody tr {
        background-color: transparent !important;
    }

    #supplierTable_length {
        display: none;
    }

    .tabcontent {
        display: none;
        border: none;
        border-top: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }
</style>


<div id="DataTable-Sample">
    <div class="padded-container" style="max-width:100% !important">
        <div class="table-container">
            <br />
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <button id="btnAddSupplierBusinessUnitMapping" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;height:40px"><span class="font5" style="color:#fff">&nbsp;Add Business Unit</span></button>
                </div>
                <div class="col-sm-7 col-md-9 col-lg-9"></div>
            </div><br />
            <div class="cm-row">
                <table id="supplierBusinessUnitMappingTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:300px;">
                    <thead>
                        <tr>
                            <th>Business Unit</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="supplierBusinessUnitMappingTbody">
                        @foreach (IMSReportAutomationModel.SupplierBUMapping sbum in Model)
                        {
                            <tr>
                                @*<td>@spt.SupplierMaster.SupplierName</td>*@
                                <td><a href="#" class="a-edit" data-id="@sbum.SupplierBUID">@sbum.BusinessUnit.BUName</a></td>
                                <td>@sbum.StatusList.StatusDescription</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <br />
</div>

@*<script src="~/scripts/page/supplierpaymentterms.js"></script>*@


