﻿
@model IMSReportAutomationModel.EmailLetter

<form id="frmEmailLetter" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    @Html.HiddenFor(model => model.EmailLetterID, new { @id = "emailLetterID" })


    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label for="Letter">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Letter
            </label>
        </div>
        <span id="letterError"></span>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.TextAreaFor(model => model.EmailLettersValue, 10, 15, new { @id = "emailLetter", @class = "form-control", @maxlength = "1000", @autocomplete = "off", @style = "resize:none;color:#000" })
        </div>
    </div>
    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <ul id="validationMessage" class="margin-zero text-center color-white" style="color: red; background-color: #fff "></ul>
        </div>
    </div>
</form>