﻿
@{
    List<IMSReportAutomationModel.Employee> stakeholderList = (List<IMSReportAutomationModel.Employee>)ViewData["Stakeholder"];
    //List<IMSReportAutomationModel.ViewModel.StakeholderSupplierBUVM> stakeholderSupplier = (List<IMSReportAutomationModel.ViewModel.StakeholderSupplierBUVM>)ViewData["StakeholdersSupplier"];
    ViewBag.Title = "Survey Request";
}
<style>
    div .font6 a{display:none}
</style>
<div class="row">
    <div class="rowheader employeeheader" id="employees">
        <div class="col-xs-12">
            <span id="HeaderTitle" class="font4" style="color:#f0f0f0"><i class="fa fa-file-text-o">&nbsp;</i>Stakeholder Supplier Survey Request</span>
        </div>
    </div>
</div>
<div class="cm-row" data-maincontainer-yn="true" data-page-url="SurveyRequest">
    <div class="col-md-5">
        <div class="form-group row stakeholderrow" style="margin-left:20px">
            <div class="well" @*style="max-height: 500px;overflow: auto; height: 500px; margin-top: 32px !important;border-right:none !important"*@>
                <select id="select-stakeholder" type="text" multiple placeholder="Send survey request to.">
                    @foreach(var stakeholder in stakeholderList)
                    {
                        <option value="@stakeholder.EmployeeID" selected> @stakeholder.FullName </option>
                    }
                </select>
                <div class="container" style="background-color:#fff;width:100%;height:295px;border:1px solid #d0d0d0">
                    <div class="padded-container" style="max-height:295px;overflow:auto;width:102% !important">
                        <div class="font6" style="margin:10px 10px">Excluded Stakeholder</div>
                        <ul class="list-group checked-list-box horizontal-list" id="excludedStakeholder" style="margin-left:40px;margin-top:20px">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group row supplierrow" style="margin-right:20px">
            <div class="well">
                <div class="container" style="background-color:#fff;width:100%;height:310px;border:1px solid #d0d0d0">
                    <div class="padded-container" style="max-height:310px;overflow:auto;width:102% !important">
                        <ul class="list-group checked-list-box" id="ulSupplier" style="margin-left:40px;margin-top:20px">
                            @*@foreach(var stakeholder in stakeholderList)
                            {
                            <li>
                              <div class="font6">@stakeholder.Name</div>
                                <div class="font2">
                                    <span>@string.Join(", ",stakeholderSupplier.Where(param => param.stakeholderID == stakeholder.ID).Select(param => param.supplierName))</span>
                                </div>
                            </li>
                            }*@
                        </ul>
                    </div>
                </div>
                    <button id="btnSendEmail" class="btn btn-primary btn-xs" type="button">
                        <span class="font5" style="color:white"><i class="fa fa-send">&nbsp;Send Email</i></span>
                    </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/page/surveyrequest.js"></script>
