﻿@using IMSReportAutomationModel
@using IMSReportAutomationCommons.Constants;
@model List<SupplierScore>
@{
    ViewBag.Title = "Supplier Score";
    User user = (User)ViewData["Users"];
    SupplierMaster supplierMaster = (SupplierMaster)ViewData["supplier"];
    List<ScoringParametersMultiplierBUMapping> scoreParamMultiplier = (List<ScoringParametersMultiplierBUMapping>)ViewData["ScoringParameterMultiplier"];
    SupplierPaymentTerms supplierPaymentTerm = (SupplierPaymentTerms)ViewData["SupplierPaymentTerm"];
    List<ScoringParameter> scoringParamList = (List<ScoringParameter>)ViewData["ScoringParam"];
    List<ScoringParameterDetail> scoringParamDetails = (List<ScoringParameterDetail>)ViewData["ScoringParamDetail"];
    List<StakeholderSupplierMapping> stakeholderSupplierData = (List<StakeholderSupplierMapping>)ViewData["StakeholderSupplierData"];
    SupplierExpense supplierExpense = (SupplierExpense)ViewData["SupplierExpense"];
    SupplierBUMapping supplierBUMapping = (SupplierBUMapping)ViewData["BusinessUnitSupplierMapping"];
    bool supplierPerformanceYN = false;

    List<Tuple<int, string, string>> Points = (List<Tuple<int, string, string>>)ViewData["Points"];

    bool.TryParse((string)ViewData["SupplierPerformanceYN"], out supplierPerformanceYN);
    string checkboxReadOnly = "";
    if (supplierPerformanceYN)
    {
        checkboxReadOnly = "disabled";
    }

    string checkedEliminated = supplierBUMapping.EliminateNext12Months != null ? "checked" : "";
    string disableEliminated = supplierBUMapping.Eliminated != null ? "disabled" : "";
    string checkedEliminate = supplierBUMapping.Eliminated != null ? "checked" : "";
    string disableEliminate = supplierBUMapping.EliminateNext12Months != null ? "disabled" : "";


    DateTime eliminated = supplierBUMapping.Eliminated == null ? DateTime.Now : (DateTime)supplierBUMapping.Eliminated;
    DateTime eliminated12Months = supplierBUMapping.EliminateNext12Months == null ? DateTime.Now : (DateTime)supplierBUMapping.EliminateNext12Months;

    bool isElimanted = false;
    if (eliminated < DateTime.Now.Date || eliminated12Months < DateTime.Now.Date)
    {
        isElimanted = true;
    }

    int paymentTermValue = 0;
}
@{

    //if (supplierMaster != null && stakeholderSupplierData != null && stakeholderSupplierData.Count > 0 && scoringParamList.Count > 0 && scoringParamList != null && supplierBUMapping.StatusID == StatusConstants.Active)
    if (supplierMaster != null && stakeholderSupplierData != null && scoringParamList.Count > 0 && scoringParamList != null && supplierBUMapping.StatusID == StatusConstants.Active)
    {
        <style>
            .headerleft {
                width: 100%;
                height: 0;
                border-top: 50px solid #0069a8;
                border-right: 50px solid transparent;
            }

            .pull-left {
                font-size: smaller;
            }

            #supplierScoringParameterTBody tr td {
                font-weight: bold;
                font-size: 12px;
            }

            #scoringParameterForm {
                overflow: auto;
            }

            /*#scoringForm {
                position: relative;
                margin-top: -30px;
            }*/

            #supplierScoringParameterTHeader tr th {
                font-size: 14px;
            }

            .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
                background-color: #f1ebeb;
            }

            .detailFontColor {
                color: #13206b;
                font-weight: bold;
            }

            .tFooterWithoutRemark {
                text-align: right;
            }

            .tFooterHaveRemark {
                text-align: center;
            }

            .referenceText {
                color: #2d3836;
                font-weight: bold;
                text-align: center;
            }

            .qText {
                color: white;
                font-weight: bold;
                text-align: center;
            }

            .activeQText {
                color: black;
                font-weight: bold;
                text-align: center;
            }

            .referenceBackground {
                background-color: #e2d4d4;
            }

            .q1Background {
                background: #004b8d;
            }

            .q2Background {
                background-color: #7b9baa;
            }

            .q3Background {
                background-color: #64B1BB;
            }

            .q4Background {
                background-color: #006998;
            }

            .inputScoreWeight {
                width: 80%;
            }

            .inputScore {
                width: 100%;
            }

            #updateScore {
                cursor: pointer;
            }

            #saveUpdateScore {
                cursor: pointer;
            }
        </style>
        <div id="dataTableSupplierScore">
            <div>

                @{
                    foreach (var stakeholderSupplier in stakeholderSupplierData)
                    {
                        if (stakeholderSupplier.FiscalYear.FYStatusID == 1 && stakeholderSupplier.FiscalYear.FYStatusID == 1 && stakeholderSupplier.FiscalQuarter.FQStatusID == 1)
                        {
                            <label id="lblFiscalQuarterID" hidden>@stakeholderSupplier.FQuarterID</label>
                            <label id="lblFiscalYearID" hidden>@stakeholderSupplier.FYID</label>
                            <label id="lblBusinessUnitID" hidden>@stakeholderSupplier.Employee.BusinessUnitID</label>
                            <label id="lblstakeholderSupplierID" hidden>@stakeholderSupplier.StakeholderSupplierID</label>

                        }
                    }
                }
                <div id="form-header" style="width:100%;cursor:default">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:0px">
                                <div id="groupStakeholder-header" style="width:100%;float:left">
                                    <div class="headerleft" style="color:#e1f3f6;font-weight:bold;position:relative;z-index:1">
                                        <label id="lblstakeholderID" hidden>@user.EmployeeID</label>
                                        <p style="margin-top:-45px;margin-left:10px;overflow:hidden;text-overflow:ellipsis;display:block;line-height:22px;max-height:40px">Indirect Supplier Scorecard - @user.Employee.FullName [<label id="lblPositioTitle"> @user.Employee.PositionTitle.PositionTitleDescription </label>]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 groupSupplierDetail-header" @*style="padding-right:0px;margin-left:-60px"*@>
                                <div id="groupSupplierDetail-subheader" @*style="float:left;width:420px"*@>
                                    <div class="headerright" @*style="color:#000000;font-weight:bold;width:100%"*@>
                                        <p style="position:relative;margin:0;line-height:17px"><p style="overflow:hidden;text-overflow:ellipsis;max-height:50px">@supplierMaster.SupplierDescription</p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            @{
                                bool isAssessed = false;
                                foreach (var stakeholderSupplier in stakeholderSupplierData)
                                {
                                    if (stakeholderSupplier.Assessed != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1)
                                    {
                                        isAssessed = true;
                                    }

                                }
                                if (!isAssessed && !supplierPerformanceYN && !isElimanted && user.RoleID == RoleConstants.Stakeholder)
                                {
                                    <div class="savescoreview"><button id="btnSubmit" type="button" class="btn btn-primary" style="font-size:12px;white-space:nowrap"><i class="fa fa-floppy-o" style="font-size:14px">&nbsp;</i><div class="savescore">Save Evaluation</div></button></div>
                                }
                            }
                            @*<div class="savescoreview"><button id="btnSubmit" type="button" class="btn btn-primary" style="font-size:12px;white-space:nowrap"><i class="fa fa-floppy-o" style="font-size:14px">&nbsp;</i><div class="savescore">Save Evaluation</div></button></div>*@

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4 col-sm-5 col-xs-12" style="z-index:1;padding-right:5px">
                        <div class="thumbnail" style="background-color:#e1f3f6; width:100%;margin-bottom:0px;z-index:0;position:relative;cursor:default">
                            <div class="container" style="width:100%">
                                <label id="lblsupplierID" hidden>@supplierMaster.SupplierID</label>
                                <div class="row  " id="siteName">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="SiteName">
                                            Site Name:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @(supplierMaster.SupplierBuyingLocation != null ? supplierMaster.SupplierBuyingLocation.LocationDescription : "")
                                    </div>
                                </div>
                                <div class="row  " id="SupplierName">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="SupplierName">
                                            Supplier Name:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @supplierMaster.SupplierName
                                    </div>
                                </div>
                                <div class="row centered-content" id="SupplierID">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="SupplierID">
                                            Supplier ID#:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @supplierMaster.LocalVendorNumber
                                    </div>
                                </div>
                                <div class="row centered-content" id="paymentTerm">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="PaymentTerm">
                                            Payment Term:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @{
                                            if (supplierPaymentTerm != null)
                                            {
                                                if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay > 1)
                                                {
                                                    <label id="pNetDaysToPay" style="font-weight:normal">@supplierPaymentTerm.PaymentTerms.PNetDaysToPay</label> @(" Days")
                                                }
                                                else
                                                {
                                                    <label id="pNetDaysToPay" style="font-weight:normal">@supplierPaymentTerm.PaymentTerms.PNetDaysToPay</label> @(" Day")
                                                }
                                            }
                                            else
                                            {

                                            }
                                        }

                                    </div>

                                </div>
                                <div class="row centered-content" id="category">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="Category">
                                            Category:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @(supplierMaster.SupplierCategory != null ? supplierMaster.SupplierCategory.CategoryName : "")
                                    </div>
                                </div>

                                <div class="row centered-content" id="spend">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="Spend">
                                            Spend:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @(supplierExpense != null ? "$" + supplierExpense.SalesVolume.ToString("N0") : "" )

                                    </div>
                                </div>
                                <div class="row centered-content" id="date">
                                    <div class="col-md-4 col-sm-12 col-xs-4">
                                        <label class="pull-left" for="Date">
                                            Date:
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-8">
                                        @DateTime.Now.Date.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            if (user.RoleID != 5 && !supplierPerformanceYN)
                            {
                                <div id="checkboxBlock">
                                    <input type="checkbox" value="Eliminate" id="cbEliminate" name="checkbox2" @checkboxReadOnly @checkedEliminate @disableEliminate>
                                    <label for="cbEliminate" class="label-checkbox block">Eliminate</label><br />
                                    <input type="checkbox" value="EliminateNext12Month" id="cbEliminateNext12Month" name="checkbox2" @checkboxReadOnly @checkedEliminated @disableEliminated>
                                    <label for="cbEliminateNext12Month" class="label-checkbox block">Eliminate after 12 Months</label><br />
                                    <div id="divdtEliminate" style="display:none">
                                        <label for="dtEliminate" class="label-checkbox block">Eliminate</label>
                                        <input type="text" id="dtEliminate" readonly="readonly" style="padding: 10px 15px;background-color: #eee;margin-bottom: 5px;">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12" style="padding-left:0px;cursor:default">
                        <h4 class="detailFontColor"> <span><i class="fa fa-gear" style="color:#0094ff;margin-left:10px"></i></span>SCORING PARAMETERS </h4>
                        <div id="scoringParameterForm">
                            <table id="scoringParameterTable" class="table-striped display" cellspacing="0" style="width:100%;">
                                <thead id="supplierScoringParameterTHeader">
                                    <tr>
                                        @foreach (var scoringParameter in scoringParamList)
                                        {
                                            <th class="q1Background qText" style="width:20%">@scoringParameter.ParamDisplayName</th>
                                            <th class="q1Background qText" style="width:5%">Score</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="supplierScoringParameterTBody">
                                    @for (int count = 5; count >= 1; count--)
                                    {
                                        <tr>
                                            @foreach (var scoringParameter in scoringParamList)
                                            {
                                                var noDataCount = 0;
                                                foreach (var scoringParamDetail in scoringParamDetails)
                                                {
                                                    if (scoringParameter.ScoringParameterID == scoringParamDetail.ScoringParameterID && scoringParamDetail.SPDMultiplier == count)
                                                    {
                                                        <td style='padding-left:4px'>@scoringParamDetail.SPDDescription</td>
                                                        <td style='text-align:center'>@scoringParamDetail.SPDMultiplier</td>

                                                    }
                                                    else
                                                    {
                                                        noDataCount++;
                                                    }
                                                }
                                                if (noDataCount == scoringParamDetails.Count())
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br />

                <div id="scoringForm">
                    <table id="scoringTable" class="display" cellspacing="0" style="width:100%;overflow:auto">
                        <thead id="supplierScoringTHeader">
                            @for (int countHeaderRow = 0; countHeaderRow < 2; countHeaderRow++)
                            {
                                <tr>
                                    @if (countHeaderRow == 0)
                                    {
                                        int countHeader1 = 1;
                                        for (int countHeaderColumn = 0; countHeaderColumn < 2; countHeaderColumn++)
                                        {
                                            if (countHeaderColumn == 0)
                                            {
                                                <th class="referenceBackground referenceText" rowspan="2" style="width:20%">Evaluation Category</th>
;
                                            }
                                            else
                                            {
                                                <th class="referenceBackground referenceText" rowspan="2" style="width:7%">Weight</th>
                                                ;
                                            }
                                        }

                                        int ctr = 1;
                                        foreach (var cFYFQ in Points)
                                        {
                                            bool isAssesedbyStakeholder = true;
                                            bool isNotAssessed = false;
                                            foreach (var stakeholderSupplier in stakeholderSupplierData)
                                            {
                                                if (stakeholderSupplier.Assessed != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1 && stakeholderSupplier.FiscalQuarter.FQDescription == cFYFQ.Item3.ToString())
                                                {
                                                    <th class="@("q" + ctr + "Background qText")" colspan="2" style="width:18.25%">
                                                        @(cFYFQ.Item3.ToString() + ' ' + stakeholderSupplier.FiscalYear.FYDescription) &nbsp;
                                                        @{
                                                            if (!supplierPerformanceYN)
                                                            {
                                                                if ((user.RoleID == RoleConstants.Developer || user.RoleID == RoleConstants.SystemAdministrator || user.RoleID == RoleConstants.BusinessUnitAdministrator || user.RoleID == RoleConstants.Analyst) && !isElimanted)
                                                                {
                                                                    <span id="updateScore"><i class="fa fa-edit"></i></span><span id="saveUpdateScore" hidden><i class="fa fa-save"></i></span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="activeQuarter"><i class="fa fa-arrow-down"></i></span>
                                                                }
                                                            }
                                                        }

                                                    </th>
                                                    isAssesedbyStakeholder = false;
                                                }
                                                if (stakeholderSupplier.FiscalQuarter.FQDescription == cFYFQ.Item3.ToString() && stakeholderSupplier.Assessed == null && supplierPaymentTerm != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1 && stakeholderSupplier.FiscalYear.FYStatusID == 1 && !isElimanted && user.RoleID == RoleConstants.Stakeholder)
                                                {
                                                    isNotAssessed = true;
                                                }
                                            }
                                            if (isAssesedbyStakeholder && stakeholderSupplierData.Count > 0)
                                            {
                                                <th class="@("q" + ctr + "Background") qText" colspan="2" style="width:18.25%">@(cFYFQ.Item3.ToString() + " " + cFYFQ.Item2)</th>

                                            }
                                            if (isNotAssessed)
                                            {
                                                <th class="referenceBackground referenceText" rowspan="2">REMARKS</th>
                                            }
                                            ctr++;
                                        }
                                        countHeader1++;
                                            

                                    }
                                    else
                                    {
                                        int countHeader2 = 1;
                                        int maxColumn = (Points.Count * 2) + 2;
                                        for (int countHeaderColumn2 = 1; countHeaderColumn2 < maxColumn; countHeaderColumn2++)
                                        {
                                            if (countHeaderColumn2 % 2 == 0)
                                            {
                                                <th class="@("q" + countHeader2 + "Background") qText" style="width:9.125%">Weight Score</th>
                                                countHeader2++;
                                            }
                                            else
                                            {
                                                <th class="@("q" + countHeader2 + "Background") qText" style="width:9.125%">Score</th>
                                            }
                                        }

                                    }

                                </tr>
                            }

                        </thead>
                        <tbody id="supplierScoringTBody">
                            @{
                                int counter = 1;

                                foreach (var scoringParam in scoringParamList)
                                {
                                    double multiplier = scoreParamMultiplier.Where(x => x.ScoringParameterID == scoringParam.ScoringParameterID).FirstOrDefault() == null ? 0 : scoreParamMultiplier.Where(x => x.ScoringParameterID == scoringParam.ScoringParameterID).FirstOrDefault().Multiplier;
                                    <tr>
                                        @{
                                            int count = 1;

                                            int quarterCount = Points.Count() + 1;
                                            for (int countDataColumn = 0; countDataColumn < 10; countDataColumn++)
                                            {
                                                if (countDataColumn == 0)
                                                {
                                                    <td style="padding:0 10px"><label id="@("lblscoringParamID"+ counter)" hidden> @scoringParam.ScoringParameterID </label><label id="@("lblScoringParamName"+counter)">@scoringParam.ParamDisplayName</label></td>
                                                }
                                                else if (countDataColumn == 1)
                                                {
                                                    <td class="weightmultipler"><label id="@("multiplier" + counter)">@(multiplier * 100)</label> % </td>
                                                }
                                                else
                                                {
                                                    bool isNoData = true;
                                                    if (countDataColumn % 2 == 0)
                                                    {
                                                        quarterCount--;
                                                        var selectedFYFQ = Points.Where(x => x.Item1 == quarterCount);
                                                        int convertedFQID = int.Parse((selectedFYFQ.Select(x => x.Item3).FirstOrDefault()).Substring(1,1));
                                                        foreach (var stakeholderSupplier in stakeholderSupplierData)
                                                        {
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + convertedFQID && stakeholderSupplier.Assessed == null && supplierPaymentTerm != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1 && stakeholderSupplier.FiscalYear.FYStatusID == 1 && !isElimanted && user.RoleID == RoleConstants.Stakeholder)
                                                            {
                                                                if (scoringParam.ParamDisplayName == "Payment Term")
                                                                {
                                                                    if (supplierPaymentTerm != null)
                                                                    {
                                                                        if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay > 79)
                                                                        {
                                                                            paymentTermValue = 5;
                                                                        }
                                                                        else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay >= 61 && supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 79)
                                                                        {
                                                                            paymentTermValue = 4;
                                                                        }
                                                                        else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay >= 46 && supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 60)
                                                                        {
                                                                            paymentTermValue = 3;
                                                                        }
                                                                        else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay >= 31 && supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 45)
                                                                        {
                                                                            paymentTermValue = 2;
                                                                        }
                                                                        else if (supplierPaymentTerm.PaymentTerms.PNetDaysToPay <= 30)
                                                                        {
                                                                            paymentTermValue = 1;
                                                                        }
                                                                        else
                                                                        {
                                                                            paymentTermValue = 1;
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        paymentTermValue = 1;
                                                                    }


                                                                    <td><input min="1" max="5" type="number" maxlength="1" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" class="inputScore" value="@paymentTermValue" disabled /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <select id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" class="inputScore">
                                                                            <option value="0">0</option>
                                                                            @foreach (ScoringParameterDetail scoreParamDetail in scoringParamDetails.Where(x => x.ScoringParameterID == scoringParam.ScoringParameterID))
                                                                            {
                                                                                <option value="@scoreParamDetail.SPDMultiplier">@scoreParamDetail.SPDMultiplier</option>
                                                                            }
                                                                        </select>
                                                                    </td>
                                                                    @*<td><input min="1" max="5" type="number" maxlength="1" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" class="inputScore" /></td>*@
                                                                }
                                                                isNoData = false;
                                                            }
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + convertedFQID && stakeholderSupplier.Assessed != null)
                                                            {
                                                                foreach (var supplierScore in Model)
                                                                {
                                                                    if (supplierScore.ScoreParameterID == scoringParam.ScoringParameterID && supplierScore.FQID == convertedFQID && stakeholderSupplier.FiscalQuarter.FQStatusID == 1)
                                                                    {
                                                                        <td>
                                                                            <select id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" class="inputScore" disabled>
                                                                                @foreach (ScoringParameterDetail scoreParamDetail in scoringParamDetails.Where(x => x.ScoringParameterID == scoringParam.ScoringParameterID))
                                                                                {
                                                                                    if (supplierScore.Score == scoreParamDetail.SPDMultiplier)
                                                                                    {
                                                                                        <option value="@scoreParamDetail.SPDMultiplier" selected>@scoreParamDetail.SPDMultiplier</option>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="@scoreParamDetail.SPDMultiplier">@scoreParamDetail.SPDMultiplier</option>
                                                                                    }

                                                                                }
                                                                            </select>
                                                                        </td>
                                                                    }
                                                                    if (supplierScore.ScoreParameterID == scoringParam.ScoringParameterID && supplierScore.FQID == convertedFQID && stakeholderSupplier.FiscalQuarter.FQStatusID != 1)
                                                                    {

                                                                        <td><input min="1" max="5" type="number" maxlength="1" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputScore" + counter)" value="@supplierScore.Score" class="inputScore" disabled /></td>
                                                                    }
                                                                }

                                                                isNoData = false;
                                                            }
                                                        }
                                                        if (isNoData)
                                                        {
                                                            <td><input type="number" maxlength="1" class="inputScoreWeight" disabled /></td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        var selectedFYFQ = Points.Where(x => x.Item1 == quarterCount);
                                                        int convertedFQID = int.Parse((selectedFYFQ.Select(x => x.Item3).FirstOrDefault()).Substring(1, 1));
                                                        foreach (var stakeholderSupplier in stakeholderSupplierData)
                                                        {
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + convertedFQID && stakeholderSupplier.Assessed == null && supplierPaymentTerm != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1 && !isElimanted && user.RoleID == RoleConstants.Stakeholder)
                                                            {
                                                                if (scoringParam.ParamDisplayName == "Payment Term")
                                                                {
                                                                    <td><input type="text" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputWeightScore" + counter)" class="inputScoreWeight" value="@(paymentTermValue * scoringParam.Multiplier * 2)" disabled /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><input type="text" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputWeightScore" + counter)" class="inputScoreWeight" value="0" disabled /></td>
                                                                }
                                                                <td><input type="text" id="@("remarks" + counter)" class="inputScore" /></td>
                                                                count++;
                                                                isNoData = false;
                                                            }
                                                            if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + convertedFQID && stakeholderSupplier.Assessed != null)
                                                            {
                                                                foreach (var supplierScore in Model)
                                                                {
                                                                    if (supplierScore.ScoreParameterID == scoringParam.ScoringParameterID && supplierScore.FQID == convertedFQID)
                                                                    {
                                                                        <td style="white-space:nowrap"><input type="text" id="@("q" + stakeholderSupplier.FiscalQuarter.FQID + "inputWeightScore" + counter )" class="inputScoreWeight" value="@supplierScore.WeightedScore" disabled /><span id="@("remarkInfo" + counter)" @*data-toggle="tooltip" title="@supplierScore.Remarks"*@ style="font-size:80%;cursor:pointer" title="Remarks" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="@supplierScore.Remarks"><i class="fa fa-info-circle"></i></span></td>
                                                                    }
                                                                }
                                                                isNoData = false;
                                                            }
                                                        }
                                                        if (isNoData)
                                                        {
                                                            <td>
                                                                <input type="text" class="inputScoreWeight" disabled />

                                                            </td>
                                                        }
                                                    }

                                                }
                                                count++;
                                            }
                                        }
                                    </tr>
                                    counter++;
                                }
                            }
                        </tbody>
                        <tfoot id="supplierScoringTFoot">
                            <tr>
                                @{
                                    int quarter = Points.Count();
                                    for (int countFooterColumn = 1; countFooterColumn <= 5; countFooterColumn++)
                                    {
                                        if (countFooterColumn == 1)
                                        {
                                            <td colspan="2" class="referenceBackground detailFontColor tFooterWithoutRemark">Total</td>
                                        }
                                        else
                                        {
                                            bool isNotAssessed = true;
                                            var selectedFYFQ = Points.Where(x => x.Item1 == quarter);
                                            int convertedFQID = int.Parse((selectedFYFQ.Select(x => x.Item3).FirstOrDefault()).Substring(1, 1));
                                            foreach (var stakeholderSupplier in stakeholderSupplierData)
                                            {
                                                double totalPerQuarter = 0;
                                                if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + convertedFQID && stakeholderSupplier.Assessed == null && supplierPaymentTerm != null && stakeholderSupplier.FiscalQuarter.FQStatusID == 1 && stakeholderSupplier.FiscalYear.FYStatusID == 1 && !isElimanted && user.RoleID == RoleConstants.Stakeholder)
                                                {
                                                    foreach (var scoringParam in scoringParamList)
                                                    {
                                                        if (scoringParam.ParamDisplayName == "Payment Term")
                                                        {
                                                            double multiplier = scoreParamMultiplier.Where(x => x.ScoringParameterID == scoringParam.ScoringParameterID).FirstOrDefault() == null ? 0 : scoreParamMultiplier.Where(x => x.ScoringParameterID == scoringParam.ScoringParameterID).FirstOrDefault().Multiplier;
                                                            totalPerQuarter = (paymentTermValue * multiplier * 2) * 10;
                                                        }
                                                    }
                                                    <td colspan="3" class="referenceBackground detailFontColor tFooterHaveRemark"><label id="@("lblQuarter" + convertedFQID + "Total")">@totalPerQuarter</label>%</td>
                                                    isNotAssessed = false;
                                                }
                                                if (stakeholderSupplier.FiscalQuarter.FQDescription == "Q" + convertedFQID && stakeholderSupplier.Assessed != null)
                                                {
                                                    foreach (var supplierScore in Model)
                                                    {
                                                        if (supplierScore.FQID == stakeholderSupplier.FQuarterID && supplierScore.FYID == stakeholderSupplier.FYID)
                                                        {
                                                            totalPerQuarter += supplierScore.WeightedScore;
                                                        }
                                                    }
                                                    <td colspan="2" class="referenceBackground detailFontColor tFooterWithoutRemark"><label id="@("lblQuarter" + convertedFQID + "Total")">@((totalPerQuarter / 10) * 100)</label>%</td>
                                                    isNotAssessed = false;
                                                }
                                            }
                                            if (isNotAssessed)
                                            {
                                                <td colspan="2" class="referenceBackground detailFontColor tFooterWithoutRemark"><label id="@("lblQuarter" + convertedFQID + "Total")">0</label>%</td>
                                            }
                                            quarter--;
                                        }
                                    }
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
            </div>
        </div>

        <div class="modal fade" id="saved" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        Saved..
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="score1-5" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        Please Score 1 - 5
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="scorefillup" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        Please Score 1 - 5 and Fill out the Remarks field!
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="checkscore" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        Please Check the Score of the following Scoring Parameter:
                    </div>
                </div>
            </div>
        </div>

        if (!supplierPerformanceYN)
        {
            <script src="~/Scripts/page/supplierscore.js"></script>
        }

    }
    else
    {

        @Html.Partial("~/Views/Shared/_Restricted.cshtml");
    }
}

