﻿@using IMSReportAutomationModel;
@using IMSReportAutomationCommons.Constants;
@using System.Configuration;
@model SupplierMaster
@{
    string hostname = ConfigurationManager.AppSettings["SiteAddress"].ToString();
    List<SupplierBUMapping> applicableBULists = (List<SupplierBUMapping>)ViewData["applicableBULists"];
    List<SupplierBUMapping> activeBULists = applicableBULists.Where(a => a.StatusID == StatusConstants.Active).ToList();
    List<BusinessUnit> BULists = (List<BusinessUnit>)ViewData["BULists"];
    List<SupplierPaymentTerms> spts = (List<SupplierPaymentTerms>)ViewData["spts"];
    List<SupplierExpense> ses = (List<SupplierExpense>)ViewData["ses"];
    User userLoggedIn = (User)ViewData["User"];
    IEnumerable<SelectListItem> BusinessUnitList = (IEnumerable<SelectListItem>)ViewData["BusinessUnitList"];
    IEnumerable<SelectListItem> SupplierParentSupplierList = (IEnumerable<SelectListItem>)ViewData["SupplierParentSupplierList"];
    IEnumerable<SelectListItem> SupplierBuyingLocationList = (IEnumerable<SelectListItem>)ViewData["SupplierBuyingLocationList"];
    IEnumerable<SelectListItem> SupplierBuyingRegionList = (IEnumerable<SelectListItem>)ViewData["SupplierBuyingRegionList"];
    IEnumerable<SelectListItem> SupplierCategoryList = (IEnumerable<SelectListItem>)ViewData["SupplierCategoryList"];
    IEnumerable<SelectListItem> SupplierClassCodeList = (IEnumerable<SelectListItem>)ViewData["SupplierClassCodeList"];
    IEnumerable<SelectListItem> SupplierStatusList = (IEnumerable<SelectListItem>)ViewData["SupplierStatusList"];
    string Operation = (string)ViewData["Operation"];
    string style = userLoggedIn.RoleID == RoleConstants.Stakeholder ? "display: none;" : "";
    string BUstyle = activeBULists.Count > 0 ? "" : "display: none;";
    int supplierBUID = (int)ViewData["supplierBUID"];
    int userLoggedInBUID = (int)ViewData["userLoggedInBUID"];
    string isMyBUApplicableStyle = applicableBULists.Select(a => a.BusinessUnitID).Contains(userLoggedIn.Employee.BusinessUnitID) || userLoggedIn.RoleID == RoleConstants.SystemAdministrator ? "" : "display: none";
}
@*<script src="~/Scripts/core/components.js"></script>*@
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: none;
    }
    .modal-dialog {
        width: 80%;
    }
    label {
        font-weight: bold;
    }
    .tabcontent {
        display: none;
        border-top: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }
    .single-line{
        width:100%;
    }
    #supplierPaymentTermsTable tbody tr .sorting_1{
        text-align:start;
    }
    .form-horizontal .form-group input{
        height:100%;
        margin:5px 0;
    }
    .form-horizontal .form-group label{
        vertical-align:-webkit-baseline-middle;
        margin:10px 0;
    }
    .form-horizontal .form-group select{
        margin:5px 0;
    }
    /*.form-horizontal .form-group .hasDatepicker{
        height:38px;
    }*/
    .ui-helper-hidden-accessible { position: absolute !important; }
    #supplierBusinessUnitMappingTable_filter{
        display:none;
    }
    .form-horizontal .form-control{
        height:100%;
    }
    #supplierScoreTab #supplierScoreRecords .C062-contact-spots a{
        box-shadow:0 0 5px rgba(45,56,63,0.3);
    }
    .spvalidation{
        color: red;
        font-weight:700;
    }
    #frmSupplier .row .col-md-8 input, #frmSupplier .row .col-md-8 select{
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .col-md-4{
        white-space:nowrap;
    }
    .modalheaderheight{
        height:110px;
    }
    .dataTables_wrapper{
        overflow:auto;
    }
    table.dataTable tbody tr {
        background-color: transparent !important;
    }
    #supplierTable_length{
        display:none;
    }   
    /*#supplierExpenseTable_filter{
        display:none;
    }*/
    #supplierExpenseTable_info, #supplierBusinessUnitMappingTable_info {
        display:none;
    }
    .C062-contact-spots .row>div{
        margin-bottom:10px;
    }
    .unclickable {
        cursor: not-allowed;
    }
    #frmSupplier .col-md-8 input{
        height:40px;
    }
    /*.form-horizontal .form-group select .col.col-md-8 .form-control[disabled]{
        margin:2px 0;
    }*/
</style>
<div id="SupplierModalHeader" class="modal-container  modal-container-xl active animated fadeInUp" tabindex="-1" role="dialog" style="height:100%; outline:none;">
    <div class="modalheaderheight">
        <div class="row padding-xs group-separator centered-content">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="supplierLabels" style="overflow:hidden;text-overflow:ellipsis">
                    @Html.LabelFor(m => m.SupplierName, "Supplier Name: ") <span style="cursor:default">@Html.DisplayFor(m => m.SupplierName)</span><br />
                    @Html.LabelFor(m => m.SupplierPhone, "Supplier Phone: ") <span style="cursor:default">@Html.DisplayFor(m => m.SupplierPhone)</span><br />
                    @Html.LabelFor(m => m.SupplierEmail, "Supplier Email: ") <span style="cursor:default">@Html.DisplayFor(m => m.SupplierEmail)</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 order-first">
                @Html.Hidden("operation", Operation, new { @id = "Operation" })
                @Html.Hidden("supplierBUID", supplierBUID, new { @id= "supplierBUID" })
                @Html.Hidden("userLoggedInBUID", userLoggedInBUID, new { @id = "userLoggedInBUID" })    
                @Html.Hidden("userLoggedInRoleID", userLoggedIn.RoleID, new { @id = "userLoggedInRoleID" })         
                <button id="btnEdit" class="form-control btn btn-primary fa fa-pencil-square-o pull-right" style="margin-top:5px;"><span style="color:white">&nbsp;Edit</span></button>
                <button id="btnSave" class="form-control btn btn-primary btnOutlinePrimary fa fa-floppy-o pull-right" style="margin-top:5px;"><span>&nbsp;Save</span></button>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 order-last">
                <button id="btnCancel" class="form-control btn btn-primary btnOutlinePrimary fa fa-times" style="margin-top:5px;">
                    <span>&nbsp;Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<div id="supplierHorizontalTab" class="C016-horizontal-tabs horizontal-tabs" style="padding:0">
    <div class="horizontal-tabs" style="padding:0">
        <nav class="tabs-header clearfix">
            <ul class="nav navbar-nav" id="buttonTabs">
                <li><a style="cursor:pointer" href="" id="supplierButtonTab" class="tablinks selected">Supplier</a></li>
                <li style="@style"><a style="cursor:pointer" href="" id="supplierBusinessUnitMappingButtonTab" class="tablinks">Business Unit</a></li>
                <li style="@BUstyle @isMyBUApplicableStyle"><a style="cursor:pointer" href="" id="supplierPaymentTermsButtonTab" class="tablinks">Payment Terms</a>
                <li style="@style @BUstyle @isMyBUApplicableStyle"><a style="cursor:pointer" href="" id="supplierExpenseButtonTab" class="tablinks">Supplier Expense</a></li>
                <li style="@BUstyle @isMyBUApplicableStyle"><a style="cursor:pointer" href="" id="supplierScoreButtonTab" class="tablinks">Supplier Score</a></li>
            </ul>
        </nav>
    </div>
</div>

<div id="supplierTab" class="tabcontent" style="border:none; display:block;box-shadow:none">
    <div id="fillAllFieldsDiv" class="row padding-xs group-separator centered-content" style="display: none;margin-left:0px;">
        <span id="fillAllFields" style="color: red;margin-left:20px;font-weight:700">Please fill all the fields</span>
    </div>
    <form id="frmSupplier" class="form-horizontal font2" ondrag="return false;" ondragstart="return false;" style="height:560px; overflow:auto; padding:10px; width:100%">
        @Html.HiddenFor(model => model.SupplierID, new { @id = "SupplierId" })
        <div class="row form-group centered-content">
            <div class="col-md-6 col-sm-6">
                <div class="col-md-4" style="">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="suppliernameError">@Html.Label("SupplierName", "Supplier Name")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierName, new { @id = "SupplierName", @class = "form-control", @maxlength = 250, @autocomplete = "off", @style = "text-transform:capitalize;font-size:14px" })
                </div>
                <div class="col-md-4">
                    <span class="rquired" style="margin-left:10px"></span>@Html.Label("ParentSupplier", "Parent Supplier"@*, new { @style = "margin-left:10px"}*@)
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ParentSupplierID, SupplierParentSupplierList, "", new { @id = "cboParentSupplier", data_val = false, @class = "form-control ddlFontColorBlack", @name = "ParentSupplierID", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="phonenumberError">@Html.Label("SupplierPhone", "Supplier Phone")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierPhone, new { @id = "SupplierPhone", @class = "form-control", @maxlength = 50, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="mobilenumberError">@Html.Label("SupplierMobile", "Supplier Mobile")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierMobile, new { @id = "SupplierMobile", @class = "form-control", @maxlength = 50, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="emailaddressError">@Html.Label("SupplierEmail", "Supplier Email")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierEmail, new { @id = "SupplierEmail", @class = "form-control", @maxlength = 150, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="addresslineError">@Html.Label("SupplierAddressLine", "Address")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierAddressLine, new { @id = "SupplierAddressLine", @class = "form-control", @maxlength = 250, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="cityError">@Html.Label("SupplierCity", "City")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierCity, new { @id = "SupplierCity", @class = "form-control", @maxlength = 150, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="stateError">@Html.Label("SupplierState", "State")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierState, new { @id = "SupplierState", @class = "form-control", @maxlength = 50, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="zipError">@Html.Label("SupplierZip", "Zip")</span>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SupplierZip, new { @id = "SupplierZip", @class = "form-control", @maxlength = 50, @autocomplete = "off", @style = "font-size:14px" })
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="localvendornumberError">@Html.Label("LocalVendorNumber", "Vendor Number")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.LocalVendorNumber, new { @id = "Localvendornumber", @class = "form-control", @maxlength = 10, @autocomplete = "off", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="classcodeError">@Html.Label("ClassCode", "Class Code")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ClassCodeID, SupplierClassCodeList, "- Select -", new { @id = "cboClassCode", data_val = false, @class = "form-control ddlFontColorBlack", @name = "ClassCodeID", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="suppliercategoryError">@Html.Label("SupplierCategory", "Supplier Category")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SupplierCategoryID, SupplierCategoryList, "- Select -", new { @id = "cboSupplierCategory", data_val = false, @class = "form-control ddlFontColorBlack", @name = "CategoryID", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="buyingregionError">@Html.Label("BuyingRegion", "Buying Region")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.BuyingRegionID, SupplierBuyingRegionList, "- Select -", new { @id = "cboBuyingRegion", data_val = false, @class = "form-control ddlFontColorBlack", @name = "BuyingRegionID", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="buyinglocationError">@Html.Label("BuyingLocation", "Buying Location")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.BuyingLocationID, SupplierBuyingLocationList, "- Select - ", new { @id = "cboBuyingLocation", data_val = false, @class = "form-control ddlFontColorBlack", @name = "BuyingLocationID", @style = "font-size:14px" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="contractstartdateError">@Html.Label("ContractStartDate", "Contract Start Date")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ContractStartDate, "{0:MM/dd/yyyy}", new { @type = "text", @id = "contractStartDate", @style = "width:100%;font-size:14px", @class="form-control" })
                </div>
                <div class="col-md-4">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="contractenddateError">@Html.Label("ContractEndDate", "Contract End Date")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ContractEndDate, "{0:MM/dd/yyyy}", new { @type = "text", @id = "contractEndDate", @style = "width:100%;font-size:14px", @class = "form-control" })
                </div>
                <div class="col-md-4" style="white-space:nowrap">
                    <small style="font-weight: bolder; color: red"><span class="rquired">*&nbsp;</span></small><span id="supplierdescriptionError">@Html.Label("SupplierDescription", "Supplier Description")</span><br />
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.SupplierDescription, new { @id = "SupplierDescription", @class = "form-control", @maxlength = 500, @autocomplete = "off", @style = "min-height:91px;color:#000;z-index:1;resize:none;font-size:14px" })
                </div>
            </div>
        </div>
        <div class="row form-group centered-content">
            <div id="validationContainer1">
                <ul id="supplierErrorUL" style="color: red">

                </ul>
            </div>
        </div>
</form>
</div>

<div id="supplierBusinessUnitMappingTab" class="tabcontent" style="max-width:100%;height:560px;overflow:auto">
    <div id="supplierBusinessUnitMappingRecords">
        <div id="DataTable-Sample">
            @*<div class="padded-container">*@
                <div class="table-container" style="width:98%;margin:auto">
                    <br />
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-3">
                            @if (userLoggedIn.RoleID == RoleConstants.BusinessUnitAdministrator && !applicableBULists.Select(a => a.BusinessUnitID).Contains(userLoggedIn.Employee.BusinessUnitID))
                            {
                                <button id="btnAddSupplierBusinessUnitMapping" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;height:40px;"><span class="font5" style="color:#fff">&nbsp;Add My Business Unit</span></button>
                            }
                            else if (userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
                            {
                                <button id="btnAddSupplierBusinessUnitMappingSystemAdmin" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;height:40px;"><span class="font5" style="color:#fff">&nbsp;Add Business Unit</span></button>
                            }
                        </div>
                        <div class="col-sm-7 col-md-9 col-lg-9"></div>
                    </div><br />
                    <div class="cm-row">
                        <table id="supplierBusinessUnitMappingTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:370px;">
                            <thead>
                                <tr>
                                    <th>Business Unit</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="supplierBusinessUnitMappingTbody">
                                @foreach (SupplierBUMapping sbum in applicableBULists)
                                {
                                    <tr>
                                        @if (sbum.BusinessUnitID == userLoggedInBUID || userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
                                        {
                                            <td><a href="#" class="a-edit" data-id="@sbum.SupplierBUID">@sbum.BusinessUnit.BUName</a></td>
                                        }
                                        else
                                        {
                                            <td class="unclickable">@sbum.BusinessUnit.BUName</td>
                                        }
                                        <td>@sbum.StatusList.StatusDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            @*</div>*@
            <br />
        </div>
    </div>
    <div id="AddEditSupplierBusinessUnitMapping" class="tabcontent" style="border:none !important">

    </div>
</div>

<div id="supplierPaymentTermsTab" class="tabcontent" style="border:none;height:560px;overflow:hidden;">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div id="supplierPaymentTermsBUID" style="margin-top:10px">

            </div>
        </div>
    </div>
    <div id="supplierPaymentTermsRecords" style="display: none;">
        <div id="DataTable-Sample">
            @*<div class="padded-container">*@
                <div class="table-container" style="width:98%;margin:auto">
                    <br />
                    <div class="row">
                        <div class="col-sm-4 col-md-2 col-lg-2">
                            @if (userLoggedIn.RoleID == RoleConstants.BusinessUnitAdministrator)
                            {
                                <button id="btnAddSupplierPaymentTerms" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;@isMyBUApplicableStyle"><span class="font5" style="color:#fff">&nbsp;New Term</span></button>
                            }
                            else if (userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
                            {
                                <button id="btnAddSupplierPaymentTermsSystemAdmin" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;"><span class="font5" style="color:#fff">&nbsp;New Term</span></button>
                            }
                        </div>
                        <div class="col-sm-8 col-md-10 col-lg-10"></div>
                    </div><br />
                    <div class="cm-row">
                        <table id="supplierPaymentTermsTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:370px;">
                            <thead>
                                <tr>
                                    @*<th>Supplier Name</th>*@
                                    <th>Payment Terms</th>
                                    <th>Business Unit</th>
                                    <th>Fiscal Year</th>
                                    <th>Fiscal Quarter</th>
                                </tr>
                            </thead>
                            <tbody id="supplierPaymentTermsTbody">
                                @foreach (SupplierPaymentTerms spt in spts)
                                {
                                    <tr>
                                        @if (userLoggedInBUID == spt.BusinessUnitID || userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
                                        {
                                            <td><a href="#" class="a-edit" data-id="@spt.SupplierPTID" data-buid="@spt.BusinessUnitID">@spt.PaymentTerms.PDescription</a></td>
                                        }
                                        else
                                        {
                                            <td class="unclickable">@spt.PaymentTerms.PDescription</td>
                                        }
                                        <td>@spt.BusinessUnit.BUName</td>
                                        <td>@spt.FiscalYear.FYDescription</td>
                                        <td>@spt.FiscalQuarter.FQDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            @*</div>*@
            <br />
        </div>
    </div>
    <div id="AddEditSupplierPaymentTerms">
    </div>
</div>

<div id="supplierExpenseTab" class="tabcontent" style="border:none;height:560px;overflow:hidden;">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div style="margin-top:10px">

            </div>
        </div>
    </div>
    <div id="supplierExpenseRecords" style="display: none;">
        <div id="DataTable-Sample">
            @*<div class="padded-container">*@
                <div class="table-container" style="width:98%;margin:auto">
                    <br />
                    <div class="row">
                        <div class="col-sm-4 col-md-2 col-lg-2">
                            @if (userLoggedIn.RoleID == RoleConstants.BusinessUnitAdministrator)
                            {
                                <button id="btnAddSupplierExpense" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;@isMyBUApplicableStyle"><span class="font5" style="color:#fff">&nbsp;New Expense</span></button>
                            }
                            else if (userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
                            {
                                <button id="btnAddSupplierExpenseSystemAdmin" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;"><span class="font5" style="color:#fff">&nbsp;New Expense</span></button>
                            }
                        </div>
                        <div class="col-sm-8 col-md-10 col-lg-10"></div>
                    </div><br />
                    <div class="cm-row">
                        <table id="supplierExpenseTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:370px;">
                            <thead>
                                <tr>
                                    @*<th>Supplier Name</th>*@
                                    <th>Business Unit</th>
                                    <th>Fiscal Year</th>
                                    <th>Fiscal Quarter</th>
                                    <th>Spend Volume</th>
                                </tr>
                            </thead>
                            <tbody id="supplierExpenseTbody">
                                @foreach (SupplierExpense se in ses)
                                {
                                    <tr>
                                        @if (userLoggedInBUID == se.BusinessUnitID || userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
                                        {
                                            <td><a href="#" class="a-edit" data-id="@se.ExpenseID" data-buid="@se.BusinessUnitID">@se.BusinessUnit.BUName</a></td>
                                        }
                                        else
                                        {
                                            <td class="unclickable">@se.BusinessUnit.BUName</td>
                                        }
                                        <td>@se.FiscalYear.FYDescription</td>
                                        <td>@se.FiscalQuarter.FQDescription</td>
                                        <td>@se.SalesVolume</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            @*</div>*@
            <br />
        </div>
    </div>
    <div id="AddEditSupplierExpense">
    </div>
</div>

<div id="supplierScoreTab" class="tabcontent" style="border:none;height:560px;overflow:hidden;">
    <div id="supplierScoreRecords">
        <div class="C062-contact-spots">
            <div class="padded-container">
                <div class="row" id="supplierScoreThumbnail">
                    @{
                        foreach (SupplierBUMapping supplierBUList in activeBULists)
                        {
                            <div class="col-xs-12 col-sm-3 col-md-3" style="white-space:nowrap">
                                <a href="@(hostname + "/SupplierScore/Index?supplierID=" + supplierBUList.SupplierID + "&businessUnitID="+supplierBUList.BusinessUnitID)" target="_blank" class="" style="overflow:hidden;text-overflow:ellipsis">@supplierBUList.BusinessUnit.BUName</a>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>
