﻿@using IMSReportAutomationModel;
@using IMSReportAutomationCommons.Constants;
@using System.Configuration;
@{
    string hostname = ConfigurationManager.AppSettings["SiteAddress"].ToString();
    List<StatusList> statusList = (List<StatusList>)ViewData["StatusList"];
    ViewBag.Title = "Supplier Maintenance";
    User userLoggedIn = ViewData["User"] as User;
    string style = userLoggedIn.RoleID == RoleConstants.Stakeholder ? "display: none" : "";
    Dictionary<int, string>Points = (Dictionary<int, string>)ViewData["Points"];
}
@Html.Hidden("operation", hostname, new { @id = "hostname" })
<div class="row">
    <div class="rowheader supplierrowheader">
        <div class="col-xs-12 suppliercol">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-truck">&nbsp;</i>Supplier</h2>
            <div class="cta-buttons supplierbutton">
                <a id="btnAddSupplier" class="btn btn-white" href="#" style="@style">
                    <span class="text-wrapper font5">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add Supplier
                    </span>
                </a>
                <a id="btnDownloadSupplier" class="btn btn-white" href="#" style="@style">
                    <span class="text-wrapper font5">
                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Supplier
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="DataTable-Sample" data-maincontainer-yn="true" data-page-url="Supplier">
    <div class="C027-table">
        <div class="padded-container" style="max-width:100%">
            <div class="table-container">
                <div style="padding-top: 17px;">
                    @*<div class="cm-row" style="margin-left: 30px; margin-top: 8px;">
                            <label for="filterSupplier">
                                Supplier Status:
                            </label>
                            <select id="statusID">
                                <option value="">Select</option>
                                @foreach (IMSReportAutomationModel.StatusList sl in statusList)
                                {
                                    <option value="@sl.StatusID">@sl.StatusDescription</option>
                                }
                            </select>
                        </div>*@
                    <table id="supplierTable" class="display" cellspacing="0" style="overflow:auto; width:98%; overflow:auto">
                        <thead>
                            <tr style="background-color: #f0f0f0;">
                                <th style="color: #000;width:10%">Local Vendor Number</th>
                                <th style="width:15%">Supplier Name</th>
                                <th style="width:15%">Business Unit</th>
                                <th style="width:10%">Payment Terms</th>
                                <th style="width:10%">Category</th>
                                @foreach (KeyValuePair<int, string> kvp in Points)
                                {
                                    <th style="width:3%;text-align:center">@kvp.Value</th>
                                }
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<br />


<script src="~/scripts/page/supplier.js"></script>