﻿@using System.Configuration;
@model List<IMSReportAutomationModel.ViewModel.StakeholderSupplierBUVM>

@{
    string hostname = ConfigurationManager.AppSettings["SiteAddress"].ToString();
    ViewBag.Title = "Evaluation Status";
}


<div class="row">
    <div class="rowheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-tasks">&nbsp;</i>Supplier Status</h2>
        </div>
    </div>
</div>

<div id="dataTableSupplierStatus">
    <div class="C027-table" style="padding-top:28px">
        <div class="padded-container" style="max-width: 100%;">
            <div class="table-container">
                <div style="padding-top: 9px;"></div>
                <div>
  
                    <table id="tblSupplierStatus" class="display" cellspacing="0" style="width:98%;">
                        <thead>
                            <tr style="background-color: #f0f0f0;">
                                <th style="width:5%;text-align:center">ID</th>
                                <th style="width:20%;">Supplier Name</th>
                                <th style="width:20%;">Stakeholder</th>
                                <th style="width:20%;">Business Unit</th>
                                <th style="width:10%;">Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (IMSReportAutomationModel.ViewModel.StakeholderSupplierBUVM supplierStatus in Model)
                            {
                                <tr>
                                    <td class="SupplierStatusID" style="width:5%;text-align:center"><a href="@(hostname + "/SupplierScore/Index?supplierID=" + supplierStatus.SupplierID + "&businessUnitID="+ supplierStatus.BusinessUnitID )" target="_blank" class="">@supplierStatus.StakeholderSupplierID</a></td>
                                     <td style="width:20%;">@supplierStatus.SupplierName</td>
                                    <td style="width:20%;">@supplierStatus.FullName</td>
                                    <td style="width:20%;">@supplierStatus.BUName</td>
                                    @if (supplierStatus.Assessed != null)
                                    {
                                        <td style="width:10%;color:green">Completed</td>
                                    }
                                    else
                                    {
                                        <td style="width:10%;color:red">Not Yet Completed</td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/scripts/page/supplierstatus.js"></script>