﻿@using System.Configuration;
@using IMSReportAutomationModel;
@model List<IMSReportAutomationModel.ReportModel.SupplierStatusRM>

@{
    string hostname = ConfigurationManager.AppSettings["SiteAddress"].ToString();
    ViewBag.Title = "Supplier Status";

    Dictionary<int, string> Points = (Dictionary<int, string>)ViewData["Points"];

    Dictionary<int, string> ScoreNames = (Dictionary<int, string>)ViewData["ScoreNames"];

    List<FiscalYear> fiscalYears = (List<FiscalYear>)ViewData["FiscalY"];

    IEnumerable<SelectListItem> selectFYListItems = fiscalYears.Select(x => new SelectListItem() { Text = x.FYDescription.ToString(), Value = x.FYID.ToString() }).OrderByDescending(x=> x.Value);

    IEnumerable<FiscalQuarter> fiscalQuarters = (IEnumerable<FiscalQuarter>)ViewData["FiscalQ"];

    IEnumerable<SelectListItem> selectFQListItems = fiscalQuarters.Select(x => new SelectListItem() { Text = x.FQDescription.ToString(), Value = x.FQID.ToString() });

    FiscalYear currentYear = (FiscalYear)ViewData["CurrentFY"];

    FiscalQuarter currentQuarter = (FiscalQuarter)ViewData["CurrentFQ"];
}


<div class="row">
    <div class="rowheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-tasks">&nbsp;</i>Supplier Status Report</h2>
            <div class="cta-buttons" @*style="display: inline-block; float: right; margin-right:100px"*@>
                <a id="btnDownloadSupplierStatusReport" class="btn btn-white" href="#">
                    <span class="text-wrapper font5">
                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Supplier Status
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    th.columnSpanSelect select {
        width: 100%;
    }
</style>

<div id="dataTableSupplierStatus" data-maincontainer-yn="true" data-page-url="Supplier">
    <div class="C027-table" style="padding-top:28px">
        <div class="padded-container" style="max-width: 100%;">
            <div id="checkboxBlock">
                <input type="checkbox" id="cbFilters" name="cbFilters">
                <label for="cbFilters" class="label-checkbox block">Show Filters</label><br>
            </div>
            <div class="table-container">
                <div style="padding-top: 9px;"></div>
                <div>

                    <table id="tblSupplierStatus" class="display col-12" cellspacing="0">
                        <col>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <thead>
                            <tr style="background-color: #f0f0f0;">

                                <th>Supplier Status</th>
                                <th>Local Vendor Number</th>
                                <th>Supplier Name</th>
                                <th>Location</th>
                                <th>Supplier Region</th>
                                <th>Supplier Category</th>
                                <!--Filter Columns-->
                                <th>Payment Terms</th>
                                <th>Spend in $ VOLM</th>
                                @foreach (KeyValuePair<int, string> kvp in Points)
                                {
                                    <th style="text-align:center" class="col-5" id="thQuarter@(kvp.Key)"> @kvp.Value </th>
                                }
                                @foreach (KeyValuePair<int, string> kvsc in ScoreNames)
                                {
                                    <th style="text-align:center">@kvsc.Value</th>
                                }


                            </tr>
                            <tr id="tRowFYFilters">

                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <!--Filter Columns-->
                                <th >
                                    @Html.DropDownList("ddlPaymentTermsFY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th >
                                    @Html.DropDownList("ddlSpendInVolFY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th >
                                    @Html.DropDownList("ddlPoint1FY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack"})
                                </th>
                                <th>
                                    @Html.DropDownList("ddlPoint2FY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack"})
                                </th>
                                <th >
                                    @Html.DropDownList("ddlPoint3FY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack"})
                                </th>
                                <th>
                                    @Html.DropDownList("ddlPoint4FY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th colspan="2" class="columnSpanSelect">
                                    @Html.DropDownList("ddlScoreFY", selectFYListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th colspan="2" class="columnSpanSelect" style="width:35%;">
                                    @Html.DropDownList("ddlScoreFQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                            </tr>
                            <tr id="tRowFQFilters">

                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <!--Filter Columns-->
                                <th>
                                    @Html.DropDownList("ddlPaymentTermsFQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th>
                                    @Html.DropDownList("ddlSpendInVolFQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th>
                                    @Html.DropDownList("ddlPoint1FQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th>
                                    @Html.DropDownList("ddlPoint2FQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th>
                                    @Html.DropDownList("ddlPoint3FQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th>
                                    @Html.DropDownList("ddlPoint4FQ", selectFQListItems, new { data_val = false, @class = "ddlFontColorBlack" })
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    var currentYear = '@Html.Raw(currentYear.FYID)';
    var currentQuarter = '@Html.Raw(currentQuarter.FQID)';
</script>
<script src="~/scripts/page/supplierstatusreport.js"></script>
<script src="~/Scripts/global/modal.js"></script>