﻿
@using IMSReportAutomationModel;
@using IMSReportAutomationCommons.Constants;
@model IMSReportAutomationModel.ScoringParameter

@{
    List<ScoringParametersMultiplierBUMapping> applicableBULists = (List<ScoringParametersMultiplierBUMapping>)ViewData["applicableBULists"];
    List<ScoringParametersMultiplierBUMapping> activeBULists = applicableBULists.ToList();

    IEnumerable<SelectListItem> BusinessUnitList = (IEnumerable<SelectListItem>)ViewData["BusinessUnitList"];
    IEnumerable<SelectListItem> FiscalYearList = (IEnumerable<SelectListItem>)ViewData["FiscalYearList"];
    IEnumerable<SelectListItem> FiscalQuarterList = (IEnumerable<SelectListItem>)ViewData["FiscalQuarterList"];


    User userLoggedIn = (User)ViewData["User"];
    string style = userLoggedIn.RoleID == RoleConstants.Stakeholder ? "display: none;" : "";
    string BUstyle = activeBULists.Count > 0 ? "" : "display: none;";
    int userLoggedInBUID = (int)ViewData["userLoggedInBUID"];
    string isAdmin = userLoggedIn.RoleID == RoleConstants.SystemAdministrator ? "" : "display: none";
}

<style>
    h4.pull-left.color-white.centered-content, label {
        font-weight: 500;
        font-family: whitney, Arial, sans-serif;
    }

    #paramName, #paramOrder, #paramDescription, #paramMultiplier,
    #cboBusinessUnit {
        background-color: #fff;
        border: 1px solid #D0D0D0;
        padding: 7px;
        border-radius: 3px;
        color: black;
    }

    /*button#btnYes.btn.btn-primary.btnModalFooter,
    button#btnNo.btn.btn-primary.btnModalFooter {
        height: 50px;
        font-size: smaller;
        font-weight: normal;
    }*/
</style>

<div class="row padding-xs group-separator centered-content">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="supplierLabels" style="overflow:hidden;text-overflow:ellipsis">
            @Html.LabelFor(m => m.ParamDisplayName, "Name: ") <span style="cursor:default">@Html.DisplayFor(m => m.ParamDisplayName)</span><br />
            @Html.LabelFor(m => m.ParamDescription, "Description: ") <span style="cursor:default">@Html.DisplayFor(m => m.ParamDescription)</span><br />
            @Html.HiddenFor(m => m.ScoringParameterID, new { @id = "ScoringParameterId" })
        </div>
    </div>
</div>


<div id="supplierHorizontalTab" class="C016-horizontal-tabs horizontal-tabs" style="padding:0">
    <div class="horizontal-tabs" style="padding:0">
        <nav class="tabs-header clearfix">
            <ul class="nav navbar-nav" id="buttonTabs">
               
                <li style="@BUstyle @isAdmin"><a style="cursor:pointer" href="" id="scoringParameterButtonTab" class="tablinks">Scoring Parameter</a></li>
                <li style="@BUstyle @isAdmin"><a style="cursor:pointer" href="" id="scoringParameterDetailsButtonTab" class="tablinks">Detail</a></li>
                <li><a style="cursor:pointer" href="" id="scoringParameterMultiplerButtonTab" class="tablinks selected">Multiplier</a>
            </ul>
        </nav>
    </div>
</div>

<div id="scoringParameterMultiplerTab" class="tabcontent" style="border:none; display:block;box-shadow:none">


    <br />
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            @if (userLoggedIn.RoleID == RoleConstants.SystemAdministrator || userLoggedIn.RoleID == RoleConstants.BusinessUnitAdministrator || userLoggedIn.RoleID == RoleConstants.Analyst)
            {
                <button id="btnAddSaveScoringParamBUMultiplier" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;"><span class="font5" style="color:#fff" id="addsavecaption">New Multiplier</span></button>
               
                @*<button id="btnAddScoringParamBUMultiplier" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;"><span class="font5" style="color:#fff">&nbsp;New Multiplier</span></button>*@
            }
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="display:none" id="btnCancelContainer">
            <button id="btnCancelScoringParamBUMultiplier" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;"><span class="font5" style="color:#fff">Cancel</span></button>
        </div>
    </div>
    <div id="scoringParamMultiplierTableContainer">
        @*<div class="padded-container">*@
        <div class="table-container" style="width:98%;margin:auto">
            <br />
            <div class="cm-row">
                <table id="scoringParamBUMultiplierTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:370px;">
                    <thead>
                        <tr>
                            @*<th>Supplier Name</th>*@
                            <th>Business Unit</th>
                            <th>Multiplier</th>
                            <th>Fiscal Quarter</th>
                            <th>Fiscal Year</th>

                        </tr>
                    </thead>
                    <tbody id="scoringParamBUMultiplierTbody">
                        @foreach (ScoringParametersMultiplierBUMapping spmbm in applicableBULists)
                        {
                            <tr>
                                <td>@spmbm.BusinessUnit.BUName</td>
                                <td>@spmbm.Multiplier</td>
                                <td>@spmbm.FiscalQuarter.FQDescription</td>
                                <td>@spmbm.FiscalYear.FYDescription</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*</div>*@
        <br />
    </div>
    <div id="scoringParamMultiplierFormContainer" style=" display:none">
        <br />
        <form id="frmScoringParameterMultiplier" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="BusinessUnit">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.DropDownList("BusinessUnitList", BusinessUnitList, new { @id = "paramBU", @class = "form-control", @maxlength = "100", @autocomplete = "off", @style = "color: black; resize: vertical;max-height:145px;min-height:42px;height:42px"  })
                </div>
            </div>


            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="Multiplier">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Multiplier
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.TextBox("ParamMultiplier", 0, new { @id = "paramMultiplier", @class = "form-control", @maxlength = "", @autocomplete = "off", @type = "number", @min = "0" })
                </div>
            </div>


            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="fiscalquarter">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Fiscal Quarter
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.DropDownList("Paramfiscalquarter", FiscalQuarterList, new { @id = "paramfiscalquarter", @class = "form-control", @maxlength = "250", @autocomplete = "off", rows = 5, columns = 20, @style = "color: black; resize: vertical;max-height:145px;min-height:42px;height:42px" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="fiscalyear">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Fiscal Year
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.DropDownList("Paramfiscalyear", FiscalYearList, new { @id = "paramfiscalyear", @class = "form-control", @maxlength = "250", @autocomplete = "off", rows = 5, columns = 20, @style = "color: black; resize: vertical;max-height:145px;min-height:42px;height:42px" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div id="validationContainer1">
                    <ul id="validationMessageScoringParameterMultiplier" class="margin-zero" style="color: red; background-color: inherit ">
                    </ul>
                </div>
            </div>

        </form>
    </div>

</div>

<div id="scoringParameterTab" style="display: none;">
    <br />

    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            @if (userLoggedIn.RoleID == RoleConstants.SystemAdministrator)
            {
                <button id="btnUpdateScoringParam" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px;"><span class="font5" style="color:#fff" id="caption">Update Scoring Parameter</span></button>
            }
        </div>
    </div>
    <br />

    <form id="frmScoringParameter" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
        @Html.HiddenFor(model => model.ScoringParameterID, new { @id = "ScoringParameterId" })
        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="ParamName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Param Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.ParamDisplayName, new { @id = "paramName", @class = "form-control", @maxlength = "100", @autocomplete = "off" })
            </div>
        </div>


        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="ParamOrder">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Order
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.ParamOrder, new { @id = "paramOrder", @class = "form-control", @maxlength = "", @autocomplete = "off", @type = "number", @min = "0" })
            </div>
        </div>


        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="ParamDescription">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Description
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.ParamDescription, new { @id = "paramDescription", @class = "form-control", @maxlength = "250", @autocomplete = "off", rows = 5, columns = 20, @style = "resize: vertical;max-height:145px;min-height:42px;height:42px" })
            </div>
        </div>

        <div class="row form-group centered-content">
            <div id="validationContainer1">
                <ul id="validationMessageScoringParameter" class="margin-zero" style="color: red; background-color: inherit ">
                </ul>
            </div>
        </div>

    </form>
</div>




