﻿@model List<IMSReportAutomationModel.ScoringParameter>
@{
    ViewBag.Title = "Scoring Parameters";
}

<style>
.scoringParamID{
    cursor:pointer;
     color:#00aa7e;
}
#tblScoringParam_filter{
    padding: 0px 30px 10px 0px;
}
.dataTables_length{
    display:none;
}
#tblScoringParam_info{
    margin-left:20px;
}
</style>

<div class="row">
    <div class="rowheader scoringparamheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-file-text-o">&nbsp;</i>Scoring Parameters</h2>
            <div class="cta-buttons" style="display:none">
                <a id="btnAddScoringParam" class="btn btn btn-white" href="#">
                    <span class="text-wrapper font5">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add Parameter
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="dataTableScoringParam" data-maincontainer-yn="true" data-page-url="ScoringParameter">
<div class="C027-table">
        <div class="padded-container" style="max-width: 100%;">
            <div class="table-container">
                <div style="padding-top: 9px;"></div>
                <!--<div row>
                    <button id="btnAddScoringParam" type="button" class="btn btn-primary btn-xs" style="border-radius:3px;">
                        Add Questionnaire
                    </button>
                </div>-->
                @*<div class="margin-btm-20"></div>*@

                <div>
                  
                    <table id="tblScoringParam" class="display" cellspacing="0" style="width:98%;">
                        <thead>
                            <tr style="background-color: #f0f0f0;">
                                <th style="text-align:center">ID</th>
                                @*<th>Business Unit</th>*@
                                <th style="text-align:center">Order</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (IMSReportAutomationModel.ScoringParameter scoringParam in Model)
                            {
                                <tr>
                                    <td class="scoringParamID"><i class="fa fa-pencil-square-o"></i>@scoringParam.ScoringParameterID</td>
                                    @*<td>@scoringParam.BusinessUnit.BUName</td>*@
                                    <td style="text-align:center">@scoringParam.ParamOrder</td>
                                    <td >@scoringParam.ParamDisplayName</td>
                                    <td >@scoringParam.ParamDescription</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/scripts/page/scoringparameter.js"></script>
