﻿@using IMSReportAutomationModel;
@model SupplierExpense
@{
    IEnumerable<SelectListItem> BusinessUnitList = (IEnumerable<SelectListItem>)ViewData["BusinessUnitList"];
    IEnumerable<SelectListItem> FiscalYearList = (IEnumerable<SelectListItem>)ViewData["FiscalYearList"];
    IEnumerable<SelectListItem> FiscalQuarterList = (IEnumerable<SelectListItem>)ViewData["FiscalQuarterList"];
    bool isSystemAdmin = (bool)ViewData["isSystemAdmin"];
    string isSystemAdminStyle = isSystemAdmin ? "" : "display: none;";
}
<style>
    .sorting_1 {
        text-align: start;
    }
</style>
<form id="frmSupplierExpense" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    <div style="padding-top:20px"></div>
    @Html.HiddenFor(model => model.ExpenseID, new { @id = "ExpenseID" })
    @if (!isSystemAdmin)
    {
        @Html.HiddenFor(model => model.BusinessUnitID, new { @id = "SEBUID" })
    }
    @Html.HiddenFor(model => model.SupplierID, new { @id = "supplierID" })
    <div class="row form-group">
        <div class="col-xs-4 col-sm-3 col-md-2 order-fist">
            <button id="btnCancelSupplierExpense" class="form-control btn btn-primary fa fa-chevron-left" style="height:40px; float:right">&nbsp;back</button>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 order-last">
            <button id="btnSaveSupplierExpense" class="form-control btn btn-primary fa fa-floppy-o" style="height:40px">&nbsp;Save</button>
        </div>
    </div>
    <div style="padding-top:20px"></div>


    <div class="row form-group centered-content" style="@isSystemAdminStyle">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="FiscalYear">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.BusinessUnitID, BusinessUnitList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "ddlFontColorBlack", @name = "BusinessUnitID" })
        </div>
        <span id="expensebusinessunitError" style="color:red;margin-left:10px;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="FiscalYear">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Fiscal Year
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.FYID, FiscalYearList, "- Select -", new { @id = "cboFiscalYear", data_val = false, @class = "ddlFontColorBlack", @name = "FiscalYearID" })
        </div>
        <span id="expensefiscalyearError" style="color:red;margin-left:10px;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="FiscalQuarter">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Fiscal Quarter
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.FQuarterID, FiscalQuarterList, "- Select -", new { @id = "cboFiscalQuarter", data_val = false, @class = "ddlFontColorBlack", @name = "FiscalQuarterID" })
        </div>
        <span id="expensefiscalquarterError" style="color:red;margin-left:10px;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="SalesVolume">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Spend Volume
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.TextBoxFor(model => model.SalesVolume, new { @type = "number", @id = "salesVolume", @class = "selectize-input", @style = "color:#000" })
        </div>
        <span id="expensesalesvolumeError" style="color:red;margin-left:10px;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div id="successMessage">
            <p id="successMessage" class="margin-zero text-center color-white"></p>
        </div>
    </div>
    @*<div class="col-xs-6 col-sm-1 col-md-2 col-lg-2 order-first">
            <button id="btnSaveSupplierPaymentTerms" class="form-control btn btn-primary fa fa-floppy-o">&nbsp;Save</button>
        </div>
        <div class="col-xs-6 col-sm-1 col-md-2 col-lg-2 order-last">
            <button id="btnCancelSupplierPaymentTerms" class="form-control btn btn-primary btnModalFooter btnOutlinePrimary fa fa-times">&nbsp;Cancel</button>
        </div>*@
    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <ul id="supplierExpenseErrorUL" style="color: red;"></ul>
        </div>
    </div>
</form>


<script>
    $(function () {
        $('#cboFiscalQuarter, #cboFiscalYear, #cboBusinessUnit').selectize({});
    });
</script>