﻿@model List<IMSReportAutomationModel.SupplierExpense>
<style>
    .modal-dialog {
        width: 80%;
    }

    table.dataTable tbody tr {
        background-color: transparent !important;
    }

    #supplierTable_length {
        display: none;
    }
    /*#supplierExpenseTable_filter{
        display:none;
    }*/
    .tabcontent {
        display: none;
        border: none;
        border-top: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }
    .dataTables_wrapper{
        overflow:auto;
    }
</style>


<div id="DataTable-Sample">
    <div class="padded-container" style="max-width:100% !important">
        <div class="table-container">
            <br />
            <div class="row">
                <div class="col-sm-4 col-md-2 col-lg-2">
                    <button id="btnAddSupplierExpense" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px"><span class="font5" style="color:#fff">&nbsp;New Expense</span></button>
                </div>
                <div class="col-sm-8 col-md-10 col-lg-10"></div>
            </div>
            <div class="cm-row">
                <table id="supplierExpenseTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:300px;">
                    <thead>
                        <tr>
                            @*<th>Supplier Name</th>*@
                            <th>Business Unit</th>
                            <th>Fiscal Year</th>
                            <th>Fiscal Quarter</th>
                            <th>Spend Volume</th>
                        </tr>
                    </thead>
                    <tbody id="supplierExpenseTbody">
                        @foreach (IMSReportAutomationModel.SupplierExpense se in Model)
                        {
                            <tr>
                                @*@*<td>@spt.SupplierMaster.SupplierName</td>*@
                                <td><a href="#" class="a-edit" data-id="@se.ExpenseID">@se.BusinessUnit.BUName</a></td>
                                <td>@se.FiscalYear.FYDescription</td>
                                <td>@se.FiscalQuarter.FQDescription</td>
                                <td>@se.SalesVolume</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</div>
