﻿@using IMSReportAutomationModel;
@model SupplierPaymentTerms
@{
    //IEnumerable<SelectListItem> SupplierMasterList = (IEnumerable<SelectListItem>)ViewData["SupplierMasterList"];
    IEnumerable<SelectListItem> BusinessUnitList = (IEnumerable<SelectListItem>)ViewData["BusinessUnitList"];
    IEnumerable<SelectListItem> PaymentTermsList = (IEnumerable<SelectListItem>)ViewData["PaymentTermsList"];
    IEnumerable<SelectListItem> FiscalYearList = (IEnumerable<SelectListItem>)ViewData["FiscalYearList"];
    IEnumerable<SelectListItem> FiscalQuarterList = (IEnumerable<SelectListItem>)ViewData["FiscalQuarterList"];
    bool isSystemAdmin = (bool)ViewData["isSystemAdmin"];
    string isSystemAdminStyle = isSystemAdmin ? "" : "display: none";
}
<style>
    .sorting_1 {
        text-align: start;
    }
</style>
<form id="frmSupplierPaymentTerms" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    <div style="padding-top:20px"></div>
    @Html.HiddenFor(model => model.SupplierPTID, new { @id = "SupplierPTID" })
    @if (!isSystemAdmin)
    {
        @Html.HiddenFor(model => model.BusinessUnitID, new { @id = "PTBUID" })
    }
    @Html.HiddenFor(model => model.SupplierID, new { @id = "supplierID" })

    <div class="row form-group">
        <div class="col-xs-4 col-sm-3 col-md-2 order-fist">
            <button id="btnCancelSupplierPaymentTerms" class="form-control btn btn-primary fa fa-chevron-left" style="height:40px; float:right">&nbsp;back</button>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 order-last">
            <button id="btnSaveSupplierPaymentTerms" class="form-control btn btn-primary fa fa-floppy-o" style="height:40px">&nbsp;Save</button>
        </div>
    </div>
    <div style="padding-top:20px"></div>

    <div class="row form-group centered-content" style="@isSystemAdminStyle">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="PaymentTerms">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.BusinessUnitID, BusinessUnitList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "ddlFontColorBlack", @name = "BusinessUnitID" })
        </div>
        <span id="businessunitpaymenttermsError" style="color:red;margin-left:10px;font-weight:normal;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="PaymentTerms">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Payment Terms
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.PTID, PaymentTermsList, "- Select -", new { @id = "cboPaymentTerms", data_val = false, @class = "ddlFontColorBlack", @name = "PaymentTermsID" })
        </div>
        <span id="ptermspaymenttermsError" style="color:red;margin-left:10px;font-weight:normal;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="FiscalYear">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Fiscal Year
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.FYID, FiscalYearList, "- Select -", new { @id = "cboFiscalYear", data_val = false, @class = "ddlFontColorBlack", @name = "FiscalYearID" })
        </div>
        <span id="ptermsfiscalyearError" style="color:red;margin-left:10px;font-weight:normal;white-space:nowrap"></span>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-6 col-md-2 col-sm-3">
            <label class="pull-left" for="FiscalQuarter">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Fiscal Quarter
            </label>
        </div>
        <div class="col-xs-5 col-md-6">
            @Html.DropDownListFor(model => model.FQID, FiscalQuarterList, "- Select -", new { @id = "cboFiscalQuarter", data_val = false, @class = "ddlFontColorBlack", @name = "FiscalQuarterID" })
        </div>
        <span id="ptermsfiscalquarterError" style="color:red;margin-left:10px;font-weight:normal;white-space:nowrap"></span>
    </div>
    <div class="row form-group centered-content">
        <div id="successMessage">
            <p id="successMessage" class="margin-zero text-center color-white"></p>
        </div>
    </div>
    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <ul id="pTermsErrorUL" style="color: red;"></ul>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('#cboPaymentTerms, #cboFiscalQuarter, #cboFiscalYear, #cboBusinessUnit').selectize({});
    });
</script>