﻿@model List<IMSReportAutomationModel.SupplierPaymentTerms>
<style>
    .modal-dialog{
        width:80%
    }
    table.dataTable tbody tr {
        background-color:transparent !important;
    }

    #supplierTable_length{
        display:none;
    }   
    .tabcontent {
        display: none;
        border: none;
        border-top: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }
</style>


<div id="DataTable-Sample">
    <div class="padded-container" style="max-width:100% !important">
        <div class="table-container"><br />
           <div class="row">
                <div class="col-sm-4 col-md-2 col-lg-2">
                    <button id="btnAddSupplierPaymentTerms" class="btn" type="button" style="background-color:#00aa7e;color:#fff;margin-top:-6px"><span class="font5" style="color:#fff">&nbsp;New Term</span></button>
                </div>
               <div class="col-sm-8 col-md-10 col-lg-10"></div>
            </div>
            <div class="cm-row">
                <table id="supplierPaymentTermsTable" class="display" cellspacing="0" style="overflow:auto; width:100%; max-height:300px;">
                    <thead>
                        <tr>
                            @*<th>Supplier Name</th>*@
                            <th>Payment Terms</th>
                            <th>Fiscal Year</th>
                            <th>Fiscal Quarter</th>
                        </tr>
                    </thead>
                    <tbody id="supplierPaymentTermsTbody">
                        @foreach (IMSReportAutomationModel.SupplierPaymentTerms spt in Model)
                        {
                            <tr>
                                @*<td>@spt.SupplierMaster.SupplierName</td>*@
                                <td><a href="#" class="a-edit" data-id="@spt.SupplierPTID">@spt.PaymentTerms.PTerms</a></td>
                                <td>@spt.FiscalYear.FYDescription</td>
                                <td>@spt.FiscalQuarter.FQDescription</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <br />
</div>

@*<script src="~/scripts/page/supplierpaymentterms.js"></script>*@


