﻿@using IMSReportAutomationModel;
@model CommunicationLetter
@{ 
    IEnumerable<SelectListItem> BusinessUnitList = (IEnumerable<SelectListItem>)ViewData["BusinessUnitList"];
}

<form id="frmCommunicationLetter" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    @Html.HiddenFor(model => model.LetterID, new { @id = "letterID" })

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label class="pull-left" for="BusinessUnit">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
            </label>
        </div>
        <span id="businessunitError"></span>
        <div class="col-xs-12 col-sm-8 col-md-8">
            @Html.DropDownListFor(model => model.BusinessUnitID, BusinessUnitList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "form-control ddlFontColorBlack", @name = "BusinessUnitID" })
        </div>
    </div>

    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="Letter">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Letter
            </label>
        </div>
        <span id="letterError"></span>
        <div class="col-xs-12 col-sm-8 col-md-8">
            @Html.TextAreaFor(model => model.LetterValues, 20, 15, new { @id = "Letter", @class = "form-control", @maxlength = "1500", @autocomplete = "off", @style = "resize:vertical;color:#000;height:250px;min-height:250px;max-height:250px;" })
        </div>
    </div>

    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <p id="validationMessage" class="margin-zero text-center color-white"></p>
        </div>
    </div>
</form>