﻿@using IMSReportAutomationModel;
@model List<CommunicationLetter>
@{
    List<BusinessUnit> applicableBUs = (List<BusinessUnit>)ViewData["ApplicableBusinessUnit"];
    ViewBag.Title = "Communication Letter";
    string style = applicableBUs.Count > 0 ? "" : "display:none;";
}

<style>
    .C062-contact-spots a{
        box-shadow:0 0 25px rgba(45,56,63,0.2);
    }
    .C062-contact-spots .row>div{
        margin-bottom:10px;
    }
</style>

<div class="row">
    <div class="rowheader comsheader">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-envelope">&nbsp;</i>Communication Letter</h2>
            <div class="cta-buttons">
                <a id="btnAddCommunicationLetter" class="btn btn btn-white" href="#" style="@style">
                    <span class="text-wrapper font5">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Request a New Letter
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="C062-contact-spots" data-maincontainer-yn="true" data-page-url="CommunicationLetter">
    <div class="padded-container">
        <div class="row" id="comRow" style="font-size:inherit">
            @foreach (CommunicationLetter cl in Model)
            {
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <a href="#" class="a-edit" data-id="@cl.LetterID">@cl.BusinessUnit.BUName</a>
                </div>
            }
        </div>
    </div>
</div>




<script src="~/Scripts/page/communicationletter.js"></script>
