﻿
@model IMSReportAutomationModel.StakeholderSupplierMapping
@{

    List<SelectListItem> employeeList = new List<SelectListItem>();

}
<form id="frmShsm" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
    @Html.HiddenFor(model => model.StakeholderSupplierID, new { @id = "StakeholderSupplierID" })

    @*<div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="FirstName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;First Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.Firstname, new { @id = "Firstname", @class = "form-control", @maxlength = "", @autocomplete = "off" })
            </div>
        </div>

        <div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="LastName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Middle Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.Middlename, new { @id = "Middlename", @class = "form-control", @maxlength = "", @autocomplete = "off" })
            </div>
        </div>*@

    @*<div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="LastName">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Last Name
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.Lastname, new { @id = "Lastname", @class = "form-control", @maxlength = "", @autocomplete = "off" })
            </div>
        </div>*@

    @*<div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label for="EmailAddress">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Email Address
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.EmailAddress, new { @id = "EmailAddress", @class = "form-control", @maxlength = "", @autocomplete = "off" })
            </div>
        </div>*@


    <div class="row form-group centered-content">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <label class="pull-left" for="RoleID">
                <small style="font-weight: bolder; color: red">*</small>&nbsp;Position
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            @Html.DropDownListFor(model => model.EmployeeID, employeeList, "- Select -", new { @id = "cboPosition", data_val = false, @class = "form-control ddlFontColorBlack", @name = "PositionID" })
        </div>
    </div>

    @*<div class="row form-group centered-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <label class="pull-left" for="Status">
                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Business Unit
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                @Html.DropDownListFor(model => model.BusinessUnitID, Model.BusinessUnitList, "- Select -", new { @id = "cboBusinessUnit", data_val = false, @class = "form-control ddlFontColorBlack", @name = "SupervisorID" })
            </div>
        </div>*@
    <div class="row form-group centered-content">
        <div id="validationContainer1">
            <p id="validationMessage" class="margin-zero text-center color-white"></p>
        </div>
    </div>
</form>