﻿@using IMSReportAutomationModel
@using IMSReportAutomationModel.ViewModel
@model EmployeeSupplierVM
@{
    ViewBag.Title = "Stakeholder";
    IEnumerable<SelectListItem> fiscalYears = ViewData["FiscalYear"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> fiscalQuarters = ViewData["FiscalQuarter"] as IEnumerable<SelectListItem>;
}

<style>
    .select-wrapper {
        background-color: white;
        border: 1px solid #b9c3e0;
        width: 100%;
    }
</style>

<div class="row">
    <div class="rowheader spmapping">
        <div class="col-xs-12">
            <h2 id="HeaderTitle" class="font4" style="color:#f0f0f0; display: inline-block;"><i class="fa fa-industry">&nbsp;</i>Supplier Mapping</h2>
            <div class="cta-buttons">
                <a id="btnAddStakeholderSupplierMapping" class="btn btn-white" href="#">
                    <span class="text-wrapper font5">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Manage Stakeholders
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cm-row" id="ssmView" data-maincontainer-yn="true" data-page-url="StakeholderSupplierMapping" data-task-cd="view">
    <div class="cm-row">
        <div class="col-xs-12 col-sm-5 col-md-4" style="margin-top:32px">
            <div class="row" style="margin-bottom:0px; background-color:#dee6ea;padding-top:17px;margin-left:0px;margin-right:0px">
                <div class="col-xs-5 col-sm-6 col-md-6 stakeholderstabtext">
                    <div class="title-copy" style="margin-top:8px;margin-left:10px">
                        <h3>Stakeholders</h3>
                    </div>
                    <i style="margin-left:11px;white-space:nowrap;font-weight:500">Please select Stakeholder</i>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 stakeholderstabfy">
                    <div class="select-wrapper">
                        @Html.DropDownList("fiscalYearID", fiscalYears, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 stakeholderstabfq" style="margin-left:-10px;">
                    <div class="select-wrapper">
                        @Html.DropDownList("fiscalQuarterID", fiscalQuarters, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="well" style="max-height: 363px;overflow: auto;box-shadow: inset 0 0 0 rgba(0,0,0,0.05);height:363px;">
                <ul class="list-group " id="ulStakeHolders" style="cursor:pointer">
                    @if (Model.stakeHolders.Count > 0)
                    {
                        foreach (Employee stakeholder in Model.stakeHolders)
                        {
                            <li class="list-group-item" data-employee-id="@stakeholder.EmployeeID">
                                @stakeholder.FullName
                            </li>
                        }

                    }
                    else
                    {
                        <li class="list-group-item" style="cursor:not-allowed">No Available Stakeholder</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="well" style="max-height: 465px;overflow: auto;margin-top:32px;height:470px">
                <div class="title-copy">
                    <h2>Suppliers</h2>
                </div>
                <ul class="list-group " id="ulSuppliers" style="cursor:default">
                    @*@if (Model.stakeHolders.Count == 0)
                    {
                        <li class="list-group-item" style="margin-top:19px;height:325px;max-height:330px;">No Available Supplier</li>
                    }
                    else
                    {
                        <li class="list-group-item" style="margin-top:19px;height:325px;max-height:330px;"></li>
                    }*@
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/page/stakeholdersuppliermapping.js"></script>