﻿@using IMSReportAutomationModel;
@model StakeholderSupplierMapping
@{ 
    List<User> stakeholderList = (List<User>) ViewData["Users"];
    List<FiscalQuarter> fquarterList = (List<FiscalQuarter>)ViewData["FQuarters"];
    List<FiscalYear> fyearList = (List<FiscalYear>)ViewData["FYears"];
    //List<IMSReportAutomationModel.SupplierMaster> supplierList = (List<IMSReportAutomationModel.SupplierMaster>) ViewData["Suppliers"];
    //List<IMSReportAutomationModel.Employee> listEmployee = ViewData["StakeHolders"];
    ViewBag.Title = "Stakeholder Mapping";

}

<style>
    .class_input {
        -webkit-appearance: textfield;
        background-color: white;
        cursor: text;
        padding: 1px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
    .SE004-search-box-inline {
        padding: 0px !important;
        margin: -10px -80px;
    }
    .input {
        color: inherit;
        font: inherit;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .SE004-search-box-inline input.search_input {
        width: 250px;
        height: 35px;
        outline-color: #f0f0f0;
        outline-style: auto;
        box-shadow: 3px 3px 10px -2px #000;
        font-size: x-large;
    }
    .select-wrapper {
        background-color: white;
        border: 1px solid #b9c3e0;
    }
    .well {
        background-color: #dee6ea;
    }
    .fa-user-slash {
        color: #101010;
    }
    li.inactive {
        display: none;
    }
    .well{
        border-top:none;
        box-shadow:inset 0 0 0 rgba(0,0,0,0.05)
    }
</style>

<div class="row">
    <div class="form-group rowheader spmapping">
        <div class="col-xs-12">
            <span id="HeaderTitle" class="font4" style="color:#f0f0f0"><i class="fa fa-industry">&nbsp;</i>Supplier Mapping Maintenance</span>
        </div>
    </div>
</div>

<div class="cm-row spmapmaintenance" data-maincontainer-yn="true" data-task-cd="add" data-page-url="StakeholderSupplierMapping">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row" style="margin-top:17px; background-color:#dee6ea;padding-top:17px;margin-bottom:0;margin-right:0px;margin-left:0px">
            <div class="col-xs-12">
                <div class="SE004-search-box-inline inline-search" style="margin:auto">
                    <div class="col-xs-12" style="margin-bottom:8px">
                        <label for="searchterm" class="cm-search__label sr-only"></label>
                        <input class="selectize-input" id="txtSearchName" type="text" name="query" value="" autocomplete="off" placeholder="Search Stakeholder" style="width:100%;background-color:#fff;height:50px">
                    </div>

                </div>
            </div>
        </div>
        <div class="well" style="max-height: 500px;overflow: auto;height:500px">
            <ul class="list-group " id="ulStakeHolders" style="cursor:pointer">
                @foreach (User stakeholder in stakeholderList)
                {
                    <li class="list-group-item" data-employee-id="@stakeholder.Employee.EmployeeID">
                        @stakeholder.Employee.FullName
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="row" style="margin-top:17px; background-color:#dee6ea;margin-bottom:0;margin-right:0px;margin-left:0px">
            <div class="form-group row" style="margin:20px 0 6px 10px">
                <div class="col-xs-5 col-md-2 col-sm-3 selectavail">
                    <div class="select-wrapper" style="width: 100% !important">
                        <select class="fsrVisible" id="optSupplierStatus" disabled>
                            <option value="true">Assigned</option>
                            <option value="false">Available</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2 col-sm-2 selectfq">
                    <div class="select-wrapper" style="width: 100% !important">
                        <select class="fsrVisible" id="optFQID">
                            @foreach (FiscalQuarter fquarter in fquarterList.OrderByDescending(a => a.FQID))
                            {
                                <option value="@fquarter.FQID" selected="@(fquarter.FQStatusID == 1)">@fquarter.FQDescription</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 col-sm-2 selectfy">
                        <div class="select-wrapper" style="width: 100% !important">
                            <select class="fsrVisible" id="optFYID">
                                @foreach (FiscalYear fyear in fyearList.OrderByDescending(a => a.FYID))
                                {
                                    <option value="@fyear.FYID" selected="@(fyear.FYStatusID == 1)">@fyear.FYDescription</option>
                                }
                            </select>
                        </div>
                </div>
                <div class="col-xs-12 col-md-3 col-sm-3" data-suptype-parent="true">
                    <div class="sptypesel">
                        <div class="select-wrapper" style="width: 100% !important">
                            <select id="optSuppplierType">
                                <option value="0">All</option>
                                <option value="1">Assessed</option>
                                <option value="2">Not Assessed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-md-4 col-sm-4" data-searchsupplier-yn="true" hidden>
                    <div class="SE004-search-box-inline inline-search spsearchsel" @*style="margin:auto"*@>
                        <label for="searchterm" class="cm-search__label sr-only"></label>
                        <input class="selectize-input ui-autocomplete-input" id="txtSearchSupplier" type="text" name="query" value="" autocomplete="off" placeholder="Search Supplier" style="width:100%;background-color:#fff;height:50px">
                    </div>
                </div>
                <div class="col-xs-3 col-md-2 col-sm-1" hidden>
                    <button class="btn btn-primary fa fa-floppy-o spbtnsel" type="button" id="btnSave" style="padding-right:0px;padding-left:0px;margin-left:-5px;height:50px;font-weight:normal"><span style="font-weight:700">&nbsp;save</span></button>
                </div>
            </div>
        </div>
        <div class="well" style="max-height: 500px;overflow: auto; height: 500px; border-top:none">
            <ul class="list-group checked-list-box" id="ulSuppliers">
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/page/stakeholdersuppliermapping.js"></script>
