﻿@model IMSReportAutomationModel.ViewModel.EmployeeSupplierVM
@{ 
    IEnumerable<SelectListItem> fiscalYears = ViewData["FiscalYear"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> fiscalQuarters = ViewData["FiscalQuarter"] as IEnumerable<SelectListItem>;
}

