﻿#cm-header .main-header #main-nav{
    margin-left:230px;
}
#cm-header .main-header #main-nav li{
    float:right;
}

@media (max-width: 1279px){
#cm-header .main-header #main-nav{
    margin-left:inherit;
}
#cm-header .main-header #main-nav li{
    float:inherit;
}