.bg-blue {
  background: #7b9baa; }

.bg-richblack {
  background: #2d383f; }

.bg-coolgrey {
  background: #c4ced1; }

.color-navy {
  color: #004b8d; }

.font1 {
  font: normal 300 27px/38px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font2 {
  font: normal 300 14px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font3 {
  font: normal 300 12px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font4 {
  font: normal 400 27px/38px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font5 {
  font: normal 700 12px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font6 {
  font: normal 700 14px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font7 {
  font: normal 700 14px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font8 {
  font: italic 700 14px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font9 {
  font: normal 700 10px/10px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f;
  letter-spacing: 0.08em; }

.font10 {
  font: normal 700 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f;
  letter-spacing: 0.08em; }

.font16 {
  font: normal 700 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff;
  letter-spacing: 0.08em; }

.font17 {
  font: normal 700 14px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font15 {
  font: normal 400 16px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font20 {
  font: normal 300 14px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #808080; }

.font21 {
  font: normal 400 14px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #808080; }

.font22 {
  font: italic 400 14px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #d31245; }

.font23 {
  font: normal 300 21px/38px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font24 {
  font: normal 400 21px/38px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font25 {
  font: normal 300 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font26 {
  font: normal 300 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font27 {
  font: normal 700 14px/30px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #808080; }

.font28 {
  font: normal 300 12px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font29 {
  font: normal 300 10px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font32 {
  font: normal 300 14px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #d31245; }

.font33 {
  font: normal 300 12px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #d31245; }

.font34 {
  font: normal 300 14px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font35 {
  font: normal 700 12px/15px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font36 {
  font: normal 700 11px/11px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font37 {
  font: normal 700 16px/24px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font38 {
  font: normal 400 10px/10px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #c0c0c0; }

.font40 {
  font: normal 700 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font41 {
  font: normal 700 18px/24px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font60 {
  font: normal 700 18px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #c0c0c0; }

.font61 {
  font: normal 300 18px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font62 {
  font: normal 700 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #808080; }

.font63 {
  font: normal 300 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font64 {
  font: normal 700 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font65 {
  font: normal 300 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font66 {
  font: normal 700 14px/14px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font67 {
  font: normal 300 27px/38px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #c0c0c0; }

.font68 {
  font: normal 700 16px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #808080; }

.font69 {
  font: normal 300 14px/22px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font70 {
  font: normal 700 14px/22px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font71 {
  font: normal 700 14px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font72 {
  font: normal 700 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f;
  letter-spacing: 0.08em; }

.font73 {
  font: normal 700 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font74 {
  font: normal 400 12px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font75 {
  font: normal 700 12px/18px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font76 {
  font: normal 300 18px/25px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font77 {
  font: normal 400 18px/25px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font78 {
  font: normal 700 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f;
  letter-spacing: 0.08em; }

.font79 {
  font: normal 300 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font80 {
  font: normal 700 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e;
  letter-spacing: 0.08em; }

.font81 {
  font: normal 300 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font82 {
  font: normal 400 12px/12px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font83 {
  font: normal 300 10px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font84 {
  font: normal 300 10px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font85 {
  font: normal 300 10px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font86 {
  font: normal 700 11px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #00aa7e; }

.font87 {
  font: normal 300 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #c0c0c0; }

.font88 {
  font: normal 300 27px/38px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font89 {
  font: normal 400 10px/10px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #c0c0c0; }

.font90 {
  font: normal 400 16px/20px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font91 {
  font: normal 300 16px/26px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font92 {
  font: normal 700 21px/21px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #2d383f; }

.font93 {
  font: normal 400 10px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #fff; }

.font94 {
  font: normal 400 10px/16px "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #c0c0c0; }

.component-container {
  margin-top: -300px;
  padding-top: 300px; }

.component-main-container {
  margin-top: -100px;
  padding-top: 100px; }

#main-wrapper {
  min-height: calc(100vh - 200px); }

body {
  overflow-x: hidden; }

@media (min-width: 1280px) {
  body {
    padding-top: 75px !important; } }

.container-padding {
  padding-left: 50px;
  padding-right: 50px; }

.heading-container {
  padding-top: 40px;
  padding-bottom: 40px; }

.breadcrumb-container {
  height: 50px;
  line-height: 50px; }
  .breadcrumb-container .breadcrumb-list {
    padding-left: 0; }
    .breadcrumb-container .breadcrumb-list li {
      display: inline-block;
      color: #c0c0c0;
      padding-left: 12px;
      padding-right: 12px; }
      .breadcrumb-container .breadcrumb-list li:after {
        content: "|";
        display: inline-block;
        position: relative;
        right: -13px;
        color: #c0c0c0; }
      .breadcrumb-container .breadcrumb-list li:first-of-type {
        padding-left: 0; }
      .breadcrumb-container .breadcrumb-list li:last-of-type {
        padding-right: 0; }
        .breadcrumb-container .breadcrumb-list li:last-of-type:after {
          display: none; }
    .breadcrumb-container .breadcrumb-list li.current-page,
    .breadcrumb-container .breadcrumb-list li.active {
      color: #fff; }

.main-container {
  padding-top: 50px;
  padding-bottom: 70px;
  margin: 0; }

/* --- FOOTER --- */
footer {
  background: #000;
  padding-top: 25px;
  padding-bottom: 45px; }
  footer .sub-nav {
    float: right; }
    footer .sub-nav li:first-child a {
      margin-left: 0; }
    footer .sub-nav li:last-child a {
      margin-right: 0; }
    footer .sub-nav a {
      color: #fff;
      margin-left: 25px;
      /*margin-right: 25px;*/ }
      footer .sub-nav a:hover {
        color: #00aa7e; }

footer {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 45px; }

.white-rodgers-logo {
  display: inline-block;
  float: right;
  height: 75px;
  line-height: 75px; }

.test {
  display: block; }

input[type="text"],
input[type="password"],
input[type="email"] {
  color: #1F2023;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 0px;
  background-color: #fff;
  font-family: "Whitney SSm A","Whitney SSm B",Helvetica,Arial,sans-serif !important;
  height: 37px; }

input[type="checkbox"] {
  margin-left: 20px;
  margin-right: 20px; }

input.letter {
  margin-right: 3px; }

@media screen and (min-width: 768px) {
  .modal-dialog {
    left: auto; } }

.spinner-background {
  top: 75px; }

.box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.margin-zero {
  margin: 0; }

.margin-btm-0 {
  margin-bottom: 0; }

.margin-btm-20 {
  margin-bottom: 20px; }

.margin-btm-25 {
  margin-bottom: 25px; }

.margin-btm-40 {
  margin-bottom: 40px; }

.margin-top-40 {
  margin-top: 40px; }

.img-block {
  display: block;
  width: 100%; }

.display-table {
  display: table;
  margin: 0 auto; }

.display-flex {
  display: flex; }

.display-flex.centered-content {
  align-items: center; }

.inline-block {
  display: inline-block; }

.gap-20 {
  padding-top: 20px; }

.gap-45 {
  padding-top: 45px; }

.title-copy {
  max-width: 600px;
  margin: 15px auto;
  display: table;
  text-align: center; }

.jump-nav .navbar-nav li a {
  border-bottom: 4px solid transparent;
  transition: .25s border linear;
  -webkit-transition: .25s border linear;
  -moz-transition: .25s border linear; }

.jump-nav .navbar-nav li.active a {
  border-bottom: 4px solid #FFF; }

.C016-horizontal-tabs .tabs-header a {
  border-bottom: 5px solid transparent; }
  .C016-horizontal-tabs .tabs-header a.selected {
    border-bottom: 5px solid #00aa7e; }

@media (max-width: 768px) {
  .C016-horizontal-tabs .navbar-nav {
    margin: 0; } }

@media (min-width: 1280px) {
  .global-header .sub-nav.commercial-sub-nav .products ul {
    float: none;
    width: 100%; }
  .global-header .main-nav > li {
    position: relative; }
  .global-header .sub-nav.commercial-sub-nav {
    width: 200px;
    max-height: 500px;
    overflow-y: auto; }
  .global-header .sub-nav.commercial-sub-nav .products:after {
    background-color: none; }
  .global-header .main-nav .sub-nav {
    min-height: 100%; } }

/* C025 Custom */
.C025-video-carousel .cm-teasable__headline {
  color: #2d383f;
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.500em;
  text-align: left;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  max-height: 4.5em; }

/* C027 Table + DataTable*/
.C027-table .dataTable tr:first-child td {
  border-bottom-color: transparent; }

.C027-table .dataTable td {
  border-bottom: 1px solid transparent; }

/* CEMs */
.gray-background {
  background: #f0f0f0 !important; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /*padding-top: 35px;*/
  height: 0;
  overflow: hidden; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background-size: cover;
  background-position: center;
  position: relative; }

.gallery-top {
  height: 80%;
  width: 100%; }

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0 80px; }

.gallery-thumbs .swiper-slide {
  width: 33%;
  height: 250px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /*opacity: 0.4;*/ }
  @media (max-width: 1200px) {
    .gallery-thumbs .swiper-slide {
      width: 355px;
      height: 200px; } }
  .gallery-thumbs .swiper-slide img {
    display: block;
    height: auto;
    width: 100%; }
  .gallery-thumbs .swiper-slide .content-holder {
    position: absolute;
    top: 184px;
    left: 0;
    padding: 0;
    width: 100%; }
    @media (max-width: 1200px) {
      .gallery-thumbs .swiper-slide .content-holder {
        top: 140px; } }
    .gallery-thumbs .swiper-slide .content-holder:before {
      content: "Now Playing";
      width: 100%;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00aa7e;
      padding: 20px 0;
      color: #FFF;
      font-weight: 600;
      letter-spacing: .1em;
      text-transform: uppercase; }
      @media (max-width: 1200px) {
        .gallery-thumbs .swiper-slide .content-holder:before {
          font-size: .8em; } }

.gallery-thumbs .swiper-slide-active {
  opacity: 1; }
  .gallery-thumbs .swiper-slide-active .content-holder:before {
    visibility: visible; }

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 4px; }

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #c4ced1; }

table.dataTable.order-column tbody tr > .sorting_1,
.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3,
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3, table.dataTable.display tbody tr.odd>.sorting_1
 {
  background-color: transparent;
  /*font-size: .6666em;
  font-weight: 600;*/ 
  font-size: 11pt;
  font-weight: normal; 
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1{
    background-color:inherit;
}
table.dataTable.order-column tbody tr:hover > .sorting_1, .dataTable.order-column tbody tr:hover > .sorting_2, table.dataTable.order-column tbody tr:hover > .sorting_3, table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.display tbody tr.odd:hover>.sorting_1, 
table.dataTable.display tbody tr.even:hover>.sorting_1, table.dataTable.order-column.stripe tbody tr.even:hover>.sorting_1{
    background-color:#eaeaea;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
    background-color:transparent;
}

table.dataTable.stripe tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover{
    background-color:#f6f6f6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: none !important;
  color: #00aa7e !important;
  border: none !important;
  line-height: 38px;
  font-size: 1.125em; }

.test {
  content: "tool"; }
button.tblButton .btnIcon{
    padding:6px !important;
    margin-left:-12px !important;
    color: white !important;
}
button.tblButton{
    width:30px !important;
    height:30px !important;
    border-radius:5px !important;
}
#btnUploadReset{
    color:white !important;
}

.modal .modal-dialog .modal-footer .btnModalFooter {
    width: auto;
    line-height:3.5;
}

button.btnOutlinePrimary {
    background-color: white !important;
    color: #009e75 !important;
}

button.btnOutlinePrimary:hover {
    background-color: #009e75 !important;
    color: white !important;
}

.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background: rgba(0,0,0,.5);
    display: none;
}

.custom-list-group {
    cursor: pointer !important;
}

.custom-list-group:hover {
    z-index: 2;
    color: #fff;
    background-color: #00aa7e;
    border-color: #00aa7e;
}

.preloader-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9999;
    color: #FFF;
}

.cropped > img {
    margin-right: 10px;
}
  
.imageBox {
    position: center;
    height: 200px;
    width: 200px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    display:inline;
    background-repeat: no-repeat;
    cursor: move;
}


.imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

        .imageBox .spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 200px;
        background: rgba(0,0,0,0.7);
        }
        .img-container{
            margin-left:32% !important;
        }
        .img-container :hover {
            cursor:pointer;
            
        }
        .img-sized{

            width:200px;
        }
        .ddlFontColorBlack{
            color:black;
        }
    .row .rowheader .cta-buttons{
        margin-right:100px;
        float:right;
        display:inline-block;
    }

    @media screen and (max-width:387px){
        .row .rowheader .cta-buttons{
            float:none;
        }
        .row .rowheader .col-xs-12{
            text-align:center;
        }
        .panel-body .row .spsummarytable{
            width:100%;
        }
    }
    
    @media screen and (max-width:414px) and (min-width:376px){
        .row .getwellheader{
            text-align:center
        }
        .row .getwellheader .cta-buttons{
            float:none;
        }
        .row .getwellheader #HeaderTitle{
            font-size:auto;
            text-align:center;
        }
    }

    @media screen and (max-width:375px){
        .row .getwellheader #HeaderTitle{
            font-size:76%;
        }
    }

    @media screen and (max-width:766px) {    
        .global-footer .copyright {
            padding: 20px 0 20px 0 !important;
        }
        .global-footer .bottom {
            height: 160px !important;
        }
        .global-footer .bottom .sub-nav{
            text-align:left;
        }
        .scdistributionflex{
            display:flex;
            flex-flow:column-reverse;
        }  
        .modal .modal-dialog .modal-footer a#btnYes {
            width: auto;
            line-height:3.5;
        }
        .spmapmaintenance .row .spbtnsel span{
            display:inline;
        }
        #dataTableSupplierScore #form-header .savescoreview{
            background-color: #e1f3f6;
            height: 50px;
            margin-top: 50px;
        }

        /*#dataTableSupplierScore #form-header .row button{
            display: block;
            position: absolute;
            z-index: 2;
            left: 80%;
            margin-top:90%;
            width:18%;
        }*/
        .row .uploadscore{
            margin-top:10px;
        }
        .row .spmapping {
            text-align:center;
        }
        .row .spmapping .cta-buttons {
            float:none;
        }
        .spmapping #HeaderTitle{
            font-size:100%;
        }
        .row .rowheader{
            margin-top:0px
        }
        .row .rowheader .cta-buttons{
            margin:0px 0px;
            margin-right:0px;
        }
        .modal-dialog{
            width:auto !important;
        }
        #modal .modal-dialog .modal-content .modal-footer .btn {
        display: inline; 
        width: auto;
        }
        #main .row .comsheader{
            height:115px;
            margin-bottom:20px;
        }
        .row .comsheader #HeaderTitle{
            font-size:76%;
        }
        #main .cm-row .supplierrow .well #btnSendEmail{
            width:50%;
        }
        .btn{
            display:inline-block;
        }
        .row .col-xs-12 #btnGenerate{
            margin-top:10px;
        }
        .row .ulexcelsp{
            float:none;
            display:inherit;
        }
        .row #uploadSupplierMasterFile, #uploadSupplierScoreFile, #uploadSupplierExpenseFile, #uploadSupplierPaymentTermsFile{
            max-width:100%;
        }
        .row .ulselscore{
            width:45%;
            margin:10px 5px;
            display:inline;
            float:none;
        }
        .categoryDashboard .BannerContainer{
            float:none;
        }
        .categoryDashboard .BannerContainer .spheader{
            width:100%;
            height:50px;
            margin-bottom:20px;
        }
        .categoryDashboard .BannerContainer .verticaltext {
            width: 100%;
            word-wrap: normal;
            white-space: nowrap;
            margin: 0;
            position: relative;
            top: 30%;
            text-align:center;
            font-size:20px;
            font-weight:700;
        }
        .row .spgrsum{
            margin-left:auto;
        }
        .row .form-group .sptypesel, .row .form-group .spsearchsel, .row .form-group .spbtnsel{
            margin-top:5px; 
        }
        #dataTableSupplierScore .row .thumbnail{
            padding:0px;
        }
        #dataTableSupplierScore #scoringForm {
            position: relative;
            margin-top: 0;
            overflow:auto;
        }
        .ulheader #HeaderTitle{
            font-size:90%;
            line-height:12px;
        }
}
    #scoringForm {
        position: relative;
        margin-top: -30px;
    }
    #dataTableSupplierScore .thumbnail{
        padding:15px;
    }
    .row #btnSubmit{
        margin:auto;
        width:90%;
        height:50px;
        margin-left:5px;
    }
    .row #groupSupplierDetail-header {
        padding-right:0px;
        margin-left:-60px;
    }
    .row #groupSupplierDetail-subheader {
        float:left;
        width:420px;
    }
    #groupSupplierDetail-subheader .headerright {
        width: 100%;
        height: 0;
        border-bottom: 50px solid #dee6ea;
        border-left: 50px solid transparent;
        color:#000000;
        font-weight:bold;
        margin-left:-60px;
    }
    .form-group .spsearchsel, .form-group .scsoredistribution{
        margin:auto;
    }
    .spgrsum{
        margin-left:50px;
    }
    .BannerContainer{
        float:right;
    }
    .verticaltext {
        width: 1px;
        word-wrap: break-word;
        white-space: pre-wrap;
        margin: 0 15px;
        position: relative;
        top: 30%;
    }
    .spheader{
        background-image: linear-gradient(#fff, #004b8d);
        width:40px;
        height:1040px
    }
    .spsummarytable{
        width:100%;
    }
    .ulexcelsp{
        float:right;
    }
    .ulselscore{
        float:right;
        width:75%;
        margin-bottom:5px;
        height:40px;
    }


    @media (max-width: 631px){
    #main .homeheader, #main .rowheader {
        padding-bottom:90px;
    }
    #main .row .ulheader .col-xs-12 {
        text-align:center;
    }
    #main .row .ulheader .cta-buttons{
        float:none;
    }
    #main .row .rowheader #HeaderTitle cta-buttons{
        margin-right:70px !important;
    }
    }

    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .btn{
        width:100%;
    }
    /*#supplierPaymentTermsTable_filter{
        display:none;
    }*/
    .tabcontent{
        height:100%;
    }

    #supplierPaymentTermsTable_info{
        display:none;
    }

    #supplierPaymentTermsTable_wrapper,#supplierExpenseTable_wrapper{
        overflow:auto;
        max-height:460px;
    }

    .modal-header {
        background-color: #2d383f;
        color:#fff;
    }
    .close{
        color:#fff;
        opacity:1;
    }
/*body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
    margin-right:0px;
    padding-right:0px;
}*/
body.modal-open{
    margin-right:0px;
}
.modal-open .cm-row .navbar-fixed-top{
    margin-right:0px;
}
.rowheader{
    color: #fff;
    height: 80px;
    margin-top: -11px;
    width: 100%;
    font-size: 25px;
    padding: 20px 30px;
    /*background-color:#00aa7e;*/
     background: url('../images/header-bg-final.jpg') no-repeat;
    background-size: cover;
}

#btnAddSupplier, #btnAddCommunicationLetter, #btnAddScoringParam, #btnAddStakeholderSupplierMapping, #btnAddEmployee, #btnSendEmail, #btnAddSupplierPaymentTerms, #btnSaveGetWellProgram, #btnClearGetWellProgram, #btnSendReport, #btnAddSupplierExpense, #btnDownloadSupplierTemplate, #btnDownloadSupplierScoreTemplate, #btnDownloadSupplierExpenseTemplate, #btnDownloadSupplierPaymentTermsTemplate, #btnDownloadSupplier, #btnDownloadGetWellProgram, #btnShowUserLogs, #btnDownloadSupplierStatusReport,
#btnDownloadScoreDistributionTemplate {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    z-index: 10;
    height: 40px;
    float: left;
    background-color: #fff;
    color: #00aa7e;
}
.btn .btn-white{
    background-color:#fff;
    color:#00aa7e;
}
.btn.btn-white .text-wrapper {
    height: 40px;
}

.navbar-brand{
    padding:0px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #dee6ea;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.C027-table .table-container {
    box-shadow: none;
    padding: 2px;
}
.C027-table {
    padding-top: 20px;
    padding-bottom: 25px;
}
@media (max-width: 431px) and (min-width: 388px){
    .row #employees #HeaderTitle{
        font-size:80%;
    }
}

@media (min-width: 767px){
    .ulheader #HeaderTitle{
        font-size:26px;
    }
.C027-table td {
    font-size:11pt;
}}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 4px;
}
#supplierTable_length {
    display: none;
}
#supplierTable_filter, #tblSupplierStatus_filter, .dataTables_filter, .tblCommonSuppplier_filter{
    padding: 0px 30px 10px 0px;
}
#supplierTable_info, #tblSupplierStatus_info, #getWellTable_info, #tblCommonSuppplier_info, #tblCommonSuppplier_length{
    margin-left:20px;
}
.form-control[disabled] {
    cursor: default;
    background-color: transparent;
    border: none;
    box-shadow: none;
    resize:none;
}
select[disabled] {
    -moz-appearance: none;
    -webkit-appearance: none;
}
html input[disabled] {
    cursor: default;
    background-color: inherit;
    border: none;
}
.dataTables_length {
    display: none;
}


.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  visibility: visible !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
          box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  background: #f8f8f8;
  border-bottom: 1px solid #d0d0d0;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  font-size: 20px !important;
  line-height: 20px;
  color: #303030;
  opacity: 0.4;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  float: left;
  border-top: 0 none;
  border-right: 1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 17px;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-family: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  line-height: 18px;
  color: #303030;
}
.selectize-input,
.selectize-control.single .selectize-input.focus {
  display: inline-block;
  cursor: text;
  background: #ffffff;
}
.selectize-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding: 8px 8px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.selectize-control.multi .selectize-input.has-items {
  /*padding: 6px 8px 3px;*/
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.selectize-input > * {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: baseline;
  zoom: 1;
}
.selectize-control.multi .selectize-input > div {
  padding: 2px 6px;
  margin: 0 3px 3px 0;
  color: #fff;
  cursor: pointer;
  background: #00aa7e;
  border: 0 solid #d0d0d0;
}
.selectize-control.multi .selectize-input > div.active {
  color: #fff;
  background: #00aa7e;
  border: 0 solid #cacaca;
  /*margin:0 3px 0 0;*/
  margin-top:5px;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}
.selectize-input > input {
  max-width: 100% !important;
  max-height: none !important;
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 2px 0 0 !important;
  line-height: inherit !important;
  text-indent: 0 !important;
  background: none !important;
  border: 0 none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-user-select: auto !important;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  display: block;
  clear: left;
  content: ' ';
}
.selectize-input.dropdown-active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: #f0f0f0;
  content: ' ';
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  margin: -1px 0 0 0;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-top: 0 none;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.selectize-dropdown [data-selectable] {
  overflow: hidden;
  cursor: pointer;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #303030;
  cursor: default;
  background: #ffffff;
}
.selectize-dropdown .active {
  color: #495c68;
  background-color: #f5fafd;
}
.selectize-dropdown .active.create {
  color: #495c68;
}
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.focus,
.selectize-control.single .selectize-input.focus input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-color: transparent transparent #808080 transparent;
  border-width: 0 5px 5px 5px;
}
.selectize-control .selectize-input.disabled {
  background-color: #fafafa;
  opacity: 0.5;
}
.weightmultipler , .inputScore, .inputScoreWeight{
    text-align:center;
}
.employeeID, .dataTable tbody tr i, .dataTable tbody tr i, #supplierTable tbody tr i{
    margin-left:10px;
    margin-right:5px;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.sorting_1{
    text-align:start;
}
html input[disabled]{
   background-color:#fff;
}

.borderless-body tbody td{
    border:none;
}
.borderless-body tbody strong{
    font-size:large;
}
.borderless-body .font10{
    font-weight:500;
}

.global-header .main-nav>li>a, .global-header .main-nav>li>span{
    cursor:pointer !important;
}

/*#cm-header .main-header #main-nav{
    margin-left:230px;
}
#cm-header .main-header #main-nav li{
    float:right;
}*/
#form-header .savescore{
    display: inline-block;
}
@media (max-width: 1279px){
     .modal .modal-dialog .modal-footer a.btnModalFooter {
            width: auto;
            line-height:4.5;
    }
    .spmapmaintenance .spbtnsel span{
        display:none;
    }
    #dataTableSupplierScore #form-header .savescore{
        display:none;
    }
    #dataTableSupplierScore #form-header button{
        width: 35%;
        float: right;
        margin-right: 10px;
    }

.global-header .main-nav .mobile-top-link a {
    background-color: inherit !important;
    color:#fff !important
}
.global-header .main-nav .sub-nav a {
    color: #2d383f;
    display: block;
    padding: 15px 60px 15px 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #fff;
}
.utility-nav {
    font-size: .875em;
    line-height: 25px;
    background-color: #000;
    font-weight:500;
    text-align:right;
    color:#cecece;
    margin-left:0px;
}
.cm-row .stakeholderrow{
    margin-right:20px;
    margin-bottom:0px;
}
#main .cm-row .stakeholderrow .well{
    height:100%;
    margin-bottom:0px;
    border-bottom:none;
    box-shadow:none;
}

.cm-row .supplierrow{
    margin-left:20px;
}
#main .cm-row .supplierrow .well{
    height:100%;
    margin-top:0px;
    border-top:none;
    box-shadow:none;
}
.BannerContainer .spheader{
            width:100%;
            height:4205px;
        }
.BannerContainer .verticaltext{
    font-size:17px;
    line-height:30px;
}
    .row .groupSupplierDetail-header {
        padding-right:0px;
        padding-left:0px;
    }
        .row #groupSupplierDetail-subheader {
        width:100%;
    }
        #groupSupplierDetail-subheader .headerright {
        border-bottom: 50px solid #dee6ea;
        border-left: 50px solid transparent;
        margin-left:-50px;
        width:145%;
        /*border-bottom:none;*/
        /*border-left:none;*/
        float:left;
    }

}

.cm-row .stakeholderrow .well, .cm-row .supplierrow .well {
    max-height: 400px;
    overflow: auto;
    height: 400px;
    margin-top: 32px;
    border-right: none;
}
.cm-row .supplierrow .well #btnSendEmail{
    background-color: #00aa7e;
    margin-top: 10px;
    float: right;
    width: 25%;
}
.row .comsheader{
    margin-bottom:50px;
}

select[disabled]::-ms-expand{
        display:none;
    }
input[type=number][disabled]::-webkit-inner-spin-button, input[type=number][disabled]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    -moz-appearance:none;
    margin:0;
}
input[type=number][disabled],input[type=number] {
    -moz-appearance:textfield;
}

.navbar .nav-sign-out .btn-icon-signout{
    margin-right:25px;
}
.checkbox input[type="checkbox"] {
    position: inherit;
    margin-left: 0px;
}
#SupplierModalHeader .centered-content .order-first span, #SupplierModalHeader .centered-content button{
    padding:0 5px;
}


/*Styles for IE*/
@media screen and (min-width:0) and (min-resolution: +72dpi) and (max-width:381px) {
    .selector {
        property: value;
    }
    #accordion .panel-body #divSupplierPerformance .spsummarytable #supplierTable{
            font-size:60%;
        }
    .categoryDashboard .BannerContainer .verticaltext{
        font-size:100%;
    }
    .categoryDashboard .BannerContainer .spheader{
        height:100%;
    }
    .modal-open #AddEditSupplierModal, .modal-open #CommunicationLetterModal{
        padding:5px !important;
    }
     /*#SupplierModalHeader .centered-content .order-first span, #SupplierModalHeader .centered-content .order-last span{
         display:none;
     }*/
     #SupplierModalHeader .centered-content .order-first span, #SupplierModalHeader .centered-content button{
         padding:0 5px;
     }
     #CommunicationLetterModal .modal-footer button, #surverfrm .modal-footer button, #employeefrm .modal-footer button{
         width:45%;
         padding:0px;
     }
     .modal-open #surverfrm, .modal-open #employeefrm{
         padding-left:0px !important;
         padding-right:0px !important;
     }
}

/*Other Browsers Responsiveness*/
@media screen and (max-width:381px) {
    footer .padded-container .sub-nav a{
        margin-left:10px !important;
    }
    .ulheader #HeaderTitle, .scoringparamheader .cta-buttons span{
        font-size:75%;
        line-height:12px
    }
    .ulheader #btnDownloadSupplierTemplate span, .ulheader #btnDownloadSupplierScoreTemplate span, #ssmView .stakeholderstabfy, #ssmView .stakeholderstabfq{
        font-size:50%;
    }
    .navbar .nav-sign-out .btn-icon-signout{
    /*margin-right:35px;*/
    margin-left:5px;
    }
    .utility-nav{
        text-align:left;
    }
    .homeheader #HeaderTitle,.scoringparamheader #HeaderTitle{
        font-size:70%;
    }
    /*.spmapping #HeaderTitle{
        font-size:75%;
    }*/
    .spmapping #btnAddStakeholderSupplierMapping span, .row .comsheader .cta-buttons span, .row .employeeheader #HeaderTitle{
        font-size:65%;
    }
    /*.getwellheader #HeaderTitle{
        font-size:75%;
    }*/

    #ssmView .stakeholderstabtext{
        width:100%;
    }
    .cm-row .row .form-group .selectavail{
        /*width:50%;*/
        margin-bottom:5px;
    }
    .cm-row .row .form-group .selectfy, .cm-row .row .form-group .selectfq{
        /*width:25%;*/
    }
    .cm-row .row .form-group .selectfq{
        /*width:28%;*/
    }
    .row .comsheader #HeaderTitle{
        line-height:15px
    }
    #main .cm-row .supplierrow .well #btnSendEmail{
        width:100%;
    }
    .C027-table .cm-row .fysel{
        width:100%;
    }
    .C027-table .cm-row .labelsel{
        width:30%;
    }
    .form-group .cta-button #btnSendReport span{
        left:0;
    }
    .tabcontent .form-group .order-fist,.tabcontent .form-group .order-last{
        width:100%;
        margin:2px 0px;
    }
    .tabcontent .form-group .col-xs-5{
        width:60%;
    }
    .tabcontent #frmSupplierBUMapping .form-group button{
        width:100%;max-width:100%;
    }
    


    /*Microsoft Edge Custom Style - 381px screen*/
    @supports (-ms-ime-align: auto){
        .global-header .navbar-header .navbar-toggle{
            margin:13px 50px 0;
        }
        .global-header .main-nav > li:nth-child(2) > a::after, .global-header .main-nav > li:nth-child(2) > span::after, .global-header .main-nav > li:nth-child(3) > a::after, .global-header .main-nav > li:nth-child(3) > span::after, .global-header .main-nav > li:nth-child(4) > a::after, .global-header .main-nav > li:nth-child(4) > span::after, .global-header .main-nav > li:nth-child(6) > a::after, .global-header .main-nav > li:nth-child(6) > span::after{
            margin:13px 20px 0;
        }
        /*#main-wrapper .main-header{
            padding-right:30px;
        }*/
        #accordion .panel-body{
            padding:0px;
            padding-right:40px;
            padding-left:5px;
        }
        #AddEditSupplierModal .modal-dialog .modal-content{
            width:90%;
        }
        .modal-content{
            width:85%;
        }
        .getwellheader #HeaderTitle{
            font-size:80%;
        }
        #ssmView .col-xs-12, .spmapmaintenance .col-xs-12{
            width:90%;
        }
        .spmapmaintenance .SE004-search-box-inline .col-xs-12{
            width:100%;
        }
        /*#ssmView .stakeholderstabfy{
            margin-left:15px;
            margin-right:5px;
        }*/
    }
        #ssmView .stakeholderstabfy{
            margin-left:15px;
            margin-right:5px;
        }
 }

.form-group .cta-button #btnSendReport span{
    left:70%;
}
.panel-body #divSupplierPerformance #supplierTable{
    font-size:11px;
}
.popover-title{
    background-color:#2d383f;
    color:#fff;
}
.popover{
    word-wrap:break-word;
    max-height:140px;
    overflow:auto;

}
.uploadscore{
    margin-top:30px;
}


@-moz-document url-prefix() {
  
    .row .uploadscore .form-control{
        padding:0px 15px;
        height:100%;
        border:none;
        box-shadow:none;
    }
    .mozfile{
        display: block;
        width: 100%;
        height: 48px;
        padding: 3px 15px;
        font-size: 16px;
        line-height: 1.625;
        color: #f0f0f0;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        margin-bottom:6px;
    }
}
}


button#btnYes.btn.btn-primary.btnModalFooter,
button#btnNo.btn.btn-primary.btnModalFooter {
    height: 50px;
}

.spmapmaintenance .well #btnDelete{
    color:#00aa7e;
    background-color:#fff;
    border-color:#fff;
    border:1px;
    height:25px;
}
.spmapmaintenance .well #btnDelete:hover{
    color:#009e75;
    background-color:#fff;
}

.container .C027-table .borderless-body table .parameter1{
    border-bottom:3px solid #44546a;
}
.container .C027-table .borderless-body table .parameter2{
    border-bottom:3px solid #008000;
}
.container .C027-table .borderless-body table .parameter3{
    border-bottom:3px solid #00b0f0;
}
.container .C027-table .borderless-body table .parameter4{
    border-bottom:3px solid #ffc000;
}

/* tooltip */


.tool-tip{
	color: #fff;
	background-color: rgba( 0, 0, 0, .7);
	text-shadow: none;
	font-size: .8em;
	visibility: hidden;
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	-o-border-radius: 7px; 
	border-radius: 7px;	
	text-align: center;	
	opacity: 0;
	z-index: 999;
	padding: 3px 8px;	
	position: absolute;
	cursor: default;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;	
}

.tool-tip,
.tool-tip.top{
	top: auto;
	bottom: 114%;
	left: 50%;		
}

.tool-tip.top:after,
.tool-tip:after{
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -7px;
	content: ' ';
	height: 0px;
	width: 0px;
	border: 6px solid transparent;
    border-top-color: rgba( 0, 0, 0, .7);	
}

/* default heights, width and margin w/o Javscript */

.tool-tip,
.tool-tip.top{
    /*width:50%;*/
	/*width: 80px;*/
	height: 22px;
	margin-left: -50%;
}

/* tool tip position right */

.tool-tip.right{
	top: 50%;
	right: auto;
	left: 106%;
	margin-top: -15px;
	margin-right: auto;	
	margin-left: auto;
}

.tool-tip.right:after{
	left: -5px;
	top: 50%;	
	margin-top: -6px;
	bottom: auto;
	border-top-color: transparent;	
    border-right-color: rgba( 0, 0, 0, .7);	
}

/* tool tip position left */

.tool-tip.left{
	top: 50%;
	left: auto;
	right: 105%;
	margin-top: -15px;	
	margin-left: auto;	
}

.tool-tip.left:after{
	left: auto;
	right: -12px;
	top: 50%;
	margin-top: -6px;
	bottom: auto;
	border-top-color: transparent;	
    border-left-color: rgba( 0, 0, 0, .7);	
}

/* tool tip position bottom */

.tool-tip.bottom{
	top: 115%;
	bottom: auto;
	left: 50%;
	margin-bottom: auto;	
}

.tool-tip.bottom:after{
	position: absolute;
	top: -12px;
	left: 50%;
	margin-left: -7px;
	content: ' ';
	height: 0px;
	width: 0px;
	border: 6px solid transparent;
    border-top-color: transparent;	
    border-bottom-color: rgba( 0, 0, 0, .6);	
}

/* tooltip on focus left and right */

.on-focus .tool-tip.left,
.on-focus .tool-tip.right{
	margin-top: -19px;
}

/* on hover of element containing tooltip default*/

*:not(.on-focus):hover > .tool-tip,
.on-focus input:focus + .tool-tip{
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;		
}


/* tool tip slide out */

*:not(.on-focus) > .tool-tip.slideIn,
.on-focus > .tool-tip{
	display: block;
}

.on-focus > .tool-tip.slideIn{
	z-index: -1;
}

.on-focus > input:focus + .tool-tip.slideIn{
	z-index: 1;
}

/* bottom slideIn */

*:not(.on-focus) > .tool-tip.slideIn.bottom,
.on-focus > .tool-tip.slideIn.bottom{
	top: 50%;	
}

*:not(.on-focus):hover > .tool-tip.slideIn.bottom,
.on-focus > input:focus + .tool-tip.slideIn.bottom{
	top: 115%;
}	

/*.on-focus > input:focus + .tool-tip.slideIn.bottom{
	top: 100%;
}*/

/* top slideIn */

*:not(.on-focus) > .tool-tip.slideIn,
*:not(.on-focus) > .tool-tip.slideIn.top,
.on-focus > .tool-tip.slideIn,
.on-focus > .tool-tip.slideIn.top{
	bottom: 50%;
}

*:not(.on-focus):hover > .tool-tip.slideIn,
*:not(.on-focus):hover > .tool-tip.slideIn.top,
.on-focus > input:focus + .tool-tip.slideIn,
.on-focus > input:focus + .tool-tip.slideIn.top{
	bottom: 110%;
}	

/* left slideIn */

*:not(.on-focus) > .tool-tip.slideIn.left,
.on-focus > .tool-tip.slideIn.left{
	right: 50%;	
}

*:not(.on-focus):hover > .tool-tip.slideIn.left,
.on-focus > input:focus + .tool-tip.slideIn.left{
	right: 105%;		
}

/* right slideIn */

*:not(.on-focus) > .tool-tip.slideIn.right,
.on-focus > .tool-tip.slideIn.right{
	left: 50%;		
}

*:not(.on-focus):hover > .tool-tip.slideIn.right,
.on-focus > input:focus + .tool-tip.slideIn.right{
	left: 105%;
}

.panel-group .panel {
    background: #FAFAFA;
}
.panel-group .panel-heading {
    background-color: #fff;
    color: #00aa7e;
    border-bottom: 1px solid #dedede;
}

body .ui-accordion .ui-accordion-header {
    position: relative;
}

body .ui-icon.fa {
    background: none;
    color: #00aa7e;
    text-indent: unset;
    position: absolute;
    right: 10px;
    top: 18px;
}

body .ui-state-active {
    color: #333;
}

tbody tr td .BUContacts {
    white-space:nowrap;
}

.panel #contacts .panel-body li:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;
}

.panel #contacts .panel-body li{
    list-style:none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.bottom{
    /*height: 100px !important;
    padding-top: 15px !important;
    padding-bottom: 50px !important;*/
    height:100%;
    line-height:29px;
}

.global-footer .sub-nav{
    text-align:right;
    font-size:11.375px;
}
.modal-close {
    /*float: right;*/
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.modal-close {
    color: #fff;
    opacity: 1;
}
button.modal-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
#frmSupplier .form-group .col-md-8 .form-control[disabled]{
    margin:4px 0;
}

#frmSupplierPaymentTerms .form-group .selectize-input{
    padding:10px 15px;
}
#frmSupplierPaymentTerms .form-group .selectize-dropdown{
    padding:5px 5px;
}
.popover .arrow:after, .popover .arrow{
    display:none;
}

table.dataTable thead th, table.dataTable thead td{
    border-bottom:none;
}

.row .rowheader .col-xs-12 .supplierbutton{
    margin-right:0px;
    display:inline-flex;
}

@media screen and (max-width:766px) and (min-width:569px){
        .row .supplierrowheader{
            height:120px;
        }
        .row .supplierrowheader .col-xs-12 .supplierbutton{
            margin-right:0px;
            display:block;
            width:45%;
        }
}

@media screen and (max-width:568px){
    .row .supplierrowheader{
        height:170px;
    }
    .row .supplierrowheader .suppliercol{
        text-align:center
    }
    .row .supplierrowheader .col-xs-12 .supplierbutton{
        display:inline-block;
        width:90%;
        /*float:none;*/
    }
}